[2017-10-25 16:48] yeshijinsel commented on #3211
ok
i will do this..

[2017-10-25 16:49] ksigler7 commented on #3211
@yeshijinsel thanks for taking this up!

[2017-10-25 16:54] ksigler7 opened #3215 "Redirect broken links"
All of these links are broken. In the redirects.htcaccess file, please set up redirects of these pages to existing content that makes sense. Some of these pages may have redirects to them already, please make sure you update those too so there's no double redirects

| url                                                                                             | found_at_url

[2017-10-25 17:00] ksigler7 opened #3216 "Add libraries to our libraries list"
Audit this list -  http://libraries.io/search?q=SendGrid

Add any missing libraries to the correct place on this page: https://sendgrid.com/docs/Integrate/libraries.html

Please match the format of the existing libraries in the list

[2017-10-25 17:08] Xndr7 commented on #3215
I'll do it!

[2017-10-25 17:20] yeshijinsel commented on #3211
why its been closed

[2017-10-25 17:21] yeshijinsel commented on #3211
has somebody solve already this issue

[2017-10-25 17:29] ns61817 commented on #3216
I can do it

[2017-10-25 18:46] afischer12 commented on #3208
I'll help!

[2017-10-25 20:53] #2862 closed

[2017-10-25 20:56] 0x48piraj commented on #3213
location ? where to add ?

[2017-10-25 21:13] 0x48piraj commented on #3209
Can you please help me to jump-start ?

And, I really want to make a successful PR :blue_heart:

[2017-10-25 22:04] cs2425 commented on #3207
I'll take a crack at this!

[2017-10-25 23:03] #3215 closed

[2017-10-25 23:16] #3211 closed

[2017-10-25 23:17] ksigler7 commented on #3211
@yeshijinsel, yeah, it looks like it was grabbed in https://github.com/sendgrid/docs/pull/3217 - thanks for being willing to do this though! Please check back often, we are always adding new issues!

[2017-10-25 23:25] #3207 closed

[2017-10-26 01:28] jQwotos opened #3226 "Vagrant box outdated / no longer exists"
The vagrant box image for ```utopic-server-cloudimg-amd64-vagrant-disk1.box``` no longer exists
Change to using trusty or Precise

[2017-10-26 01:39] Aonepathan commented on #3089
@thepriefy @triphius Just added Statistics

[2017-10-26 05:59] shvmsrma commented on #3213
where to add?

[2017-10-26 08:42] itaditya opened #3230 "Incosistent shell commands"
In many places, there are instructions to run command like this - `$ npm install`.
However at some places, this pattern is not followed and there it's simply written `npm install`.

This should be fixed

[2017-10-26 09:16] jgrrdnd commented on #3216
Hi, I added some libraries. PR #3232

[2017-10-26 13:17] PAPERPANKS commented on #3209
@ksigler7  done with this issue

[2017-10-26 13:57] ns61817 commented on #3216
Updates to some #3235

[2017-10-26 19:36] mbernier opened #3239 "Update docker build to use docker-compose and volumes"
As of #3236 we have the docs environment running in docker. This is AMAZING! However, each change to a file means you have to rebuild the docker container and the build files are not necessarily being cached.

## Expected Result
What would be amazing is:
- docker container setup that mounts a local volume for:
  - node_modules  -- allowing for caching on build
  - ruby gems  -- allowing for cachin

[2017-10-26 19:51] ksigler7 opened #3240 "Add instructions for deploying the docker build to the readme.md"
Recently, @szemek was awesome and dockerized our docs: https://github.com/sendgrid/docs/pull/3236

The to do here is to add instructions to our readme for deploying them with docker!

[2017-10-26 19:57] marti1125 commented on #3240
@ksigler7  I am working in :+1:

[2017-10-26 20:00] mbernier opened #3241 "Create a USAGE.MD file"
## Expected content
This file should include the following information:
- Where the docs files are located (/source/)
- How to start up the Jekyll build (see README)
- How to start Jekyll in Docker (see README)
- How to run linklinkt (in travis.yml)
- How to run jsonlink (in travis.yml)
- How to run spellcheck `npm run spellcheck`

[2017-10-26 20:01] Whatthefoxsays commented on #3213
Hi @0x48piraj and @shvmsrma -  thanks for your question! Here's a really good example of where and how to add a glossary page: https://github.com/sendgrid/docs/pull/3183

[2017-10-26 20:03] mbernier opened #3242 "Create CONTRIBUTING.md"
Create a CONTRIBUTING.md file in this repo. You can see an example of this in our [python repo](https://github.com/sendgrid/sendgrid-python/blob/master/CONTRIBUTING.md).

Please modify this file to apply to the docs (you can get a lot of what you need from README) and make sure the python specific items are not in CONTRIBUTING.

[2017-10-26 20:12] yannbf commented on #3242
Can I take this? 💃

[2017-10-26 20:20] triphius commented on #3089
I haven't gotten that many pages fixed up so far, but there were some other fixes that needed to be done on these pages:

User Guide > Settings > Billing
User Guide > Settings > Subusers > Subusers Overview
User Guide > Settings > Subusers > Impersonation
User Guide > Settings > Subusers > Profile
User Guide > Settings > Subusers > Settings

On the above pages, the Additional Resources content has

[2017-10-26 20:51] cs2425 commented on #3210
I'll take this one!

[2017-10-27 01:27] Aonepathan commented on #3089
@triphius Thank you!

Just added Legacy Newletter

We're almost there @thepriefy @triphius!
What should be left: Marketing Campaigns, Suppressions and remaining of Settings

[2017-10-27 14:41] #3208 closed

[2017-10-27 15:19] bhavin192 commented on #3239
I will work on this.

[2017-10-27 17:24] ksigler7 commented on #3100
this is still open and incomplete! the original submission did not document the correct panel, so someone else can feel free to pick it up!

@DhariniJeeva @Sidsharik

[2017-10-27 17:26] #3230 closed

[2017-10-27 17:32] yeshijinsel commented on #3242
Is we have to add our profile in here

[2017-10-27 19:04] #3213 closed

[2017-10-27 21:12] #3242 closed

[2017-10-28 22:19] budu opened #3265 "Event Webhook smtp-id"
The doc says

I can't find anything else about this in the docs.

How is this id can be attached to the message?
If we don't have control over it, how do we match the events with anything?

[2017-10-28 22:21] budu commented on #3265
Is that the `Message-ID`?

[2017-10-29 16:15] ksigler7 commented on #3265
@budu - hmm, can you please link to where the docs say this?

[2017-10-29 16:21] ksigler7 commented on #3240
thanks for taking this up @marti1125!

[2017-10-29 16:21] ksigler7 commented on #3216
@ns61817 thanks so much for taking this up!

[2017-10-29 16:21] #3216 closed

[2017-10-29 16:23] ksigler7 commented on #3210
thanks for taking this up Colin! @cs2425

[2017-10-29 16:31] ksigler7 commented on #3209
@PAPERPANKS - thanks for taking this up!

[2017-10-29 16:37] ksigler7 commented on #3209
@0x48piraj - I am so sorry I missed your comment the other day. Unfortunately, this issue has already been taken, but I have noticed some grammatical errors in our [main readme](https://github.com/sendgrid/docs/edit/develop/README.markdown) that might be a good way to **jump-start**!

In line 64, `making a contribution` should be `contributing` and there should be a comma after `in this way`
In li

[2017-10-29 16:39] ksigler7 commented on #3134
thanks so much for everyones effort on this! it looks much better to me, but I can for sure reopen this issue if anyone notices anything else!

[2017-10-29 16:39] #3134 closed

[2017-10-29 16:40] budu commented on #3265
In the Webhooks event documentation:

https://github.com/sendgrid/docs/search?utf8=%E2%9C%93&q=An+id+attached+to+the+message+by+the+originating+system&type=

[2017-10-29 18:02] marti1125 commented on #3240
@ksigler7  could you give some instructions

[2017-10-29 23:17] ry167 opened #3269 "Batch / Scheduled Send documentation is confusing"
Just thought that I would point out that this article is quite confusing, not sure what the best fix would be

## Expected content

Title like "Scheduled Sends or "Batches" and information about Batches / Scheduled Sends, why and when they should be used

## Actual content

The page title is "Cancel Scheduled Sends" which is confusing.

Then the article talks about creating and validating Batch se

[2017-10-30 05:55] PAPERPANKS commented on #3209
@ksigler7 if the pull request #3234 resolve this issue, then merge this asap as the deadline for the hacktoberfest is very near

[2017-10-30 06:03] PAPERPANKS commented on #3180
@mbernier the pull request #3206 contains commit [updating email address](https://github.com/sendgrid/docs/pull/3206/commits/85181c5f86aa2015a66aecebdd1f6eeaa5b74224) with the code that you have asked to resolve this issue, can you just add a `difficulty:medium` tag to this pull request

[2017-10-30 11:42] akshat14714 commented on #2667
I would like to work on this issue

[2017-10-30 19:53] ksigler7 opened #3285 "Update the term action cog throughout the doc"
Throughout the doc, we use the term "action cog", or in some cases, [this icon](https://github.com/sendgrid/docs/blob/develop/source/images/terms_5.png) to represent an action menu that is common in our UI. All instances of the term "action cog" or instances of the images should be changed to the term "action menu"

[2017-10-30 21:28] timtheguy commented on #3285
Happy to give this one a try, I'll get on it now!

[2017-10-30 21:45] ksigler7 commented on #3209
@PAPERPANKS - thanks for the comment! totally understand your worry here. We are hoping to get everything merged in by the end of the day tomorrow, but know that if that doesn't happen, we are working directly with Github and DigitalOcean to make sure everyone gets the credit they deserve!

[2017-10-30 22:23] #3241 closed

[2017-10-30 22:30] #3210 closed

[2017-10-30 22:32] #3285 closed

[2017-10-30 22:34] ksigler7 commented on #3180
@PAPERPANKS fixed the messed up label!

@SimonSickle - can you please see my comment in your pull request? There seems to be some duplication in your script.

[2017-10-30 22:39] ksigler7 commented on #3180
OOOOH, I finally see what you did here @PAPERPANKS! Thanks so much for the fix!!

@SimonSickle - never mind - looks like @PAPERPANKS has us both covered!

[2017-10-30 22:42] #3180 closed

[2017-10-30 22:52] #3226 closed

[2017-10-30 23:25] ksigler7 commented on #2667
@akshat14714 thanks for your additions!

[2017-10-30 23:39] ksigler7 commented on #3240
@marti1125 - I actually don't know how - I've never worked with docker. Maybe @szemek has some suggestions?

[2017-10-30 23:42] ksigler7 commented on #3209
@PAPERPANKS - just wanted to make sure you saw my conflict fix - https://github.com/PAPERPANKS/docs/pull/1

[2017-10-31 00:53] sshadmand opened #3287 "Personalizations"
https://sendgrid.com/docs/Classroom/Send/v3_Mail_Send/personalizations.html

You docs around using templates is pretty bad. Like, I am about to find another service bad. This guys seems to agree https://ashokfernandez.wordpress.com/2016/05/27/using-sendgrid-templates-with-node-js/, but unfortunatlty the Mono Repo use case has changes how the sendgred import works and neither your, nor his, docs wo

[2017-10-31 01:00] sshadmand commented on #3287
In addition, your error asks for params to be added that are not in your documentation :-/

[code]

[2017-10-31 01:54] sshadmand commented on #3287
I am going through so many varieties of how to do personalization and substitutions and nothing works completely. Either the wrong dictionary params, or the email sends but substitutions to work. This is super frustrating 👎

[2017-10-31 12:16] kunalvishnoi commented on #3209
may i go for this?

[2017-10-31 15:57] mbernier opened #3290 "Hacktoberfest: SendGrid Current Status"
## Update 11/1/2017

I *believe* that every sendgrid/docs Hacktoberfest PR has been merged and access to our swag form has been granted to those contributors. If you haven't seen this yet, please go to your PR and follow the link to the comment from SendGridDX.

Thank you for your contributions this month, we are overwhelmed and elated at the response.

- [Matt Bernier](https://github.com/mbernier

[2017-10-31 17:06] ksigler7 commented on #3287
Hi @sshadmand,

Thanks so much for your feedback! You are definitely correct that the documentation and the user experience in general for templates is pretty frustrating. I am going to close this issue because we are currently in the process of improving all of this internally and we hope to push updates soon. However, if you haven't already, I'd encourage you to reach out to our support team. Th

[2017-10-31 17:06] #3287 closed

[2017-10-31 17:21] ksigler7 commented on #3269
Hi @ry167,

Thanks so much for the suggestion! You're right that this seems odd. Right now, we are in the process of migrating all of our doc to our new format. So, this page is now here: https://sendgrid.api-docs.io/v3.0/cancel-scheduled-sends - it is odd there too.

I am going to close this pull request, because we're not really updating our old doc anymore since we are about to make the full sw

[2017-10-31 17:21] #3269 closed

[2017-10-31 17:53] afischer12 commented on #3290
I just joined in the issues for hacktoberfest, but I'll try to continue helping with issues!

[2017-10-31 18:40] ksigler7 commented on #3290
thanks so much @afischer12!

[2017-10-31 20:51] shriyash commented on #3240
Hey @ksigler7 - also confused what you mean with this task, and would love more details! Opening terminal and running these commands should deploy locally. They seem to already be [in the docs](https://github.com/sendgrid/docs#using-docker).
[code]

[2017-10-31 22:00] gelvezz23 commented on #3290
como pongo una etiqueta

[2017-10-31 22:05] gelvezz23 opened #3298 "Hacktoberfest Latinos !! Silux"
Lastimosamente no pude participar a tiempo ;(
pero igual lo intento

pertenesco a semillero de SILUX - Promoviendo el codigo libre ( FREE )

:v problema
vi que no hay casi latinos :( bueno hasta el momento no eh visto, casi todos los problemas se me hace dificil de identificar por la lengua en la que hablar( escriben), pero igual ahi hice lo que pude

y lastima, en mi universidad eh estado muy ata

[2017-10-31 22:14] ksigler7 commented on #3290
@gelvezz23 - one of the repo admins has to tag stuff. We are going through now and making sure that everything is tagged as hacktoberfest though! comment in your PR if we've missed yours

[2017-10-31 22:18] gelvezz23 commented on #3290
@ksigler7 soy nuevo en git y no se que hacer la verdad :(

[2017-10-31 22:24] ksigler7 commented on #3209
@kunalvishnoi thanks for the offer, but this one should have closed. Auto close didn't work for some reason.

[2017-10-31 22:24] #3209 closed

[2017-10-31 22:31] ksigler7 commented on #3298
@gelvezz23 - thanks for your comment! This is a difficult one for this repo, because this repo is for our product documentation and our main documentation set is in English (you can check it out [here](https://sendgrid.com/docs/index.html) and we do not currently offer it in any other languages.

However, there are most definitely Latino contributors to our [code libraries](https://github.com/send

[2017-10-31 22:33] gelvezz23 commented on #3298
@ksigler7 gracias :D

[2017-10-31 22:34] ksigler7 commented on #3290
@gelvezz23 - If you are new to git, you should go to the [central Hacktoberfest list](https://github.com/search?q=label:hacktoberfest+state:open+type:issue), and look for issues tagged with `help wanted` or `good first issue`! Those are usually good ones for beginners.

[2017-10-31 22:35] gelvezz23 commented on #3298
@ksigler7 poco a poco voy aprendiendo sobre github

[2017-10-31 22:42] gelvezz23 commented on #3290
@ksigler7 gracias, muchas gracias por su `colaboracion `echo "!! get lucky"`

[2017-11-01 01:45] cmckni3 opened #3302 "Bower is deprecated"
Bower should be removed and replaced with `npm` packages. From a quick glance everything should be available on npm except for modernizr.

https://bower.io/blog/2017/how-to-migrate-away-from-bower/

[2017-11-01 02:08] sshadmand commented on #3287
K. Thanks @ksigler7. I opened this request https://support.sendgrid.com/hc/en-us/requests/1284177, hopefully it will get me where I'd like to be. Will be happy to post back to your wiki and/or Stackoverflow once I get it working.

[2017-11-01 05:05] ksigler7 commented on #3290
@gelvezz23 you're very welcome!

[2017-11-01 05:15] #3239 closed

[2017-11-01 05:21] ksigler7 commented on #3240
@shriyash wow, thank you so much! I missed this getting added in. Closing this issue.

[2017-11-01 05:21] #3240 closed

[2017-11-01 06:10] thepriefy commented on #3290
Thx for a hard work on reviewing and merging a lot of PRs. I have a lot of fun during the hacktoberfest and I'll continue contributing to your projects. :)

[2017-11-01 13:05] mbernier commented on #3290
@thepriefy You totally kicked ass for us and we are VERY grateful to you and the work you did. I hope that you saw the fact that you were at the top of our leaderboard for most of the month! https://dx.sendgrid.com/hacktoberfest

[2017-11-01 15:07] Aonepathan commented on #3089
@ksigler7 Thank you for the awesome Hacktoberfest event and handling all my PR's, it was really a lot of fun! I was curious if I could still submit to truly finish this issue, I know there are some pages missing Additional Resources and could add it to them. I just wasn't sure this was exclusive to only Hacktoberfest as a event.  And I'm sorry it took so long trying to finish this issue!

[2017-11-01 15:26] ksigler7 commented on #3089
@Aonepathan - it would be amazing if you were to finish this out! I don't think any of us realized quite how much effort this was going to take, and we really really appreciate everything you have put into this and everything else you've worked on for us!

We are open source all year around, so if you ever notice anything else that needs updated in our docs, or any issues that you're interested in

[2017-11-01 15:28] ksigler7 commented on #3290
@thepriefy - yeah, thanks for everything you did! We really appreciate it!

[2017-11-01 16:15] #3298 closed

[2017-11-02 09:13] tulikavijay commented on #3302
I would like to work on this

[2017-11-02 15:17] ksigler7 commented on #3302
sure, thanks @tulikavijay!

[2017-11-03 13:18] tulikavijay commented on #3302
Can you explain how to go about this? Do I remove it from dependencies (package.json) and develop/build.

[2017-11-03 13:41] cmckni3 commented on #3302
Remove it from `package.json`, remove all setup instructions involving `bower`, and replace all dependencies installed with bower (`bower.json`) with their npmjs.org (`package.json`) equivalent. Then `bower.json` can be removed along with `bower_components` (ignored in .gitignore). You can remove `bower_components` from gitignore as well. Might be a `.bowerrc` file that needs to be deleted as well

[2017-11-09 06:36] SimonEast opened #3323 "Transactional Templates: examples of sending with dynamic data"
Looking at https://sendgrid.com/docs/API_Reference/Web_API_v3/Transactional_Templates/index.html

Can't seem to find an example of sending an email using a template stored on SendGrid. Would be nice if it could explain how to supply dynamic data, for example how to send an invoice using a stored template and passing in a data object containing line items, total, shipping cost etc.

(Is that even p

[2017-11-10 21:04] ksigler7 commented on #3323
Hey @SimonEast - This is a question we get a lot! Check out our mail-send API documentation - https://sendgrid.api-docs.io/v3.0/mail-send - If you expand the properties in the Request data, you'll see an object for `template_id`, which is how you specify a transactional template, and then you'd use `sections` to have dynamic data. I hope that helps! If you are looking for help with your specific i

[2017-11-10 21:04] #3323 closed

[2017-11-10 22:44] Lakhwinder opened #3327 "Account Sign Up FAQs"
https://sendgrid.com/docs/Classroom/Basics/Account/account_sign_up_faq.html
I got the email verification link and within a few minutes when I tried to verify the account, it started giving me "Email confirmation link expired". Not able to login now. Not even able to contact support.

[2017-11-12 06:15] SimonEast commented on #3323
OK, sure. Thanks for the informative response. 😊

[2017-11-13 23:55] ksigler7 commented on #3327
Hello @Lakhwinder ,

Sorry you're having this issue! You can contact our support team by emailing support(at)sendgrid.com.

SendGrid Docs Team

[2017-11-13 23:55] #3327 closed

[2017-11-17 20:19] ksigler7 commented on #3323
@SimonEast - We are actually looking for beta testers for our upcoming new transactional template functionality. Would you be interested in participating?

Some more info here: https://github.com/sendgrid/sendgrid-nodejs/issues/221

[2017-11-19 08:07] SimonEast commented on #3323
Ok good to know it's almost here, but unfortunately I'm not a SendGrid user (yet). Just researching possible options for an upcoming project. I don't think I'll be able to beta test at this stage.

[2017-11-20 21:12] ksigler7 opened #3335 "Update yajl-ruby dependency defined in Gemfile.lock"
The yajl-ruby dependency defined in Gemfile.lock has a known low severity security vulnerability in version range < 1.3.1 and should be updated.

[2017-11-23 16:35] dle-coursera opened #3343 "Substitution and Section Tags"
https://sendgrid.com/docs/Classroom/Build/Add_Content/substitution_and_section_tags.html

Your documentation on substitution tags is incorrect. The tags can be anything as long as it's wrapped in double brackets ex **{{some_tag}}**. Note this does not work **-some_tag-**.

Refer to https://support.sendgrid.com/hc/en-us/requests/1306319 for more details.

[2017-11-27 18:19] ksigler7 commented on #3343
@dle-coursera - good catch! thanks for the suggestion. I've both added it to our internal backlog, and I am opening it up here so maybe one of our external contributors can pick it up.

The to do here is to update the [Substitution and Section Tags page](https://sendgrid.com/docs/Classroom/Build/Add_Content/substitution_and_section_tags.html) examples that use `-some_tag-` to use the correct forma

[2017-11-28 18:34] #3343 closed

[2017-11-28 21:37] #3335 closed

[2017-11-30 18:09] JLuzz opened #3356 "New Editing "Experience"? Pain free? no toggle?"
https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/beta_editors.html

Bring back the ability to toggle between code view and design view please.

[2017-11-30 18:16] ksigler7 commented on #3356
Hey @JLuzz - thanks for your feedback. We've passed it onto the appropriate team. I am going to close this issue, since this is not specifically docs related and this is a forum for problems with the documentation.

[2017-11-30 18:16] #3356 closed

[2017-12-01 20:36] tobiasboyd opened #3364 "Drops"
https://sendgrid.com/docs/Glossary/drops.html

Typo here: `You can visit your suppression lists and removing an address from the bounces list.`

(btw, when you remove an address from Bounces the flash message says 'event removed' - which makes it sound more like you are just deleting it out of the log, not actually removing the address)

[2017-12-03 01:40] dzwick opened #3365 "Using Custom Fields"
Two things:

1. When I click "drop us a line" nothing happened.

2. Under "Deleting a Custom Field"

-----

Deleting a custom field deletes all values for that field across your contact database. If you have any campaigns using the data in this field with a substitution tag, those values NOT get replaced when you send the campaign. You cannot delete a custom field that is used in a segment. This d

[2017-12-03 01:41] dzwick opened #3366 "A/B Testing Your Campaign"
Top of page:

-----

Optimize the engagement of your Marketing Campaigns with A/B testing. A/B testing allows you send different versions of your emails to small subsets of your contacts.

-----

Should be "...allows you TO send..."

https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/a_b_testing.html

[2017-12-04 08:44] vikash1903 commented on #3089
Hello Guys I need one help

[2017-12-04 10:13] thepriefy commented on #3089
@vikash1903 Hi! How can I help you?

[2017-12-04 16:57] #3366 closed

[2017-12-04 17:40] Whatthefoxsays commented on #3365
Fixed:

https://github.com/sendgrid/docs/pull/3368

[2017-12-04 17:40] #3365 closed

[2017-12-06 09:26] dzwick opened #3370 "Account Details"
https://sendgrid.com/docs/User_Guide/Settings/account.html

Can't see an option for "Billing Email" on my account settings page.

[2017-12-06 12:33] Andikki opened #3371 "Substitution and Section Tags"
https://sendgrid.com/docs/Classroom/Build/Add_Content/substitution_and_section_tags.html

I think the article is broken. All tags are empty, so there's text like this throughout the article:

Checked in Firefox and Chrome.

[2017-12-06 15:16] ksigler7 commented on #3370
@dzwick - good catch! There is no billing email anymore. To change where your bills are sent, you need to update your main email address under account settings.

The to do here is to update the *Email address* section to also say that this is where your bills are sent, and then to delete the *Billing email* section.

[2017-12-06 15:22] ksigler7 commented on #3371
@Andikki oh wow, this is a great catch. It looks like our site isn't building things like `{{name}}` correctly.

[2017-12-06 16:26] #3370 closed

[2017-12-06 21:18] ksigler7 commented on #3364
@tobiasboyd good catch! Sorry for the delayed response, I somehow missed this one. I'll let the dev team know about the weird error message.

The to do here is this: On line 43 `You can visit your suppression lists and removing an address from the bounces list.` should be `On the suppression list page, you can remove an address from the bounces list.`

[2017-12-06 21:24] #3371 closed

[2017-12-10 22:16] NexWeb commented on #3290
Oh no. Did Sendgrid trick us all into doing a bunch of work for free with the lure of a tshirt? 😄
Which by the way we never received.
Did anyone get one?

[2017-12-11 16:02] #3364 closed

[2017-12-11 22:32] mbernier commented on #1417
@david-roth we specifically only allow our docs, because it lets people try the API without writing any code and we can generally control how the API Keys are used (you use it in your own session, we never see it). However from a 3rd party code standpoint, we cannot control how people distribute their keys - so it makes it a compliance issue.

One thing we are working with a current customer on is

[2017-12-11 22:38] mbernier commented on #3290
@NexWeb No way!

We had so many contributors, that we had to order more shirts, pins, and stickers. The fulfillment house has everything and should be sending them all out. Everyone who provided an email address will be getting a notification from them (look for an email from KotisDesigns). There should be a special message in the email from us as well.

I know it is taking FOREVER, we are embarra

[2017-12-11 23:00] NexWeb commented on #3290
👍 Cool. No need to be embarrassed or sorry, it's not your fault. I guess a lot of people just really wanted a Sendgrid tshirt or to be part of the Sendgid experience.

[2017-12-11 23:05] mbernier commented on #3290
Haha, we are totally [overwhelmed by the response](https://sendgrid.com/blog/hacktoberfest-2017-was-amazing/). It is has been awesome and we are doing whatever we can to catch up!

[2017-12-12 23:10] iwilsonq opened #3384 "Universal Links with AWS CloudFront"
Hi, my team is looking to setup universal/deep links in our email newsletter but we are having some difficulty.

## Expected content
We followed the steps described [here](https://sendgrid.com/docs/Classroom/Build/Add_Content/universal_links.html) exactly; we set up a bucket on S3 to host the `assetlinks.json` and `apple-app-site-association` files and then we set up CloudFront to serve with the p

[2017-12-13 00:04] ksigler7 commented on #3384
hey @iwilsonq - thanks for the feedback! We will definitely look into troubleshooting the docs for this soon. In the meantime, if you haven't already, please reach out to our support team to help you with your specific problem. You can access support contact options by logging into https://support.sendgrid.com.

[2017-12-18 18:15] redaxmedia commented on #1417
## Finally

Here comes a one click solution!

1. Deploy your instance of [SendGrid Proxy](https://github.com/redaxmedia/sendgrid-proxy) to Heroku
1. Done (Really)

## How it works

1. It creates a node powered http proxy using [express-http-proxy](https://www.npmjs.com/package/express-http-proxy)
1. It adds needed headers such as `Authorization` and `Content-Type`
1. It overrides `Access-Control-A

[2017-12-24 14:00] ng29 commented on #3290
@mbernier .... how much we have to wait for the swag ..
its been too long waiting :(..

[2017-12-30 10:54] daljesin opened #3396 "SendGrid OEM Process"
https://sendgrid.com/docs/Classroom/Basics/Misc/sendgrid_oem_process.html

The Contact Us form is not working . So unable to enroll in OEM  process

[2018-01-02 18:30] ksigler7 commented on #3396
@daljesin - hi! What part of the form is not working for you?

[2018-01-02 18:32] ksigler7 commented on #3396
also, closing this issue since it's not related to docs specifically, but please go ahead and answer my question, and hopefully we can get you in touch with the correct people to help out.

[2018-01-02 18:32] #3396 closed

[2018-01-03 20:30] mbernier commented on #3290
@ng29 Our fulfillment house has told us that all the packages have been put into the mail. You should be seeing it soon!!

[2018-01-03 20:32] ng29 commented on #3290
wowaaaa....amazing stuff ..
finally santa coming.. lmao :)

On Thu, Jan 4, 2018 at 2:00 AM, Matt Bernier <notifications@github.com>
wrote:

[2018-01-04 21:56] mbernier commented on #3290
We are hearing from people that they are getting their swag!

[2018-01-05 02:54] thinkingserious opened #3402 "Remove Marked Vulnerability"
Reported by GitHub:

Known moderate severity security vulnerability detected in marked < 0.3.7 defined in package-lock.json.

package-lock.json update suggested: marked ~> 0.3.7.

[2018-01-05 06:56] ng29 commented on #3290
Yeah I have seen some tweets.
I m loving it :)

On 5 Jan 2018 3:26 am, "Matt Bernier" <notifications@github.com> wrote:

[2018-01-11 22:58] JerryGreen commented on #1417
@redaxmedia looks pretty... Looks like it does not receive `"Content-Type": "application/json"` fetch requests :(

Error on proxy server side:

[code]

Still useful though, it's working for simple request when I do `JSON.stringify()` on the body. Thank you!

[2018-01-12 00:02] redaxmedia commented on #1417
Hello JerryGreen,

I'm pretty sure that I send the correct header according to the docs:

[code]

Related code of sendgrid-proxy:

[code]

Maybe you are doing something wrong on your side? Anyway, glad that I worked for you.

[2018-01-12 02:01] JerryGreen commented on #1417
@redaxmedia just try using `fetch` with "Content-Type": "application/json"

it's error on proxy side, I suppose. Example:

[code]

I don't _really_ need that since I can send a simple string & it works. Just an odd moment.

Btw, working example:

[code]

[2018-01-12 08:29] redaxmedia commented on #1417
There is nothing wrong with sendgrid-proxy, I double check it on a live project and using RestClient (Firefox Plugin) and it returns the correct `Content-Type`.

You have to send your request body as JSON of course - the proxy does not convert that for you, it just sends the correct headers.

[2018-01-12 10:06] JerryGreen commented on #1417
Oh you mean I need to JSON.stringify in any case? Lol. Of course! Silly mistake... I always used a wrapper without that need before, forgot how it really works.

The proxy is great, thank you!

[2018-01-18 10:00] mpselby opened #3409 "Not receiving 2FA SMS messages"
I use SMS 2FA to access send grind.  I am not receiving SMS 7 digit codes to a number I set up and have used successfully for about six months.  They are no substantially delayed but rather never a arrive. As such I am completely locked out of my account and unable to contact support.  This problem emerged several weeks ago and I have tried several times over that period.

[2018-01-18 16:35] ksigler7 commented on #3409
Hi @mpselby,

Unfortunately, I don't have the correct access to help you get access back to your account. Please send an email to support at sendgrid.com and they can help you!

Also, closing this issue since it's not a docs specific issue.

DX Docs team

[2018-01-18 16:35] #3409 closed

[2018-01-20 14:41] kevinquinnyo commented on #2017
Sorry to jump into an old issue, but I have scoured the docs trying to find an example of the raw JSON for a parsed email (with attachments preferably).  While I'm waiting on my DNS record changes, I'd like to go ahead and get started on writing code.

Suggestion: A simple example of the full JSON response body of a raw email, as it would be posted to the webhook URL would be helpful.  If this alr

[2018-01-22 16:21] ksigler7 commented on #2017
thanks for the activity on this everyone! Will definitely reopen this.

[2018-01-22 22:52] c3mohamn opened #3416 "Click tracking links with links containing href parameters"
https://sendgrid.com/docs/Classroom/Track/Clicks/click_tracking_links_have_stopped_working.html

Problem
------------------------
If a link has an href param, your generated click tracking link replaces the href param link, rather than the whole link containing that href param.

Example
------------------------
https://www.facebook.com/dialog/share?app_id=966242223397117&href=http://google.ca/

Tu

[2018-01-22 23:16] ksigler7 commented on #3416
Hey @c3mohamn,

Thanks for the feedback, and thanks for the workaround! I've passed the information about this bug onto the team. They may reach out to you if they have any questions. For now, I am going to close this issue, since it's not a specific bug about our docs, but thanks again for the info!

SendGrid Docs team

[2018-01-22 23:16] #3416 closed

[2018-01-25 14:00] aleien commented on #3290
Hello (: Is it possible to acknowladge, if shirt will be shipped? I certainly did provide e-mail, but didn't receive any email notifications, so don't know if I should already worry or not yet (:
Thank you in advance and sorry for bothering!

[2018-01-26 00:27] ksigler7 commented on #3290
@aleien they are still coming, and you may not have received an email yet! :( They are on backorder AGAIN. We are now working directly with the supplier to resolve this as quickly as possible. Thanks so much for your patience. We have learned a lot from this experience and will for sure do better next year!

[2018-01-26 06:26] ng29 commented on #3290
Again backorder :(
Means have to wait more :(
holy crap..

[2018-01-30 14:19] c-pelton opened #3425 "I didn't receive the password reset email"
I am not receiving the password reset email. I would like to resolve this as soon as possible.

Thank you!

https://sendgrid.com/docs/Classroom/Troubleshooting/Account_Administration/i_didnt_receive_the_password_reset_email.html

[2018-02-01 03:14] orenji88 opened #3426 "Add an Ability to remove Categories from Category Stats List"
Hi,

I'm opening this new issue, cause i really need this ability for deleting Categories in Category Stats List.
I've contacted the Support Team via Live Chat, and they said that they can't delete it.
So, please make this happen.
Thanks.

[2018-02-02 09:44] bpolaszek opened #3443 "Symfony documentation"
Hello there,

[Send Email with Symfony documentation](https://sendgrid.com/docs/Integrate/Frameworks/symfony.html) is way out of date (it's related to Symfony 1.x, which is not maintained anymore since November 2012).

Would you mind to have a look to update the documentation to Symfony 3.* / 4.*?
There's a great functionnality in Swiftmailer which allows all sent e-mails to be routed to a single

[2018-02-06 22:52] ksigler7 commented on #3443
@bpolaszek thanks for pointing this out! We've added it to our internal backlog, but I'll also open it up for one of our open source community.

[2018-02-06 22:54] ksigler7 commented on #3426
Hi @orenji88,
Thanks for your product feedback. I've passed it onto the team that handles that functionality - they may reach out to you for more information. I am closing the issue here though, because this repo is specifically for issues related to the documentation.
SendGrid Docs Team

[2018-02-06 22:54] #3426 closed

[2018-02-13 03:17] JASONCAVNESS opened #3463 "How to contact SendGrid support"
https://sendgrid.com/docs/Classroom/Basics/Misc/support.html

For some reason when I try to log in, the page just keeps refreshing the logo over and over. This has been happening to me since Saturday. I can go anywhere else on the site.

I just can't log in anymore.

My email is jasoncavness@cavnessHR.com and the user name is cavnessHR.

We were  placed on the SendGrid startup accelerator program.

[2018-02-13 20:48] ksigler7 commented on #3463
@JASONCAVNESS - hey Jason - It looks like we've been getting reports of issues like this. Can you try clearing out your cache? If that doesn't work, we can get a support ticket opened for you.

Also, closing this, since it's a support question and not a direct issue in the docs.

[2018-02-13 20:48] #3463 closed

[2018-02-13 21:25] JASONCAVNESS commented on #3463
Karlyn,

It works now after clearing out the cache.

Thanks

Jason

On Tue, Feb 13, 2018 at 12:48 PM, Kaylyn Sigler <notifications@github.com>
wrote:

[2018-02-16 08:33] ewirch opened #3469 "mail/send rate limit inconsistency"
https://sendgrid.com/docs/API_Reference/api_v3.html (MAIL SEND / Limitations) says:

https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.html says:

See this related commit: 5903889c36f601e125ad1bced4d0a3770c798043

[2018-02-16 16:53] ksigler7 commented on #3469
@ewirch - great catch, and thanks for the related commit for reference! I've updated it in the swagger docs - this should propagate out to the docs in the next hour or so.

[2018-02-16 16:53] #3469 closed

[2018-02-28 06:28] rhodamae opened #3487 "Why is sendgrid.net “greylisted”?"
https://sendgrid.com/docs/Classroom/Deliver/Undeliverable_Email/why_is_sendgrid_net_greylisted.html
![blacklisted domain](https://user-images.githubusercontent.com/36911240/36773032-952bd55a-1c4f-11e8-9642-b11b7e07fd13.JPG)
![sendgrid](https://user-images.githubusercontent.com/36911240/36773035-96adffde-1c4f-11e8-9ffc-dc6c517f21b4.JPG)

Hi Sendgrid Support,

For your kind assistance and checking.

[2018-02-28 21:51] thinkingserious commented on #3487
Hello @rhodamae,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-02-28 21:51] #3487 closed

[2018-03-02 23:29] jacobmovingfwd opened #3491 "TImezone v3 API call is undocumented"
## Expected content
/v3/user/timezone

## Actual content

**Link to page**:

[2018-03-06 03:56] ThorArakis opened #3492 "Substitution Tags don't appear to work in templates when sent at a top level"
https://sendgrid.com/docs/API_Reference/SMTP_API/substitution_tags.html

I've been trying to use a sendgrid transactional template with substitution variables and found that I was able to get the variables to work only when passed inside the personalization section. When I tried to pass the substitutions at the top level of the json, it didn't change the content of my email. I have included exampl

[2018-03-06 19:01] ksigler7 commented on #3492
@ThorArakis - thanks for the feedback! We are currently in the middle of updating our substitution tag docs right now and will hopefully be able to address the hole you noticed. In the meantime, to get help with your specific issue, please reach out to our support team. You can access support contact options by logging into https://support.sendgrid.com.

SendGrid Docs Team

[2018-03-06 19:01] #3492 closed

[2018-03-06 19:06] tulikavijay commented on #3290
@ksigler7 Whats the status on this? Its March and still no update or email received...

[2018-03-06 23:14] ksigler7 commented on #3290
@tulikavijay - hey there - they have all been mailed now. It can take up to two months to get to India though. I am checking the status on your specific shipment though, and I will followup with you by email.

[2018-03-06 23:15] ksigler7 commented on #3491
@jacobmovingfwd - good catch! I am trying to figure out if there's a reason why wouldn't have documented this...

[2018-03-06 23:18] jacobmovingfwd commented on #3491
Can check with Mako/Jensen, but I can't think of why.

On Tue, Mar 6, 2018 at 3:15 PM Kaylyn Sigler <notifications@github.com>
wrote:

[2018-03-10 07:00] ng29 commented on #3290
@ksigler7  Whats the status on this? Its March and still no update or email received... :(

[2018-03-12 17:16] ksigler7 commented on #3290
@ng29 - hmm, you should have it by now (or at least it should be on its way). I will look up your specific info and followup with you by email

[2018-03-12 17:27] ng29 commented on #3290
@ksigler7 ...  yaah, many folks near me had got it.
oohhkk.. thanks alot :)

[2018-03-12 18:12] NexWeb commented on #3290
![tshirts](https://user-images.githubusercontent.com/3054475/37301380-c934dece-25fe-11e8-920b-8a891b9c823d.png)

Consider any work to have been for your own benefit. Sendgrid and others have a good thing going by getting people to fix their product for free. The only benefit is if you care about their product or enjoyed doing the work to make their product better.

[2018-03-12 18:31] ksigler7 commented on #3290
@NexWeb very true! We for sure have a good thing going, and we had an amazing response to hacktoberfest. My favorite part about hacktoberfest was how many first time github users contributed - helping people learn github really helped us to feel like we were giving back at least a little bit to the community for all of the support we were getting.

We definitely want to make sure folks get the t-s

[2018-03-12 19:47] NexWeb commented on #3290
Yes well, at this point it's not about the the tshirt, it is about the reliability and management capabilities within the company. DigitalOcean by comparison had their tshirts delivered before the end of the first week of November. What was that, like 239,164 of them?  If you can't take care of the people that are taking care of your product, what's a potential Sendgrid customer to think about the

[2018-03-13 19:02] ksigler7 commented on #3290
Yeah, we'll be moving to a system very similar to DigitalOcean next year! They did do a really good job.

[2018-03-15 07:51] vivek-vas opened #3514 "Subject line in sendgrid mail shows copyright characters as &copy; similar for &trade etc"
https://sendgrid.com/docs/Classroom/Basics/Misc/support.html

[2018-03-15 15:23] thinkingserious commented on #3514
Hello @vivek-vas,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-03-15 15:23] #3514 closed

[2018-03-21 07:45] NexWeb commented on #3290
I hope you mean this year.

[2018-03-21 15:27] ksigler7 commented on #3290
Okay, closing this because we've reached out to everyone who indicated they didn't receive swag and reshipped packages to anyone who still hadn't arrived. But for sure still let me know if you haven't gotten anything, and we will figure something out!

By the next Hacktoberfest, our distributor will have a distribution center opened up in India, which should really help arrival times for folks con

[2018-03-21 15:27] #3290 closed

[2018-03-26 08:29] peterdew opened #3527 "How to change my password by the webinterface."
My password can't be changed. The Edit-button behind the username-password section in the account-details screen is disabled. Why?

[2018-03-26 14:57] thinkingserious commented on #3527
Hello @peterdew,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-03-26 14:57] #3527 closed

[2018-04-09 07:00] timhampton opened #3550 "PHP"
https://sendgrid.com/docs/Integrate/Code_Examples/Webhook_Examples/php.html

Line 10 in the code example should be     $attachment = $_FILES['attachment' . $i]; not     $attachment = $_FILES['attachment' + $i];

[2018-04-14 15:06] eichgi opened #3559 "Laravel example is not working correctly"
I am implementing sendgrid with Laravel so I leverage from your example, but so far I had to make 2 fixes for making it work:

In file `app/Mail/TestEmail.php`

**1. How to access data**
You cannot access to `->with([ 'message' => $data['message'] ]);` from inside build() because it's a public attribute so it should be changed to `->with(['message' => $this->data['message']]);`

**2. You cannot us

[2018-04-16 16:49] ksigler7 commented on #3559
Greetings @eichgi! Thanks for letting us know about the fixes you made! This is awesome. Would you be willing to make a pull request on those docs pages with your fixes?

[2018-04-16 16:55] eichgi commented on #3559
Yes, I will make a PR with the fixe. Glad to help!

[2018-04-16 17:31] ksigler7 commented on #3550
thanks for the feedback! this is a great catch. updates for this are in PR #3563

[2018-04-16 18:17] #3550 closed

[2018-04-18 14:30] jhweatherly86 opened #3578 "Duplicate Vimeo videos show up"
## Expected content
One vimeo videos shows up on the doc

## Actual content
Two videos show up

**Link to page**:
https://sendgrid.com/docs/User_Guide/Settings/Sender_authentication/How_to_set_up_domain_authentication.html

[2018-04-18 15:28] ksigler7 commented on #3578
@jhweatherly86 thanks for this issue! we're aware of this and should hopefully get a fix in today

[2018-04-18 21:02] ksigler7 commented on #3578
This is fixed!

I would try to sound smart or impressive, but it really just finally updated and fixed itself.

[2018-04-18 21:02] #3578 closed

[2018-04-19 15:27] b0rgbart3 opened #3582 "Documentation about substitutions in Personalizations"
https://sendgrid.com/docs/Classroom/Send/v3_Mail_Send/personalizations.html

This article explains how to include a personalizations array when sending email with SendGrid -- but it doesn't explain HOW to use substitutions -- Is this a known convention that I'm unaware of?  I don't understand HOW the subsitutions will work -- In this example:
[code]

Where is **fname** coming from?  Is that an arr

[2018-04-19 17:55] taylor10848 opened #3584 "How to set up link branding"
https://sendgrid.com/docs/User_Guide/Settings/Sender_authentication/How_to_set_up_link_branding.html

Good instructions.  Thanks.

Can you correct this sentence right below step 5. please?

Now links and images in your emails will have be from your custom domain.

[2018-04-20 15:16] ksigler7 commented on #3584
@taylor10848 good catch!! Thanks! Updated in the PR linked ^^^

[2018-04-20 15:17] thinkingserious commented on #3582
Hello @b0rgbart3,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-04-20 15:17] #3582 closed

[2018-04-20 15:18] ksigler7 commented on #3582
@b0rgbart3 thanks for this feedback! we are actually currently in the process of improving this doc. In the meantime, our awesome support team should be able to help you!

[2018-04-20 16:00] #3584 closed

[2018-04-23 20:19] AELSchauer opened #3594 "Email Activity Feed"
https://sendgrid.com/docs/User_Guide/email_activity_feed.html

Provide information on how to view unique arguments in the Activity Feed. The documentation for the unique arguments says to go to the Activity Feed, but I can't find them.

[2018-04-23 21:06] thinkingserious commented on #3594
Hello @AELSchauer,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-04-23 21:06] #3594 closed

[2018-04-23 21:08] Whatthefoxsays commented on #3594
@AELSchauer Thanks for your feedback. Tracking Unique arguments is not a feature in the new Email Activity Feed. For figuring out a workaround, please get in touch with our support team.

[2018-04-24 02:00] manuelguzman commented on #2482
Thank you.  In my case it was an empty cc that I was passing.

[2018-04-24 05:35] anilbobba1 commented on #2482
I got this error when trying to use the sendGrid V3 API:
"Result": {
    "StatusCode": "BadRequest",

With no error message listed.
We looked at every possible cause of error including checking for valid API Keys multiple times and HTML body content and template id (we are using transactional templates); after banging the head on the wall a few times, we started removing the different recipients,

[2018-04-24 16:03] jlamphere-pl opened #3599 "Global Unsubscribes URL for Delete is incorrect."
The section for deleting [unsubscribes](https://sendgrid.com/docs/API_Reference/Web_API_v3/Suppression_Management/global_suppressions.html#Remove-all-email-addresses-from-the-Global-Unsubscribes-collection-DELETE) shows the url for DELETEs as '/v3/suppression/unsubscribe' when in reality it's '/v3/suppression/unsubscribes' which matches the conventions in blocks, spam_reports and bounces. The docs

[2018-04-24 18:24] thinkingserious commented on #2482
Hello @manuelguzman, @anilbobba1,

I hope [this reference](https://github.com/sendgrid/sendgrid-csharp/blob/master/TROUBLESHOOTING.md#error) will help with further troubleshooting.

With Best Regards,

Elmer

[2018-04-26 06:51] ananddayama opened #3605 "sendgrid"
https://sendgrid.com/docs/Integrate/Mail_Clients/outlook.html

[2018-04-26 09:47] crucialfelix opened #3606 "Django SMTP username and password"
https://sendgrid.com/docs/Integrate/Frameworks/django.html

I find this unclear. What username and password ? My admin account ? I doubt it.

Or is it the username and generated password from this raw telnet example:

https://sendgrid.com/docs/API_Reference/SMTP_API/getting_started_smtp.html

[code]

[code]

This credentials documentation seems to be out of date:
https://sendgrid.com/docs/User_Gui

[2018-04-26 16:13] thinkingserious commented on #3605
Hello @ananddayama,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-04-26 16:13] #3605 closed

[2018-04-26 16:27] ksigler7 commented on #3599
Hey @jlamphere-pl - check this out for our latest API documentation - https://sendgrid.api-docs.io/v3.0/suppressions-unsubscribe-groups/delete-a-suppression-group

I'm going to close this bc we're in the process of depreciating the API docs you linked to, so it doesn't make sense to update it.

[2018-04-26 16:27] #3599 closed

[2018-04-26 16:27] ksigler7 commented on #3402
another one:

Known moderate severity security vulnerability detected in hoek < 5.0.3defined in package-lock.json.
--
package-lock.json update suggested: hoek ~> 5.0.3.

[2018-05-02 15:58] ng29 commented on #3290
still waiting for my hacktoberfest package :(
@ksigler7 its been more than 6 weeks and still no response from your side .
Kindly look into this issue as, i dunno wanna lose my package again :(

[2018-05-07 12:10] narendrasolanke21 opened #3626 "Sendgrid API returns resource not found for template"
Trying to get sendgrid template by id for email by authenticating sendgrid using api key but is is showing error as "Request returned status Code 404Body:{"errors":[{"field":null,"message":"resource not found"}]}"

[2018-05-07 16:35] ksigler7 commented on #3290
@ng29 - I'll followup by email

[2018-05-07 23:09] davidbpython opened #3633 "Python"
https://sendgrid.com/docs/Integrate/Code_Examples/v2_Mail/python.html
Hi, the example on the above page doesn't seem to match the module's interface any longer...?

this example worked for me:
https://sendgrid.com/docs/Integrate/Code_Examples/v3_Mail/python.html

[2018-05-08 15:18] ksigler7 commented on #3633
@davidbpython - correct, the first one you linked is for our V2 API, and the second one you linked is V3 API. Those examples are still up because we still have people using V2, though we highly encourage everyone to upgrade to our V3.

[2018-05-08 15:18] #3633 closed

[2018-05-08 15:28] ksigler7 commented on #3633
This is a good suggestion! We're currently in the process of migrating all of our API docs over into a new experience that will force you to select V2, so we will look at adding a badge there.

Also, you should check out our libraries for much more extensive python code examples - https://github.com/sendgrid/sendgrid-python

[2018-05-08 15:38] davidbpython commented on #3633
Many thanks!  Just started using Sendgrid and found it very easy to start
(found the V3 example almost immediately).  Will check out examples, def
the best way to learn.

On Tue, May 8, 2018 at 11:28 AM, Kaylyn Sigler <notifications@github.com>
wrote:

[2018-05-09 18:49] dubrovka opened #3640 "Message-ID f2ea4c35-e0a9-9c41-388f-9b155e3ed957@apache.org"
## Expected content

## Actual content

**Link to page**:

[2018-05-09 18:50] dubrovka opened #3641 "Message-ID f2ea4c35-e0a9-9c41-388f-9b155e3ed957@apache.org"
## Expected content

## Actual content

**Link to page**:

[2018-05-09 19:04] #3640 closed

[2018-05-09 19:04] #3641 closed

[2018-05-11 12:16] brachi-wernick commented on #1417
@redaxmedia works! amazing thank you!

[2018-05-11 19:19] Ugenx opened #3644 "Substituting unsubscription links does not work when using group unsubscribes (ASM)"
https://sendgrid.com/docs/User_Guide/Settings/tracking.html

There doesn't seem to be a way to substitute the subscription management links within the content body of our email messages when using the unsubscribe groups functionality. Only the global unsubscribe link can be substituted using a defined tag; as soon as you define an ASM object within the request, the substitute tag is ignored and a

[2018-05-11 20:27] ksigler7 commented on #3644
Hey @Ugenx,

This is a really good question. Our support team is much better equipped to help people with specific
use cases. You can access support contact options by logging into https://support.sendgrid.com.

SendGrid Docs Team

[2018-05-11 20:27] #3644 closed

[2018-05-13 13:09] Uriil opened #3650 "Remove multiple email addresses from the Global Unsubscribes collection URL typo"
There is a typo in URL for deleting multiple emails.

Instead of https://api.sendgrid.com/v3/suppression/unsubscribe, should be https://api.sendgrid.com/v3/suppression/unsubscribes (missing S at the end)

P.S. maybe it's relevant to Remove all email addresses link as well, but I can't check it

[2018-05-14 12:50] ankitjaininfo opened #3651 "Debugging Webhooks"
It appears that RequestBin has stopped their hosted services. I think you should update this article to replace or suggest multiple other services that will be handy to developers.

https://sendgrid.com/docs/API_Reference/Webhooks/debug.html

[2018-05-14 14:59] ksigler7 commented on #3651
@ankitjaininfo - thanks for letting us know!

[2018-05-14 16:19] ksigler7 commented on #3650
@Uriil - thank you! good catch

[2018-05-14 16:35] #3650 closed

[2018-05-14 16:37] ankitjaininfo commented on #3651
One alternative that I use and can suggest as replacement to RequestBin is
Beeceptor - http://beeceptor.com

[2018-05-14 16:52] ksigler7 commented on #3651
cool - thanks for the suggestion!

This is all great timing, we're currently in the middle of a big change to the event webhook docs anyway

[2018-05-14 19:42] StevenReid opened #3657 "MODX"
https://sendgrid.com/docs/Integrate/Open_Source_Apps/modx.html

Should the username be apikey?

[2018-05-15 16:25] ksigler7 commented on #3657
@StevenReid - in this case, it's looking for your username and password that you use to log into your SendGrid account.

If you have more specific questions about getting your implementation working, please reach out to our support team! They are much better at answering than me :) You can access support contact options by logging into https://support.sendgrid.com.

[2018-05-15 16:25] #3657 closed

[2018-05-17 10:01] kaizen1 opened #3664 "How to set up reverse DNS"
Sorry guys, this is really poorly written. "in that, while"

https://sendgrid.com/docs/User_Guide/Settings/Sender_authentication/How_to_set_up_reverse_dns.html

[2018-05-17 14:16] ksigler7 commented on #3664
Don't be sorry! It's in the process of being rewritten right now :) Closing this since this is an already active internal issue and I wouldn't want someone in the community to pick it up and duplicate effort

[2018-05-17 14:16] #3664 closed

[2018-05-21 21:29] kinetiq opened #3675 "For Event Webhook Delivery events of type Bounce, documentation on the Type field is now missing."
Event_Webhook/event.md had details on this field a week ago, I think, but it's missing now.

For the Bounce event only, there is definitely a 'type' field that provides context for the event. Real-world example (it happens to be the last field in this chunk of json):

[{"EmailID":"REDACTED","category":["RecordingConfirmed"],"email":"robinson@REDACTED.com","event":"bounce","ip":"167.89.55.66","reas

[2018-05-21 21:35] randyFRS opened #3676 "How do I whitelist emails to keep them from dropping?"
https://sendgrid.com/docs/Classroom/Deliver/Undeliverable_Email/how_do_i_keep_emails_from_dropping.html

Feature doesn't actually work. We've got one domain in particular that continues to get bounced/blocked even though it's listed in our Address Whitelist area.

Sorry, the link on https://github.com/sendgrid/docs/blob/develop/CONTRIBUTING.md for the bug report template is dead. https://github.co

[2018-05-21 22:18] ksigler7 commented on #3676
@randyFRS - thanks for the info on the bug report template being bad.

In terms of your issue, please file a ticket with our awesome support team, they are much better equipped to help troubleshoot this sort of individual issue! You can access support contact options by logging into https://support.sendgrid.com.

Closing this since I already opened a PR for the contributing.md issue and this other

[2018-05-21 22:18] #3676 closed

[2018-05-21 22:18] thinkingserious commented on #3676
Hello @randyFRS,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-05-21 22:28] ksigler7 commented on #3675
Hi @kinetiq - this is a really good catch! We've done a huge update on the page and it looks like we missed this. Just to make sure I'm clear, are you looking for something like the section that starts on line 540 in [this old copy of the page](https://github.com/sendgrid/docs/edit/ksigler7-patch-36/source/API_Reference/Webhooks/event.md)?

[2018-05-22 13:27] randyFRS commented on #3676
Thanks. You might also want to fix the way your documentation routes people.

[2018-05-22 19:22] kinetiq commented on #3675
Hey, glad to help. :) I am not sure that link takes me to a view where our line numbers will sync up, but yes, that version has the missing content. If I search it for the word "blocked" it comes up exactly once, and that's the line.

The documentation actually needs quite a bit more around this area... Even the glossary entries for the blocked/expired/bounce terms is a bit lacking if you're tryin

[2018-05-24 13:46] laurence-hydrogen opened #3680 "Overview - Documentation"
https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.html

Under the Request Body Parameters there seem to be two parameters named `subject` and the difference between them is unclear. It may be helpful to clarify the difference more explicitly.

[2018-05-24 14:37] ksigler7 commented on #3680
@laurence-hydrogen - thanks for the suggestion! We're currently in the process of migrating our API docs over here: https://sendgrid.com/docs/API_Reference/api_v3.html - I think this makes all of the parameters much more clear. Let me know if you have any other feedback on it! I am going to close this issue since we are no longer updating the old API docs.

[2018-05-30 11:05] taruntadikonda opened #3685 "Node.js"
https://sendgrid.com/docs/Integrate/Code_Examples/v3_Mail/nodejs.html

sgMail.setApiKey(process.env.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);
TypeError: Cannot read property 'mV5IeQXBTLKeE8muksNg2A' of undefined

                                ^

[2018-05-30 14:13] thinkingserious commented on #3685
Hello @taruntadikonda,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-05-30 14:13] #3685 closed

[2018-06-06 03:08] socketpy commented on #2191
i got some issues

[2018-06-06 03:19] socketpy commented on #2191
im so sorry i'd resolved it, i'd added mail server's IP Address into Whitelisted IP Addresses

Thank you

[2018-06-06 16:35] ksigler7 commented on #2191
@socketpy - cool, glad you resolved it! If you have any more issues in the future, please reach out to our awesome support team! They're great at troubleshooting individual items - you can reach them by logging into https://support.sendgrid.com.

[2018-06-06 19:16] freebeeffs opened #3695 "Billing"
[MS120630301_Paid Applications v108b.pdf]
![sendgrid](https://user-images.githubusercontent.com/23436056/41060048-a63a2eba-69ce-11e8-9090-749db3c1aa64.jpg)
Well I tried to enter card details but got stuck since my expiration is 01/20 and the dropdown allows only year 2020 So what can I do?

[2018-06-06 22:20] thinkingserious commented on #3695
Hello @freebeeffs,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-06-06 22:20] #3695 closed

[2018-06-13 17:27] JeanettM opened #3700 "Email Activity Feed"
https://sendgrid.com/docs/User_Guide/email_activity_feed.html

Some of the Additional Resources links are not linked and lead to a 404 page.

[2018-06-13 17:56] ksigler7 commented on #3700
great catch @JeanettM!!! thanks so much for letting us know. I fixed them in the linked PR, but for your own reference, the broken links are:
- [Getting Started with the Email Activity API](https://sendgrid.com/docs/API_Reference/Web_API_v3/Tutorials/getting_started_email_activity_api.html)
- [Building compound Email Activity queries](https://sendgrid.com/docs/API_Reference/Web_API_v3/Tutorials/ge

[2018-06-13 18:26] dficker opened #3702 "Drupal page recommends not using TLS, may not work for newer accounts"
SMTP login information is not exactly correct on this page:

## Expected content

    SMTP Server - smtp.sendgrid.net
    SMTP Port - 587
    Use Encrypted Protocol - Use TLS
    Username - "apikey"
    Password - A valid SendGrid API Key

## Actual content

    SMTP Server - smtp.sendgrid.net
    SMTP Port - 587
    Use Encrypted Protocol - No. If you want encryption choose “Use SSL” and set SMTP

[2018-06-13 18:37] JeanettM commented on #3700
Anytime!

[2018-06-13 18:57] ksigler7 commented on #3702
@dficker - cool! thanks for letting us know about this!! and it for sure makes more sense to use your API key here too

[2018-06-13 18:59] ksigler7 commented on #3702
I am going to open this up for anyone in our community who wants to make this update.
The to do here is to update lines 33 through 37 on https://github.com/sendgrid/docs/edit/develop/source/Integrate/Open_Source_Apps/drupal.md with @dficker suggested content above

[2018-06-13 21:50] #3700 closed

[2018-06-16 18:31] adrianvelasco opened #3704 "Personalizations"
https://sendgrid.com/docs/Classroom/Send/v3_Mail_Send/personalizations.html

[2018-06-18 15:55] #3704 closed

[2018-06-19 20:14] greganth opened #3706 "Rate Limiting"
https://sendgrid.com/docs/Glossary/rate_limiting.html
"Please visit our pricing page to see the account specific sending limits."

The pricing page does _not_ specify any details or information about rate limiting per different accounts.

[2018-06-19 20:50] ksigler7 commented on #3706
@greganth - great catch! this is for sure outdated.

I'm going to open this one up for the community.

The to do here is to remove "Please visit our pricing page to see the account specific sending limits." from https://sendgrid.com/docs/Glossary/rate_limiting.html

This would be a great first PR.

[2018-06-20 14:20] greganth commented on #3706
It would be even better if the rate limits per plan were listed somewhere. That information isn't available anywhere (that I can find).

[2018-06-20 14:36] ksigler7 commented on #3706
Actually, after looking at this more closely, this is not an issue with the docs. The number of emails you can send per plan is on the pricing page. If you select your plan, scroll down, and it tells you how many emails included in that plan and the cost of sending more emails than your plan. Note that there is no actual limit - you can send as many as you want, you just might get overages dependi

[2018-06-20 14:36] #3706 closed

[2018-06-22 11:55] leovingi commented on #3626
+1 I also get the same response when fetching a template
`curl --request POST --url https://api.sendgrid.com/v3/templates/xxxxxxx-xxxxxxxx-xxxxxx-xxxxx --header 'authorization: Bearer XXXXXXXXXXXXXXXXXXX' --header 'content-type: application/json'`

The template exists and has an ACTIVE version, so not sure what's going on or why it's failing.

[2018-06-25 13:12] ksigler7 commented on #3626
Hey @leovingi and @narendrasolanke21 - please contact our awesome support team - they'll be able to help you solve individual issues like this! You can access support contact options by logging into https://support.sendgrid.com.

[2018-06-25 13:12] #3626 closed

[2018-06-26 15:18] AndrewNduati opened #3708 "Substitution Tags"
[Substitution tags](https://sendgrid.com/docs/API_Reference/SMTP_API/substitution_tags.html)
`{
  "to": [
    "example@example.com",
    "example@example.com"
  ],
  "sub": {
    "-name-": [
      "John",
      "Jane"
    ],
    "-customerID-": [
      "1234",
      "5678"
    ],
    "-salesContact-": [
      "Jared",
      "Ben"
    ],
    "-contactPhoneNumber-": [
      "555.555.5555",
      "77

[2018-06-26 15:19] AndrewNduati opened #3709 "Substitution Tags"
[Substitution tags](https://sendgrid.com/docs/API_Reference/SMTP_API/substitution_tags.html)
`{
  "to": [
    "example@example.com",
    "example@example.com"
  ],
  "sub": {
    "-name-": [
      "John",
      "Jane"
    ],
    "-customerID-": [
      "1234",
      "5678"
    ],
    "-salesContact-": [
      "Jared",
      "Ben"
    ],
    "-contactPhoneNumber-": [
      "555.555.5555",
      "77

[2018-06-26 15:38] ksigler7 commented on #3709
hi @AndrewNduati - it looks like you've opened this twice, so closing this one in favor of https://github.com/sendgrid/docs/issues/3709

[2018-06-26 15:38] #3709 closed

[2018-06-26 15:48] ksigler7 commented on #3708
@AndrewNduati substitutions are meant to be used with the SMTP API and the personalizations are meant to be used with the V3 API - they are basically the same thing, but for two different APIs.

If you have any other issues like this, please reach out to our awesome support team. You can access support contact options by logging into https://support.sendgrid.com.

I am going to close this issue si

[2018-06-26 15:48] #3708 closed

[2018-06-28 08:52] jamalnasir opened #3712 "Activity Feed - Feedback"
Suppose, I send millions of emails (not using campaigns). And I want to filter only the delivered on the activity feed. Which currently this feature is not there.

That would be better if users are provided with the events filters.

[2018-06-28 14:09] ksigler7 commented on #3712
hi @jamalnasir - there is a drop-down on the top right of the Email Activity screen that provides specific event filters.

If you have other questions or feature requests, please contact our awesome support team. You can access support contact options by logging into https://support.sendgrid.com.

I am closing this since it is not a docs specific issue.

SendGrid Docs Team

[2018-06-28 14:09] #3712 closed

[2018-07-02 15:12] ksigler7 commented on #3559
thanks to @cferrante, the first half of this issue has been fixed!

[2018-07-05 22:21] po-jo opened #3717 "Inbound Email Parse Webhook"
Hello,

The parse inbound api fails to read diacritics (for instance _é_) for emails coming from outlook (received with charset latin1) : they are displayed as question marks.
When I click on 'send raw', I have the right encodings (for instance _=E9_).

Are you planning to handle latin1 ? Thanks !

[2018-07-12 13:00] MaartenKoops opened #3720 "Microsoft Azure"
https://sendgrid.com/docs/Integrate/Partners/Microsoft_Azure.html

Hi can you please add some documentation about the billing. Azure will handle the billing for SendGrid, this is nice. But I head to start a chat session to find this out.

Can you please add some explanation about how the billing is done by using SendGrid from the Azure Marketplace?

Thank you!

[2018-07-12 14:14] MaartenKoops opened #3721 "Microsoft Azure - ARM deployment template"
https://sendgrid.com/docs/Integrate/Partners/Microsoft_Azure.html

Hi, Can you please send me the full ARM deployment template for the Azure SendGrid connection?

I'm now using this:
"resources": [
    {
      "type": "Microsoft.Web/connections",
      "name": "'sendGridApiConnectionName'",
      "apiVersion": "2016-06-01",
      "location": "[resourceGroup().location]",
      "scale": null,

[2018-07-12 14:24] ksigler7 commented on #3721
Hey @MaartenKoops - for specific questions like this, please reach out to our awesome support team. You can access support contact options by logging into https://support.sendgrid.com.

[2018-07-12 14:24] #3721 closed

[2018-07-13 17:59] ksigler7 opened #3722 "Missing event webhook `url_offset`"
## Expected content

The new event webhook page is missing a description and example of `url_offset` that existed in the old event webhook page.

Here's the info from the old page:

[code]

## Actual content

Add the note and the example back in.

**Link to page**: https://sendgrid.com/docs/API_Reference/Event_Webhook/event.html

[2018-07-15 23:31] ronaldo2018 opened #3723 "Error sending email with attachment - PHP"
The email is sending normally, however the original image does not arrive, a new file arrives with the name of the image and with the extension of the image, opening this file with the extension of the image displays this:
"@images/fotoMonteCaixa/15316973195b4bd8a79d610.png"

And sending the email on the screen displays:
Array ( [api_user] => usuario[api_key] => senha  [to] => usuario@dominio.com

[2018-07-16 12:20] ashuomble5 opened #3724 "Sendgrid email activity API for categories not working,"
I am using sendgrid API for getting the email activity stats.
API LINK : [Sendgrid v3 API](https://sendgrid.api-docs.io/v3.0/email-activity)
One thing I noticed when I try to get the statistics by category its not working.
Also, there is the strange thing that when we want to query the email API we passed the argument in URL encoded format whether the categories argument is not URL encoded.
see th

[2018-07-16 12:31] AnkitKachhadiya commented on #3724
I am facing same issue

[2018-07-16 15:08] thinkingserious commented on #3723
Hello @ronaldo2018,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-07-16 15:08] #3723 closed

[2018-07-16 15:58] ksigler7 commented on #3724
the awesome @kylearoberts just helped me to test this out and it looks like we have the `categories` query documented incorrectly here. It should be:

`(Contains(categories,"Testing"))` (encoded: `(Contains(categories%2C%22Testing%22))`)

Also, make sure you have sent a mail with that category defined (or else it won't show up in email activity).

Thanks for pointing this out!!! We will get it fix

[2018-07-16 16:07] ksigler7 commented on #3724
okay - updated! You should be able to see it in the next few minutes.

[2018-07-16 16:07] #3724 closed

[2018-07-16 16:12] ksigler7 commented on #3717
hello @po-jo - sorry for the delayed response here. This is a much better question for our awesome support team! You can access support contact options by logging into https://support.sendgrid.com. I'm going to close this issue since it's not an issue with the actual docs.

SendGrid Docs Team

[2018-07-16 16:12] #3717 closed

[2018-07-16 16:54] ashuomble5 commented on #3724
Thanks, @ksigler7 and @kylearoberts for feedback. It worked like charm.

[2018-07-18 23:43] ksigler7 opened #3728 "Docs Github Repo Pull Request Freeze"
Starting after our production deploy on Friday, July 20th, we aren’t accepting PRs on our docs repo - so we can focus on getting everything moved to the new docs site without having to update it in both places!

## Wait, a new docs site?
Currently, we're in the process of developing a brand new docs experience - the SendGrid Knowledge Center!

![image](https://user-images.githubusercontent.com/287

[2018-07-21 06:26] lgomezbl opened #3735 "Postfix config on Ubuntu / Debian"
https://sendgrid.com/docs/Integrate/Mail_Servers/postfix.html

Dear,

Please consider those steps for this configuration:

1. Configure Debian / Ubuntu postfix server as "satellite system" (or after install using dpkg-reconfigure postfix)
2. SMTP relay host: SendGrid Info using [address]:port
3. Use your proposal (additional) info

smtp_sasl_auth_enable = yes
smtp_sasl_password_maps = hash:/etc/po

[2018-07-23 14:50] ksigler7 commented on #3735
@lgomezbl - thanks so much for the updated steps! I am going to open this up to the community! The to-do here is to update the page @lgomezbl linked with the steps he suggests.

[2018-07-24 15:55] sendgrid-ryan commented on #3323
Hey there! Quick update for this thread––

### Dynamic content for Transactional Templates is here!
This morning, our team publicly launched dynamic content for transactional templates. It is now available for all customers sending over v3 of our Mail Send API. Iterate over lists, handle conditionals and more, thanks to native support for a subset of Handlebars syntax!

More information can be fou

[2018-07-24 20:43] asi851 opened #3751 "Authentication"
https://sendgrid.com/docs/API_Reference/Web_API_v3/How_To_Use_The_Web_API_v3/authentication.html

Discovered the param `-H 'on-behalf-of: subuser_username' \` is case sensitive. The header is ignored and returns the parent account stats instead of the subuser. I was able to get it to work with the snippet below, also provided a screenshot of the location.

[code]

[Screenshot of doc location](http

[2018-07-24 21:56] axelcho opened #3752 "Subject Line"
https://sendgrid.com/docs/User_Guide/Transactional_Templates/Using_handlebars.html

One big change that is forced on without any notice:

In old templates, I passed the `subject` as a sub-property of `personalizations`.

But now I should pass `subject` as part of the `dynamic_template_data`.

This is very big change, also this is bad concept.

Subject is part of mail header, while the handlebar te

[2018-07-24 22:56] ksigler7 commented on #3752
hey @axelcho - find the new v3 mail send functionality documented here: https://dynamic-templates.api-docs.io/3.0/mail-send-with-dynamic-transactional-templates/v3-mail-send

You should still be able to specify a subject in personalizations. However, if you have a subject defined in the dynamic template data, it overwrites what is defined in the personalizations - this has always been the customiz

[2018-07-24 22:56] #3752 closed

[2018-07-24 23:15] idontusenumbers commented on #2797
I just spent way more time researching x-message-id than I care to admit. How is this issue closed? MessageID seems like a fundamental aspect of sending email using sendgrid. Stashing it in the header and then not showing the response header information in the API docs is really frustrating.

The webhook docs don't mention it:
https://sendgrid.com/docs/API_Reference/Event_Webhook/event.html

I cou

[2018-07-24 23:39] ksigler7 commented on #2797
This issue was closed because it was a specific issue about clarifying x-message-id in the event webhook documentation that was solved. Please feel free to file a new issue.

[2018-07-25 00:22] idontusenumbers commented on #2797
@jacobmovingfwd
Without the ID, sendgrid is a blackbox you just dump email into and hope for the best. Hard bounce handling is essential for many business needs and avoiding honeypot spam boxes. Sure it's not absolutely required, but theres really one thing sendgrid does, and that's send email, and the email it sends is identified by one thing, the id.

@ksigler7
But it's not solved:
https://sendg

[2018-07-25 15:11] ksigler7 commented on #2797
@idontusenumbers - yes, normally it's considered best practice in the open source community to file a new issue if you have an issue, honestly because it usually gets handled much faster, but don't worry, someone at SendGrid will handle it. Just FYI, we're in a repo freeze right now, and this isn't an emergency, so it's not going to get addressed until after our freeze. For more info, [check out t

[2018-07-25 15:20] ksigler7 commented on #3751
@asi851 - this is a really good catch! Thanks for letting us know about it.

The to-do here is to double check all of the `On-Behalf-Of` parameter examples and make sure they are all capitalized. Also probably worth adding a note [here](https://sendgrid.api-docs.io/v3.0/how-to-use-the-sendgrid-v3-api/on-behalf-of) specifically calling out that it's case sensitive.

[2018-07-25 15:21] ksigler7 commented on #3751
I'll open this up to the community after [our doc repo freeze](https://github.com/sendgrid/docs/issues/3728) is over!

[2018-07-25 16:05] idontusenumbers commented on #2797
We're exploring if sendgrid meets are technical requirements; being able to know which specific emails bounced was one of them.

[2018-07-25 19:12] asi851 commented on #3751
@ksigler7 thanks a bunch. Anything to help out the #grid.

[2018-07-27 00:53] bxm156 opened #3764 "Dynamic Template ID is incorrect in docs"
Regarding https://sendgrid.com/docs/User_Guide/Transactional_Templates/how_to_send_an_email_with_transactional_templates.html

The above document indicates the ```template_id``` is specified on the message.personalization[].{} level, alongside ```dynamic_template_data```.

When I try this on the API, I get the following message:
```The template_id is required when using dynamic templates","field":

[2018-07-27 15:40] ksigler7 commented on #3764
hi @bxm156 - this is a great catch, and has been fixed with this PR - https://github.com/sendgrid/docs/pull/3746

It is getting deployed to production today! Thanks for letting us know.

[2018-07-27 15:40] #3764 closed

[2018-07-28 10:20] camslice commented on #3323
FYI this is currently being implemented here https://github.com/sendgrid/sendgrid-php/issues/648

[2018-07-31 09:50] krzkrzkrz commented on #3426
What is the status of this? I would like to see this feature implemented as well

[2018-07-31 09:52] krzkrzkrz commented on #447
Same here, would like to see this feature implemented. Been a few years now. Is there any feedback?

[2018-07-31 19:44] Joshfindit opened #3784 "Why is X-Message-ID different than Message-ID?"
https://sendgrid.com/docs/Glossary/x_message_id.html

There's no explanation on these pages as to why ` X-Message-ID` is in the format `XBg2anf2TqCy6WXKQFhieQ` and `Message-ID` is in the format `XBg2anf2TqCy6WXKQFhieQ.filter0905p1mdw1-4434-59E0C6FF-3.0`

It would also be helpful if https://sendgrid.com/docs/Glossary/message_id.html broke down how a `Message-ID` is built.

[2018-08-01 00:55] ksigler7 commented on #3784
Hey Josh - these are good points! I'll open this up to the community after [our code freeze](https://github.com/sendgrid/docs/issues/3728) is over. In the mean time, you might reach out to our awesome support team for more information on this. You can access support contact options by logging into https://support.sendgrid.com.

SendGrid Docs Team

[2018-08-01 16:11] 3lnc opened #3790 "How to send an email with Dynamic Transactional Templates"
https://sendgrid.com/docs/User_Guide/Transactional_Templates/how_to_send_an_email_with_transactional_templates.html#-Send-a-transactional-email

Probably there's mistake in cURL section, `template_id` should be top level in body, not in `personalizations` closure

[2018-08-07 20:04] ksigler7 commented on #3051
deprecating because it's not relevant to our new site

[2018-08-07 20:04] #3051 closed

[2018-08-07 20:07] ksigler7 commented on #3790
hey @3lnc - thanks for the catch. we've updated here: https://github.com/sendgrid/docs/pull/3746

This should hopefully get deployed today

[2018-08-07 20:07] #3790 closed

[2018-08-10 21:22] apigirl opened #3830 "Add info about GoDaddy to the domain auth docs page"
GoDaddy has a specific domain authentication rule when adding CNAME records that seems to always trip people up. They automatically add domains at the end of records that are input, so customers that put in our SG domain auth records have them fail due to this problem.

Under step 5 [here](https://sendgrid.com/docs/User_Guide/Settings/Sender_authentication/How_to_set_up_domain_authentication.html#

[2018-08-11 19:22] alex-zwingli opened #3831 "Typo in C# documentation"
https://sendgrid.com/docs/Integrate/Code_Examples/v2_Mail/csharp.html

Current
`myMessage.From = new MailAddress("you@youremail.com", "First Last");`
...
`myMessage.Text = "and easy to do anywhere, even with C#";`

Update
`myMessage.From = new EmailAddress("you@youremail.com", "First Last");`
...
`myMessage.PlainTextContent= "and easy to do anywhere, even with C#";`

[2018-08-16 19:09] madolyn-solv opened #3846 "Graph axis report summary for a campaign send is static"
![screen shot 2018-08-16 at 12 06 19 pm](https://user-images.githubusercontent.com/37909258/44229427-e49ed100-a14c-11e8-851d-c16a7b59015f.png)

The graph's y axis does not change relative to the information it's displaying but is fixed based off of the largest value (number of requests) in the campaign. This renders this graph pretty useless if you want to look at anything that's not number of req

[2018-08-16 19:13] madolyn-solv opened #3847 "Visual slidebar when filled completely shows '90%'"
https://sendgrid.com/docs/Classroom/index.html

![screen shot 2018-08-16 at 5 39 23 am](https://user-images.githubusercontent.com/37909258/44229626-79a1ca00-a14d-11e8-90fc-daffaf5a3672.png)

This is visually inconsistent and introduces user error due to the possibility the bar is interpreted, not the % underneath. It's also a much more prominent signal than the grey text below, though this visual

[2018-08-17 18:54] soccerwiz13 opened #3855 "Missing X-Message-ID from Header v3"
When we send email using the V3 end point in sendgrid C# library, we do not get the message ID in the reponse. Our header looks like this:

Connection: keep-alive
Access-Control-Allow-Origin: https://sendgrid.api-docs.io
Access-Control-Allow-Methods: POST
Access-Control-Allow-Headers: Authorization, Content-Type, On-behalf-of, x-sg-elas-acl
Access-Control-Max-Age: 600
X-No-CORS-Reason: https://sen

[2018-08-17 18:56] thinkingserious commented on #3855
Hello @soccerwiz13,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-08-17 18:56] #3855 closed

[2018-08-17 19:45] jimboweb commented on #2482
I am using v9.9.0 and still getting this response. I have the example code in a class in my site which is fired by a controller. I tried replacing the last argument with 'null', and still getting the x-no-CORS response.

[2018-08-18 07:57] URIST247 opened #3856 "How to contact SendGrid support"
https://sendgrid.com/docs/Classroom/Basics/Misc/support.html

[2018-08-18 07:57] URIST247 commented on #3856
please help me!

[2018-08-18 07:58] URIST247 commented on #3856
do you speak russian?

[2018-08-18 07:58] URIST247 commented on #3856
my site юрист247.рф

[2018-08-18 07:59] URIST247 commented on #3856
this is site made in the designer https://tilda.cc

[2018-08-18 07:59] URIST247 commented on #3856
I have a payment system on my website

[2018-08-18 16:43] leblancmeneses commented on #3426
It should just drop off consistent with the plans EMAIL ACTIVITY HISTORY settings.

[2018-08-22 00:41] Compunick opened #3889 "Error (Unauthorized )trying to use SendGrid marketing"
I have a BRONZE tier sendgrid account.  Logged into SendGrid,  every time I navigate to the Marketing section,  it gives me a "/ui/error/401/"  page 'Unauthorized'  --- Why is that?

## Expected content

## Actual content

**Link to page**:

[2018-08-22 16:38] thinkingserious commented on #3889
Hello @Compunick,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-08-22 16:38] #3889 closed

[2018-08-24 07:55] ruoxin625651036 opened #3903 "202"
## Expected content

## Actual content

**Link to page**:

[2018-08-24 14:53] avdhoota opened #3904 "CCed Address not getting bulk emails"
Hi team,

I am using sendgrid to send emails in Bulk.
For ex. I am sending an email to 100 users with 10 substitutions in a personalization object. So i am addind 100 personalization to sendgrid mail object. So with each personalization object i'm adding CC email id.

Now users who are in To, getting the email properly, but the user who is CCed, gets only one email. Here my requirement is like if

[2018-08-27 16:08] thinkingserious commented on #3904
Hello @avdhoota,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-08-27 16:08] #3904 closed

[2018-08-27 19:45] DanielMoreno58 opened #3911 "Handlebars if statement"
Hi there!

I'm writing a transactional email (with of Sendgrid of course) and I'm having troubles with the if statement support by the Handlebars.

**According to the docs of Sendgrid:**

https://sendgrid.com/docs/ui/sending-email/using-handlebars/#substitution

**And also the docs of Handlebars**

https://handlebarsjs.com/

It says that the **if statement** works like this:

[code]

But when I im

[2018-08-28 10:05] mbbhimani opened #3914 "Email content not preview."
How can i check what email goes to my customers ?? there are no option for view content of send mails.

[2018-08-28 15:57] thinkingserious commented on #3914
Hello @mbbhimani,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-08-28 15:57] #3914 closed

[2018-08-29 01:29] andyg2 opened #3916 "download attacvhment"
I'm using SendGrid Parse however I have not been able to find where to access attachments sent.
In the `attachment-info` posted to my API I can see the attachment data but as yet I haven't discovered how to access the attachment files.
Any help appreciated.

[code]

[2018-08-29 01:43] andyg2 commented on #3916
I'm using SendGrid Parse however I have not been able to find where to access attachments sent.
In the `attachment-info` posted to my API I can see the attachment data but as yet I haven't discovered how to access the attachment files.
Any help appreciated.

[code]

[2018-08-29 15:03] thinkingserious commented on #3916
Hello @andyg2,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-08-29 15:03] #3916 closed

[2018-08-29 18:33] hmbrown64 opened #3917 "Subuscription Tracking Page, Images Outdated"
https://sendgrid.com/docs/ui/sending-email/subscription-tracking/

Updated images that reflect current subscription tracking UI. For example, On/Off toggle and replacement tag field display.

[2018-08-30 08:33] MikeMwambia-TrojanSystem commented on #3830
This saved my life...thank you for pointing it out...

[2018-09-04 17:07] beachyrentals opened #3923 "Provision Stage"
I can not contact anyone to help set up the next process. Our account is still in the provision stage and I can not email support@sendgrid and the website doesn't to submit any information.

## Expected content

## Actual content

**Link to page**:

[2018-09-05 15:28] robincher commented on #3702
Just to clarify since i have yet to use this module .

The expected port should be 465 if using TLS?

[code]

[2018-09-10 23:32] RayArgo opened #3928 "Account Lockout"
## Expected content

## Actual content

**Link to page**:

[2018-09-11 14:51] thinkingserious commented on #3928
Hello @RayArgo,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-09-11 14:51] #3928 closed

[2018-09-13 13:00] bobseiclair opened #3930 "I cannot login into my free account anymore"
I create a free trial account to which my access is denied despite my password renewal twice..

account1
username: bobseinclair
password: tomi@2018

account2
uesrname: bernadin
password: serikp@10

thanks

## Expected content

## Actual content

**Link to page**:

[2018-09-13 14:49] thinkingserious commented on #3930
Hello @bobseiclair,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-09-13 14:49] #3930 closed

[2018-09-17 22:06] MadSpaniard opened #3939 "Blacklisted Server"
I have an account (shared) with SendGrid, and discovered that the server my account was assigned to has been blacklisted.  It was blacklisted by no fault of our own - in fact, we have not sent any emails out as of yet on our SendGrid acocunt.  There must be another SendGrid customer on that same account causing the blacklisting.

So, I put in a ticket to support, they said they would reach out to

[2018-09-18 18:55] mattratliff opened #3940 "Using SMTP recipients now added to "To" rather than "Bcc" in existing application"
I have an application using SendGrid with SMTP that has been working until recently (9/10/18).  The applications doesn't place any recipients in the "To" field, but instead adds everyone in the "Bcc" field.

Could this possibly be related to a change in the endpoint?

    public abstract class CadreEmail : MailMessage
    {
        public void SetToAndFromFields(List<string> recipientEmails)

[2018-09-18 20:27] mattratliff commented on #3940
Found issue.  With v3 the "To" field is required.

https://sendgrid.com/docs/for-developers/sending-email/personalizations/#sending-a-single-email-to-a-single-recipient-with-a-cc-and-a-bcc

[2018-09-18 20:27] #3940 closed

[2018-09-19 11:39] micgid commented on #3939
Same here for:

The hotmail.com server blocked this message from being delivered. While we won't try to send this message again, we will attempt to send new messages to this address in the future.

You can view all addresses in your Blocks suppression group. Learn more.

Full response from the hotmail.com server:

550 5.7.1 Unfortunately, messages from [167.89.106.6] weren't sent. Please contact y

[2018-09-19 15:38] ksigler7 commented on #3939
Hey @micgid and @MadSpaniard - we have some really good information about blacklists here - https://sendgrid.com/docs/glossary/blacklists/. If that's not helpful, please reach out to our awesome Support Team - they're in a much better place to help you with individual blacklists. You can access support contact options by logging into https://support.sendgrid.com.

I'm going to close this issue sin

[2018-09-19 15:38] #3939 closed

[2018-09-20 07:48] rahulkumaran opened #3941 "Sendgrid Hacktober Fest"
This is more of a question rather than an issue.
I was just browsing the web about Hacktober Fest and I realised that Sendgrid also had something like a Sendgrid Hacktober Fest last year.

Would something of that sort take place this year too?

[2018-09-20 11:20] koczkatamas opened #3942 "Images are broken in first-timers.md"
## Expected content

Images are shown.

## Actual content

Images are broken because they are not available in @Whatthefoxsays 's docs repo anymore.

**Link to page**: https://github.com/sendgrid/docs/blob/develop/first-timers.md

[2018-09-20 14:51] ksigler7 commented on #3941
@rahulkumaran - yes! We are pumped!! Check out our blog about it here: https://sendgrid.com/blog/hacktoberfest-2018-hack-on-sendgrid-open-source-projects/

[2018-09-20 14:51] #3941 closed

[2018-09-21 10:47] jamesheys opened #3944 "Godaddy video out of date"
Hi There, just to let you know that godaddy no longer asks you to enter the whole address for the cname just the subdomain, the video appears to be out of date, Thanks James

## Expected content

## Actual content

**Link to page**:

[2018-09-23 09:02] filosofikode commented on #2978
Anyone working on this?

[2018-09-24 01:13] rahmatoktavian opened #3945 "Failed to upgrade billing"
Hi Sendgrid Team,

I am trying to upgrade account billing from free to essential (40K email/month).
after fiiled up the billing information form, there's message : GatewayTransactionError  (please see attachment)
![error sendgrid](https://user-images.githubusercontent.com/43527551/45935068-56323080-bfd1-11e8-88d6-bc5be18e6e4a.png)

Please help me because i need to upgrade account soon.
Note : my c

[2018-09-25 07:42] floragroup opened #3947 "SMTP Relay | Authentication failed"
Hello,

 I already make everything is done but I face problem when I send the mail from smtp relay for our mail server (Kerio connect) as below log from our server for test email ..

<a******i@gmail.com>, Result: delayed, Status: 5.7.0 535 Authentication failed: The provided authorization grant is invalid, expired, or revoked, Remote-Host: smtp.sendgrid.net, Msg-Id: 04b901d45488$e52f6140$af8e23c0$

[2018-09-26 17:33] LEAD1809 opened #3958 "urgent"
## Expected content

## Actual content

**Link to page**:

[2018-09-26 17:34] LEAD1809 commented on #3958
hello i ned to have the e,mail of the support becsause i cant login in my account

[2018-09-30 18:54] arshadkazmi42 commented on #3942
Taking this up.

[2018-09-30 19:11] daniloff200 commented on #3831
Oh, easy to fix. Gonna do that.

[2018-09-30 19:48] KayDee commented on #3722
I want to take this issue
Can you tell me where it should be in the page ? because i see a heading named Click already

[2018-09-30 20:01] karltaylor opened #3963 "Transactional Templates Additonal Resources Link 404"
Within the [Additional Resources](https://sendgrid.com/docs/ui/sending-email/create-and-edit-transactional-templates/#additional-resources) section, the Dynamic Templates link returns a 404

## Expected content

🤷🏻‍♂️

## Actual content

**Link to page**:

[2018-09-30 22:10] dheeraj135 commented on #3735
I want to take this issue.

[2018-10-01 03:27] andreathniah commented on #3944
@jamesheys I assume you are talking about the "Whitelabeling with GoDaddy" video at [providers.md](https://github.com/sendgrid/docs/blob/bf4c0cb9bd9f09b6d807aa626f489b6896e52201/source/User_Guide/Settings/Sender_authentication/providers.md)?

@jamesheys I'll do a PR that note the out of date video and add relevant information mentioned by James

[2018-10-01 05:58] AbhyudayaSharma commented on #3751
Hi! I'd like to fix this.

[2018-10-01 18:14] michizhou commented on #3443
I would like to take this issue. Please let me know what to do!

[2018-10-01 18:34] remyapv commented on #3559
@ksigler7

Did some debugging here:

**What went wrong:**
To send a new message using the view, Laravel uses this method  Illuminate\Mail\Mailer:: send

The message is being created and assigned to an array with key **message**. If we use the same variable to assign data to the template, then this get replaced with an instance of **Illuminate\Mail\Message** and rendering the template will cause an

[2018-10-01 20:02] valerianpereira commented on #3903
Can you share some details about this open issue :/

[2018-10-01 20:14] duncanleung commented on #3911
Hi @DanielMoreno58 can you share a code snippet from your transactional email?
(You can strip any sensitive information if needed)

It would help to reproduce the issue.

[2018-10-01 20:18] duncanleung commented on #3847
Hi @madolyn-solv, that link (https://sendgrid.com/docs/Classroom/index.html) goes to a 404 in the docs.

Can you share which page you are looking at?

[2018-10-01 20:32] duncanleung commented on #3265
Hi @budu are you still having issues with `smtp-id`?

I see the docs page you are referencing is here:
https://sendgrid.com/docs/API_Reference/Event_Webhook/event.html#-JSON-objects

It doesn't look like `smtp-id` is something you modify, but is a value that is automatically appended by SendGrid when Events are generated when an email is processed.

@ksigler7

[2018-10-01 20:35] kylearoberts commented on #3911
Hi @DanielMoreno58

I am guessing there is something wrong with the v3 payload you provided. Here is an example payload:

`{
  "personalizations": [
    {
      "to": [
        {
          "email": "send_to@domain.com",
          "name": "Send To Name"
        }
      ],
      "dynamic_template_data": {json payload}
    }
  ],
  "from": {
    "email": "example@domain.com",
    "name": "Sender Name

[2018-10-01 21:17] #3942 closed

[2018-10-01 21:51] #3402 closed

[2018-10-01 22:59] thinkingserious commented on #3958
Hello @LEAD1809,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-10-01 22:59] #3958 closed

[2018-10-01 23:00] thinkingserious commented on #3945
Hello @rahmatoktavian,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-10-01 23:00] #3945 closed

[2018-10-01 23:28] duncanleung commented on #3963
Hi @karltaylor, it should link to:
https://sendgrid.com/docs/ui/sending-email/how-to-send-an-email-with-dynamic-transactional-templates/

The issue has been resolved with #3968 and will be fixed soon.

[2018-10-02 03:42] duncanleung opened #3984 "README Update: homebrew/versions is now deprecated"
## Issue:
In the README [Setup Steps](https://github.com/sendgrid/docs#setup-steps), **"Install required Ruby gems"**:

I was following the steps to resolve the error: `"An error occurred while installing libv8 (3.16.14.7), and Bundler cannot continue"`

When I ran the suggested command:
[code]

I found out that `homebrew/versions` [is deprecated](https://github.com/Homebrew/homebrew-versions):

<

[2018-10-02 14:54] Alvaropague opened #3992 "problem in monthly payment"
Hello, I can not afford the card. It is giving problem of diaper. What do I need to do to pay the bill? The card is ok and I use it daily.

[2018-10-02 14:54] Alvaropague commented on #3992
Você quis dizer Precisamos de uma solução emergencial para não travar nossa plataforma.
We need an emergency solution to not stop our platform.

[2018-10-02 15:27] Whatthefoxsays commented on #3728
Wooo Knowledge Center!

[2018-10-02 15:27] #3728 closed

[2018-10-02 15:31] Whatthefoxsays commented on #3089
Since we've moved to our new Knowledge Center, this issue has been taken care of.

[2018-10-02 15:31] #3089 closed

[2018-10-02 15:32] thinkingserious commented on #3992
Hello @Alvaropague,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-10-02 15:32] #3992 closed

[2018-10-02 15:33] ksigler7 commented on #3947
Hello @floragroup,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a docs specific issue, we would like to ask that you reach out to our support team at https://support.sendgrid.com.

Thank you!

SendGrid DX Team

[2018-10-02 15:33] #3947 closed

[2018-10-02 15:34] #3963 closed

[2018-10-02 15:35] #3074 closed

[2018-10-02 15:37] Whatthefoxsays commented on #3100
This issue has been resolved.

[2018-10-02 15:37] #3100 closed

[2018-10-02 15:40] Whatthefoxsays commented on #2978
Since we've updated our navigation, the page should go here now: https://sendgrid.com/docs/for-developers/parsing-email/______________/

[2018-10-02 15:44] Whatthefoxsays commented on #2981
Creating a new issue that captures the current state of this documentation and the additional updates that need to be made.

[2018-10-02 15:44] #2981 closed

[2018-10-02 16:22] duncanleung commented on #3984
@Whatthefoxsays @ksigler7 Ah, no worries. I figured my local build looked like the old version of the docs.

Should I be branching off `master` then?

[2018-10-02 17:32] Whatthefoxsays opened #3999 "Adding account verification information to Account and Settings Documentation"
Add the information from this FAQ page into a new "Verifying your Account" page.

https://github.com/sendgrid/docs/blob/Whatthefoxsays-patch-15/source/Classroom/Basics/Account/account_sign_up_faq.md

Use the following format for the head matter of the page, adding your own title, SEO description, and keywords:

[code]

[2018-10-02 17:57] Alvaropague commented on #3992
I can not pass any credit cards.

Do I need to change something in the configuration?
this panel https://support.sendgrid.com does not have the information to solve my problem.
I really need your help to find out what's making it difficult.

[2018-10-02 21:22] tylerwall opened #4007 "Getting error when I click on Login and Contact Support- Transactional Emails being rejected by Yahoo."
## Expected content

## Actual content

**Link to page**:

[2018-10-02 22:09] ksigler7 commented on #4007
Hey @tylerwall - you can contact our support team about this issue through this form - https://support.sendgrid.com/hc/en-us/requests/new#login-issue

Closing since this isn't an issue specific to our docs.

[2018-10-02 22:09] #4007 closed

[2018-10-02 22:19] #3702 closed

[2018-10-02 22:48] #3751 closed

[2018-10-03 00:16] duncanleung commented on #3999
I'll take this on.

@Whatthefoxsays I wanted to check - is there another branch with the new Gatsby build?

Do I still branch off [`develop`](https://github.com/sendgrid/docs/tree/develop)?

[2018-10-03 02:26] #3830 closed, assigned to nobody

[2018-10-03 02:26] #3735 closed, assigned to nobody

[2018-10-03 02:27] #3944 closed

[2018-10-03 02:27] #3675 closed

[2018-10-03 02:28] #3720 closed

[2018-10-03 02:28] #3443 closed

[2018-10-03 04:51] duncanleung opened #4015 "README Update: Gatsby CLI Required for Local Setup?"
## Issue:
In the README [Setup Steps](https://github.com/sendgrid/docs#setup-steps), **"Install Gatsby"**:

I was following the steps to install Gatsby and Build the local site.

When I ran
[code]

I get an error because Gatsby CLI was not installed:
_(I don't think it's an issue isolated to my using zshell?)_

[code]

![1__duncanleung_duncan-leungs-macbook-pro____dev_personal_sendgrid_docs__zsh_]

[2018-10-03 05:20] duncanleung commented on #4015
By the way, I'm loving that you guys moved to Gatsby. Build times are soooo much faster! 😍

[2018-10-03 15:01] #4015 closed

[2018-10-03 15:10] ksigler7 commented on #3999
thanks again @duncanleung!!!

[2018-10-03 15:10] #3999 closed

[2018-10-03 15:14] ksigler7 commented on #3911
@DanielMoreno58 - for future reference, you can file a ticket with our awesome support team by logging in at https://support.sendgrid.com/hc/en-us

[2018-10-03 15:15] #3831 closed

[2018-10-03 15:16] ksigler7 commented on #3923
@beachyrentals - you can use this form to contact our support team - https://support.sendgrid.com/hc/en-us/requests/new#login-issue

[2018-10-03 15:16] #3923 closed

[2018-10-03 15:19] #3559 closed

[2018-10-03 16:03] productdana commented on #3917
I would like to take up this issue!

[2018-10-03 16:11] michizhou commented on #2861
I would be happy to take this issue!

[2018-10-03 16:39] duncanleung commented on #1755
I'll take this one up!

[2018-10-03 16:54] duncanleung commented on #2667
@ksigler7 should this be closed?

I see that the PR was merged, but the ticket was reopened? Any additional information on this?

[2018-10-03 17:03] duncanleung commented on #1755
@ksigler7 I wanted to clarify, where should the new, _Sending a Transactional Template Email over SMTP_, page go?

I'm assuming under the **[SMTP API](https://sendgrid.com/docs/for-developers/sending-email/)** section?
Home > For Developers > Sending Email > Sending a Transactional Template Email over SMTP

[2018-10-03 18:57] Monthlyexpenses opened #4026 "Send W-9"
## Expected content

## Actual content

**Link to page**:

[2018-10-04 03:56] anchepiece opened #4029 "Minor markdown issues in USAGE.md"
Hello :wave:

## Expected content
Formatting should place all commands in code blocks, there is one unmatched block. Additionally a small typo was caught.

## Actual content

**Link to page**: https://github.com/sendgrid/docs/blob/develop/USAGE.md

[2018-10-04 12:31] DCzajkowski opened #4034 "Typo in recipients"
You guys have a typo in a navbar.

![](https://i.imgur.com/deTdHhR.png)

## Expected content
Search recipients

## Actual content
Search recipents

---

**Link to page**: https://sendgrid.com/docs/api-reference/

[2018-10-04 12:41] Niladri24dutta commented on #4034
@ksigler7 I am working on this as a PR. Can you guide me to find the correct files for api references ? Is this a React specific change?

[2018-10-04 12:42] DCzajkowski commented on #4034
The file containing this is not public, as far as I know.

[2018-10-04 17:08] duncanleung commented on #4029
🦅 👀 ! Great find.

I don't think they use Jekyll anymore though, so I believe that page should be deprecated.

The current docs now runs on Gatsby.

[2018-10-04 17:11] duncanleung commented on #4034
Their API docs are powered by https://stoplight.io

[2018-10-05 17:32] #4029 closed

[2018-10-05 21:13] #4026 closed

[2018-10-05 21:14] ksigler7 commented on #4034
yep, thanks everyone, we're working on getting our swagger spec open sourced, but it's not right now. I will still leave this issue open in our backlog though, because this is an ugly typo!

[2018-10-05 21:39] danimart1991 commented on #2017
I would like to take this issue.

[2018-10-05 23:32] daniloff200 commented on #3302
As I see, this issue was reopened, so, I'm gonna try to work with that

[2018-10-05 23:44] tenharenda opened #4054 "Your login was unsuccessful"
## Expected content

## Actual content

**Link to page**:
![image](https://user-images.githubusercontent.com/43896541/46564680-4115a580-c8df-11e8-8cde-c66a2dc09619.png)
![erro](https://user-images.githubusercontent.com/43896541/46564690-64d8eb80-c8df-11e8-84df-ada58a1889ef.png)

[2018-10-06 04:35] py-ranoid commented on #3846
How can I replicate this issue ?

[2018-10-06 15:15] arshadkazmi42 opened #4059 "Broken link in Sending Email Category"
In this page,

https://sendgrid.com/docs/ui/sending-email/sendgrid.net-greylisted/

 `Edit this page` this link is broken.

On debugging the issue, I found that the slug returning from the graphql query is different from the name of the file, due to which the url is breaking.

GraphQL Response

[code]

So, the replace function written in the codebase, is not able to replace the `slug` from the `pe

[2018-10-06 15:37] daniloff200 commented on #3302
I think, that issue have to be closed.
I didn't found any bower dependencies, or, any appearance of bower, except .gitignore file cc @ksigler7

[2018-10-07 04:11] michizhou commented on #2861
@ksigler7 Just wanted to let you know that I recently committed some changes to the postfix file and its troubleshooting section that should address this issue.

[2018-10-07 13:15] mindmat commented on #3265
Maybe you're looking for this: https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.html
You receive the Message-ID in the Header X-Message-Id of the response

[2018-10-07 15:58] budu commented on #3265
Hi, I got it figured out a while ago but thanks anyway.

Have a great day!

On Sun, Oct 7, 2018 at 9:15 AM Mathias Minder <notifications@github.com>
wrote:

[2018-10-07 18:36] Insiyaa commented on #3846
I'd like to take this up!

[2018-10-08 15:50] cmckni3 commented on #3302
@daniloff200 meh. Seems like the project may have been converted to gatsby since last year?

[2018-10-08 15:51] cmckni3 commented on #3302
Closing

[2018-10-08 15:51] #3302 closed

[2018-10-08 16:48] duncanleung commented on #1755
@ksigler7 I'm going to start working on this in the meantime, but please feel free to comment if any corrections need to be made to my assumptions!

[2018-10-08 18:56] hmbrown64 commented on #3784
@ksigler7 I can grab this one

[2018-10-08 20:01] Tony133 opened #4087 "Update command string for install homebrew for MacOS"
## Expected content
Update command string for install homebrew for MacOS
## Actual content

**Link to page**:https://github.com/sendgrid/docs/compare/develop...Tony133:readme-homebrew?expand=1

[2018-10-08 22:34] madolyn-solv commented on #3846
yes, this graph shows when you are sending a campaign and choose the option
to do an A/B test -- this graph is a slider to determine how large your
sample size will be (out of your whole sending population)

On Sun, Oct 7, 2018 at 12:20 PM Insiyah Hajoori <notifications@github.com>
wrote:

--
*Madolyn Mertz*
madolyn@solvhealth.com
325.374.4115 <(325)%20374-4115>

[2018-10-08 22:44] michizhou commented on #2861
Hi @ksigler7 I just wanted you to know that I recently created a new PR (#4092) in place of the old one (#4023) to address this issue in light of the recent changes to this repo's file system structure. Let me know if you need me to make any other changes to the docs. Thanks!

[2018-10-09 09:22] benjamingatzka opened #4095 "Free Trial"
**Link to page**:

[2018-10-09 11:14] andy-scott opened #4096 "Event Webhook Reference"
https://sendgrid.com/docs/API_Reference/Event_Webhook/event.html

this is taken from the webhooktester
"category":["order-confirmation"]
which suggests that category is an Array of strings

The documentation says it is a string

[2018-10-09 15:34] kylearoberts commented on #3911
@DanielMoreno58

Let me know if you have any issues with creating an account. I'll do what I can to move things along. I just want to make sure we get the information we need if we do indeed have a bug. Thanks for your effort in helping with this.

[2018-10-09 16:45] Superkrowka opened #4104 "AOC"
Hi, we need a pci compliant email provider - can you please provide your pci aoc.

[2018-10-09 17:19] techgaun commented on #3491
@ksigler7 looks like its still not there in the doc. I can take this one

[2018-10-09 19:30] Whatthefoxsays opened #4107 "Update Style Guide to include new head matter"
With our new Knowledge Center, our page formatting has changed a little bit. Our new head matter looks like this:

[code]
This information needs to be added into our style guide in the repo. The "group" field in the head matter pertains to the different headers each article resides under in a specific category. The list below outlines all of the different groups. The sections in **Bold** are the c

[2018-10-09 20:56] #4095 closed

[2018-10-09 20:57] thinkingserious commented on #4054
Hello @tenharenda,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-10-09 20:57] #4054 closed

[2018-10-09 20:58] ksigler7 opened #4108 "Update email activity docs"
## Expected content

In the documentation about the activity feed (https://sendgrid.com/docs/ui/analytics-and-reporting/email-activity-feed/) it doesn't say that reseller accounts do not currently have EASE.

## Actual content

Add a note to line 30 of the email activity docs with something like this:

[code]

**Link to page**: https://sendgrid.com/docs/ui/analytics-and-reporting/email-activity-fe

[2018-10-09 21:00] ksigler7 opened #4109 "Event webhook typo"
## Expected content

'If a recipient has previously unsubscribed from your emails, the message is bounced.'

## Actual content
Change bounced to dropped

**Link to page**: https://sendgrid.com/docs/API_Reference/Event_Webhook/event.html#processed

[2018-10-09 21:04] thinkingserious commented on #4104
Hello @Superkrowka,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-10-09 21:04] #4104 closed

[2018-10-09 21:06] ksigler7 opened #4110 "Update to teammates documentation"
## Expected content

In teammates, we need to add a note to line 14 like this:

[code]

**Link to page**: https://sendgrid.com/docs/ui/account-and-settings/teammates/

[2018-10-09 21:08] ksigler7 opened #4111 "Email activity head matter adjustment"
## Expected content

Change the group in the headmatter of this page from "sending-email" to "tracking"

**Link to page**: https://sendgrid.com/docs/for-developers/sending-email/getting-started-email-activity-api/

[2018-10-09 21:10] ksigler7 opened #4112 "Update Microsoft delisting request URL"
update the Microsoft/Outlook delisting request to https://support.microsoft.com/en-us/getsupport?oaspworkflow=start_1.0.0.0&wfname=capsub&productkey=edfsmsbl3&locale=en-us&ccsid=635996265829568030&forceorigin=esmc

**Link to page**: https://sendgrid.com/docs/ui/sending-email/blacklists/

[2018-10-09 21:15] #3722 closed

[2018-10-09 21:30] #4087 closed

[2018-10-09 21:37] ksigler7 commented on #2861
@michizhou - thank you so much for doing this!

[2018-10-09 21:38] #2861 closed

[2018-10-09 21:42] #4112 closed

[2018-10-09 21:43] #4108 closed

[2018-10-09 21:46] #4109 closed

[2018-10-09 21:50] ksigler7 commented on #3917
@productdana - thanks so much, we are reviewing your PR soon!

[2018-10-09 21:53] ksigler7 commented on #3846
@madolyn-solv - I thought this was an issue in the docs (which is what this repo is for). Thanks for this feedback though! I have made an appropriate product request with the information you've given here, but unfortunately we cannot fix this from this repo. Closing this issue since it is not docs specific.

[2018-10-09 21:53] #3846 closed

[2018-10-09 21:53] ksigler7 commented on #3784
thanks @hmbrown64 - let me know if you need any help!

[2018-10-09 21:54] daniloff200 commented on #4111
@ksigler7  hey, I think I was confused a little bit with the description of this issue.

![selection_011](https://user-images.githubusercontent.com/13692220/46700962-ebb2fe80-cc26-11e8-9bf5-8372ca6401b8.png)

Do I have to change the route part (as soon as the content in navigation block), or, there's something else here?

[2018-10-09 21:54] #3265 closed

[2018-10-09 21:55] ksigler7 commented on #3052
@kshitijpurwar - js would be great! we've actually updated this repo to js since this issue was created

[2018-10-09 21:56] ksigler7 commented on #2979
@jvogit - thanks for the PR! we haven't forgotten you (we just got overwhelmed with Hacktoberfest), we are going to be able to look at your PR soon

[2018-10-09 21:56] aroach commented on #2017
@kevinquinnyo I've been working on a related project in the sendgrid-nodejs repo to create a container that is a inbound parse webhook receiver.  https://github.com/sendgrid/sendgrid-nodejs/pull/792

I'm not sure, but I think that repo you posted may not be relevant anymore.  The current functionality that I've seen is that the Inbound Parse webhook will POST multipart form data to your endpoint.

[2018-10-09 21:57] ksigler7 commented on #2978
@filosofikode - all yours!

[2018-10-09 22:02] hmbrown64 commented on #3784
https://github.com/sendgrid/docs/pull/4120

[2018-10-09 22:14] ksigler7 commented on #4111
@daniloff200 - great question! I mean in the source of the page, here:
![image](https://user-images.githubusercontent.com/28788585/46701863-6277d980-cbde-11e8-904b-0f074b4c4b12.png)

[2018-10-09 22:19] daniloff200 commented on #4111
So, probably I have to change "tracking" to "sending email" , according to your screenshot, haha :) @ksigler7

[2018-10-10 01:54] aroach commented on #2017
To the OP's question.  The current implementation is POSTing the following:

 `'content-ids': '{"f_jn2hg5hz1":"attachment2","f_jn2hg5h00":"attachment1"}',`

`'attachment-info': '{"attachment2":{"filename":"IMG_2570.jpg","name":"IMG_2570.jpg","type":"image/jpeg","content-id":"f_jn2hg5hz1"},"attachment1":{"filename":"kaylyn-dog.jpg","name":"kaylyn-dog.jpg","type":"image/jpeg","content-id":"f_jn2hg5h

[2018-10-10 02:16] techgaun commented on #3491
@ksigler7 doesn't seem like there's a way to edit it. I saw a reference to `https://sendgrid.api-docs.io/` in one of the jsx files. Is this public and somewhere else I should be updating it?

[2018-10-10 06:13] iampeterbanjo commented on #4107
hi, I would like to work on this.

[2018-10-10 12:20] ThiruPraveen18 opened #4138 "Tidy up Wordpress FAQ under Sending Emails in For Developers"
## Expected content

For the API Key used for sending emails (the General tab):

– Full Access to Mail Send.
– Read Access to Stats.
– Read Access to Suppressions > Unsubscribe Groups.
– Read Access to Template Engine.

For the API Key used for contact upload (the Subscription Widget tab):

– Full Access to Marketing Campaigns.

There are misaligned list items in [For Developers -> WordPress FAQ](

[2018-10-10 12:20] ThiruPraveen18 commented on #4138
Working on it!

[2018-10-10 15:53] keithpeckagent3 opened #4142 "Activity Feed API Feedback"
Hello,

I am finding the Email Activity Feed API too limited for most purposes. The querying features are very extensive but the fields returned in the /messages endpoint are very limited. In my case, I am querying the messages based on category and unique arguments, but then these fields are not returned in the result set. So I then have to get each message individually to find the unique argumen

[2018-10-10 16:46] ksigler7 commented on #4111
@daniloff200 - yeah, you are completely right. The dyslexia was real with this one.

[2018-10-10 21:41] #4110 closed

[2018-10-10 21:45] daniloff200 commented on #4111
@ksigler7 mistakes is a part of human nature :)

I think, we need to update description for this ticket, and also, I've created #4122 with a fix

[2018-10-10 22:10] hmbrown64 commented on #4096
I can take this

[2018-10-10 22:12] hmbrown64 commented on #3384
I can look into this one

[2018-10-10 22:36] #4111 closed

[2018-10-10 23:34] #2979 closed

[2018-10-10 23:41] #2739 closed

[2018-10-11 01:44] ramonrovirosa commented on #3384
Hi, @hmbrown64 & Sendgrid team, we are having the same exact issue in our mobile app. @iwilsonq did you ever find a work around in order to get  universal/deep links working with sendgrid?

[2018-10-11 02:16] ramonrovirosa commented on #3384
Update, we got this working.

Essentially we had to update the `Cache Based on Selected Request Headers` from the default `none` to `all`. The documentation is a little outdated https://sendgrid.com/docs/ui/sending-email/universal-links/ for #17 shows to set the field `Forward Headers` to All which is now called `Cache Based on Selected Request Headers` which should be set to all. Attached is my D

[2018-10-11 09:34] VirendraArekar opened #4167 "How to create list in sendgrid"

[2018-10-11 13:24] webbgroup opened #4173 "whitelist lock out"
And I cant log in to the support portal because the support portal uses the whitelisting capability.

## Expected content

## Actual content

**Link to page**:

[2018-10-11 13:33] webbgroup commented on #4173
Expected content, that whitelisting would be ONLY for api access ONLY, not for account login and access. What happens if i login from using a new ISP? my ip would have been changed then.

This is a SEVERE security circle of logic that is not warned to us as a customer until AFTER we already locked ourselves out.

Please help ASAP.

[2018-10-11 14:30] ksigler7 commented on #4173
@webbgroup - you can use this link to contact our support team - https://support.sendgrid.com/hc/en-us/requests/new#ipam-lockout

[2018-10-11 14:30] #4173 closed

[2018-10-11 14:34] ksigler7 commented on #4142
hello @keithpeckagent3 - thanks for the feedback! I've passed it onto the product manager in charge of that functionality.

[2018-10-11 14:34] #4142 closed

[2018-10-11 14:35] ksigler7 commented on #4096
thanks @hmbrown64

[2018-10-11 14:36] ksigler7 commented on #4059
@arshadkazmi42 - this is a great catch! renaming the file will fix this. we shouldn't have files with anything but a `-` for this exact reason. Thanks for taking on the PR!

[2018-10-11 14:41] ksigler7 opened #4175 "New page in For Developers: Automating Subusers"
Here is a series of cURL code examples that we have for automating adding subusers. The todo here is to validate these examples, and then following our styleguide, create a new page called "Automating Subusers" in For Developers > Sending Email > V3 API.

Step #1

Create Subuser - Creating the actual account, the profile, username, password, and the keys you want on the account.

curl -X POST -H "

[2018-10-11 14:44] ksigler7 opened #4176 "Docs Reorg: Reputation"
These two pages are very similar and should be combined into one new page that follows our style guide, called Reputation Monitoring that lives in the Glossary - make sure the new page has the important information from both pages

https://sendgrid.com/docs/ui/sending-email/reputation/
https://sendgrid.com/docs/glossary/reputation-monitoring/

[edit: fixing broken link]

[2018-10-11 14:52] arshadkazmi42 commented on #4059
Cool. I will create a PR for this today. Thanks for confirming the issue and the fix

[2018-10-11 15:03] jidemusty commented on #4176
The first page is a 404

[2018-10-11 15:20] ksigler7 opened #4180 "New page: Getting Started with transactional emails"
Define and give examples of Transactional emails. Talk about how customers should use SendGrid for Transactional emails, link to the Transactional Email User Guide, and link to the APIs. Create the page in For Developers > Sending Email > V3 API, and use the [API getting started](https://sendgrid.com/docs/for-developers/sending-email/api-getting-started/) page as a model.

[2018-10-11 15:30] #4059 closed

[2018-10-11 15:54] crweiner commented on #4175
I am working on this now. :+1:

[2018-10-11 16:47] crweiner commented on #4175
@ksigler7 Please see #4182 for my attempt at making the Automating Subusers page. I have currently titled my PR as [Do Not Merge] because I wanted to have your input for any and all edits before my PR is considered for the Docs.

[2018-10-11 17:48] tanhengyeow commented on #4180
@ksigler7 Hi! I wish to be assigned this issue 😃

[2018-10-11 19:39] chrislupdx commented on #4180
@ksigler7 Hey! Very interested! Marketing Automation background here!

[2018-10-12 18:02] lpresgrove opened #4192 "Unsubscribe Clarification"
**Link to page**: https://sendgrid.com/docs/ui/sending-email/unsubscribe-groups/

I would like to make updates and provide greater clarification on the different unsubscribe options.

[2018-10-12 18:03] lpresgrove commented on #4192
@ksigler7 @Whatthefoxsays Got this one!

[2018-10-12 20:29] #4107 closed

[2018-10-12 22:42] ksigler7 commented on #4180
@tanhengyeow and @chrisbutler - awesome guys! would you want to work together on this? you could hash it out here in the comments

[2018-10-12 22:45] ksigler7 commented on #4176
broken link is fixed - thanks for the PR @pushkyn! we will get to it in the next day or so

[2018-10-12 22:46] thinkingserious commented on #4167
Hello @VirendraArekar,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-10-12 22:46] #4167 closed

[2018-10-13 02:07] kichloo commented on #3917
I am new on Github and would like to make a Pull Request. Kindly explain about the same.

[2018-10-13 15:13] inyee786 opened #4211 "404 not found the font 'icomoon.ttf'"
## Expected content
this error should not come

## Actual content

**Link to page**:
![screenshot from 2018-10-13 20-41-31](https://user-images.githubusercontent.com/20504600/46906932-93327880-cf28-11e8-85b7-e48db7f65ec0.png)

[2018-10-13 15:15] inyee786 commented on #4211
i would like to solve it

[2018-10-13 15:45] productdana commented on #4176
I'd like to take up this issue!

[2018-10-13 20:47] lumie31 commented on #3917
Hey @kichloo. This should be helpful: https://www.digitalocean.com/community/tutorials/how-to-create-a-pull-request-on-github
Cheers.

[2018-10-15 16:33] davidjosephl opened #4218 "Account Suspended"
PLEASE un-suspend my account. I need to send e-mails ASAP. This is crucial.

[2018-10-15 16:33] #4218 closed

[2018-10-15 17:31] #4176 closed

[2018-10-15 18:02] duncanleung opened #4221 "New Page? SMTP API vs v3 API"
While looking into issue #1755 I had some questions:
- What are the differences / limitations between the two APIs
- Which protocol should I use to send email, SMTP or REST?

On the [SendGrid main docs page](https://sendgrid.com/docs/) two of the main CTA are:
- API: Use the SendGrid v3 REST API to build and send email.
- SMTP: Use the SendGrid SMTP API to build and send email.

However, there isn

[2018-10-16 14:48] hugovk opened #4227 "403 for Vimeo videos"
## Expected content

Playable Vimeo videos.

## Actual content

Unplayable Vimeo videos.

![image](https://user-images.githubusercontent.com/1324225/47024949-5904e900-d16b-11e8-9c0e-bb43a90a5d53.png)

**Link to page**:

https://sendgrid.com/docs/ui/account-and-settings/two-factor-authentication/

=>

https://github.com/sendgrid/docs/blob/develop/content/docs/ui/account-and-settings/two-factor-auth

[2018-10-16 15:07] hugovk opened #4228 "Rdio is no more"
## Expected content

Can follow instructions.

## Actual content

Rdio has shut down, this guide can no longer be followed:

* https://en.wikipedia.org/wiki/Rdio

**Link to page**:

https://github.com/sendgrid/docs/blob/develop/content/docs/for-developers/partners/azure.md

[2018-10-16 18:29] lpresgrove opened #4231 "Subscription Management Overview Clarification"
**Link to page**: https://sendgrid.com/docs/ui/sending-email/index-suppressions/

[2018-10-16 21:37] Whatthefoxsays opened #4233 "How to Send MIME messages with SendGrid"
Explain how MIME messages can be sent, in more detail, using SendGrid. Explain that this can only be done over SMTP.

The doc should go here:
for-developers/sending-email/__________/

[2018-10-16 21:39] ksigler7 commented on #4221
@duncanleung - we would like people to use the REST API mainly because it is more secure and offers more functionality.

Thanks for this feedback though, I think we can take this feedback and update how we present this information on the site to emphasize it.

[2018-10-16 21:39] #4221 closed

[2018-10-16 21:39] ksigler7 commented on #4192
awesome @lpresgrove - did you already submit a PR for this?

[2018-10-16 21:41] ksigler7 commented on #4227
@hugovk - when I view this page, I am seeing the video:
![image](https://user-images.githubusercontent.com/28788585/47049210-e6d7d880-d159-11e8-8ecc-b9f41c8260f2.png)

Can you give us any info about your browser?

[2018-10-16 21:42] ksigler7 commented on #4231
@lpresgrove - what's wrong with this page?

[2018-10-16 21:47] Whatthefoxsays opened #4234 "Update screenshots in Brite Verify integration page"
Verify steps and update screenshots for Brite Verify integration.

https://support.briteverify.com/briteverify-integrations/sendgrid-integration

[2018-10-16 21:49] ksigler7 opened #4235 "Removing weird links"
All of the links under this heading go to the same page that is not really related to the links.
https://sendgrid.com/docs/Classroom/Deliver/index.html#-List-Management

Remove redundant links, and update this link:

The page linked is about 'how' to manage a list using SendGrid, not about ""tips and tutorials to help guide your recipient, or contact, list management.""
Should be linked to https:/

[2018-10-16 21:52] ksigler7 opened #4236 "Add a note to AWS page"
Add a note to the AWS page at line 22 with this content:

<call-out>

If you are using SendGrid through AWS, you cannot change your SendGrid username.

</call-out>

**Link to page**:

[2018-10-16 21:58] ksigler7 opened #4238 "Add a note to the substitutions page"
Add a note to line 42 of the substitions tags page that has the following content:

[code]

**Link to page**:
https://sendgrid.com/docs/for-developers/sending-email/substitution-tags/

[2018-10-16 22:05] ksigler7 opened #4239 "Upgrading your plan page"
## Expected content

Add a new page with steps to upgrade your account to the Account and Settings section. Please follow our Style Guide and standard page layout.

[2018-10-16 22:07] Whatthefoxsays opened #4240 "Add FQDN (Fully qualified domain name) Glossary Page"
Add a page to our glossary defining FQDN (fully-qualified domain name)

[2018-10-16 22:09] duncanleung commented on #4239
I can take this on!

[2018-10-16 22:43] hannahapuan commented on #4235
I can take this one

[2018-10-16 22:49] hannahapuan commented on #4236
I can work on this

[2018-10-16 22:50] hannahapuan commented on #4236
It's this page, correct? content/docs/for-developers/partners/amazon-marketplace.md

[2018-10-16 23:06] hmbrown64 commented on #4240
I can take this one

[2018-10-16 23:12] hannahapuan commented on #4236
https://github.com/sendgrid/docs/pull/4242

[2018-10-16 23:15] hannahapuan commented on #4238
I can take this one

[2018-10-16 23:29] erindatkinson commented on #4235
I can work on this.

[2018-10-16 23:57] #4236 closed

[2018-10-16 23:59] mattreyuk commented on #4235
@ksigler7 I looked at the `List-Management` page and it looks like the links on that page are all valid - did you miss a reference to the parent page that you want to switch `List-Management` to `building_your_contact_list`?

[2018-10-17 00:00] Whatthefoxsays opened #4244 "Update Invalid Emails page"
Replace the sentence "This endpoint allows you to retrieve and delete entries in the Invalid Emails list." with a summary at the top of this page that explains what an invalid email is, based on whats in https://sendgrid.com/glossary/invalid-emails/ then link to {{root_url}}/glossary/invalid-emails/ from this summary.

[2018-10-17 00:04] Whatthefoxsays opened #4246 "Add Knowledge Center image location to the SG style guide"
Knowledge Center images now live in the following folder:

docs/static/img/

Please update our style guide to reflect this.

[2018-10-17 00:07] hmbrown64 commented on #4240
https://github.com/sendgrid/docs/pull/4247

[2018-10-17 00:08] hmbrown64 commented on #4244
got it

[2018-10-17 00:17] #4238 closed

[2018-10-17 00:39] hmbrown64 commented on #4244
https://github.com/sendgrid/docs/pull/4266

[2018-10-17 01:06] hmbrown64 commented on #4096
https://github.com/sendgrid/docs/pull/4268

[2018-10-17 01:08] hmbrown64 commented on #4234
I can look into this one

[2018-10-17 10:07] swnasir opened #4283 "SendGrid API for sending Marketing campaign causes problem as unsubscribe tag missing"
I am developing a C# console application in order to create and send a Campaign to the recipients. To accomplish this I have been using SendGrid Web API V3.

Here is my C# code:

[code]
In the above code, for email body, I have prepared an HTML file which is passed into the "HtmlContent" Property. Here is the HTML code:

[code]
The above code can create a new Campaign without any errors but it can

[2018-10-17 13:06] lpresgrove commented on #4192
Not yet, it's still a work in progress! Just a few updates I wanted to make

[2018-10-17 13:13] lpresgrove commented on #4231
@ksigler7 Nothing wrong with it grammatically, just wanted to make a small distinction that subscription tracking only works if sending via SMTP/API, not marketing campaigns. That's been a major pain point in customer interactions for me personally

[2018-10-17 18:30] mozebdi commented on #4228
I can take this one!

[2018-10-17 18:33] mozebdi commented on #4228
It looks like we have a more updated Azure page here: https://github.com/sendgrid/docs/blob/develop/content/docs/for-developers/partners/microsoft-azure.md
Do we still need the outdated guide with Rdio?

[2018-10-17 18:36] mozebdi commented on #4228
I have also updated that page to correct a broken link to the Java web page example.

[2018-10-18 06:28] hugovk commented on #4227
I'm using macOS High Sierra and Chrome 69.

And I found the problem, its cookies are being blocked by Privacy Badger:

![image](https://user-images.githubusercontent.com/1324225/47134768-945ffe80-d2b6-11e8-86ce-cd84343b08f9.png)

Switching the Vimeo setting lets it work:

![image](https://user-images.githubusercontent.com/1324225/47134791-ab9eec00-d2b6-11e8-8d7d-8470fceb0e47.png)

I guess this is

[2018-10-18 10:23] Ayush-Rawal opened #4294 "Change first-timers.md to CONTRIBUTING.md"
The file name first-timers does not, at first glance, indicate what it is for. Generally people look  for a CONTRIBUTING.md file which is a standard name given to the file that holds instructions on contributing

[2018-10-18 14:57] luciajimenez opened #4300 "Pixel Tracking Description Link 404"
## Expected content
"Web API" hyperlink under Open Tracking section directs to a 404.

## Actual content

**Link to page**: https://github.com/sendgrid/docs/blob/develop/content/docs/ui/account-and-settings/tracking.md

[2018-10-18 14:58] luciajimenez commented on #4300
Taking care of this one ^

[2018-10-18 16:53] buck06191 commented on #4294
I'd like to take this one if possible.

[2018-10-18 17:04] buck06191 opened #4303 "Broken image in styleguide.md"
## Expected content
Should be able to see the image of document structure in styleguide.md

## Actual content
 Instead we see:
`src="https://github.com/sendgrid/docs/blob/develop/static/img/docs-architecture-group.png" width="676" height="386">`

**Link to page**: [styleguide.md]{https://github.com/sendgrid/docs/blob/develop/styleguide.md}

[2018-10-18 17:51] duncanleung commented on #4239
I didn't see the Hacktoberfest label, but I was wondering if this will count towards those contributions? =)

[2018-10-19 05:28] Ayush-Rawal commented on #4294
Hi @buck06191,

Sorry but I'm about to submit a PR for this.

[2018-10-19 11:51] jawn opened #4316 "Move cURL link from v2 to v3 section"
## Expected content

Link to cURL page is in the SendGrid v3 API block.

## Actual content

![image](https://user-images.githubusercontent.com/1705112/47216658-fe0b0600-d3a5-11e8-9107-db8ca88631ef.png)

**Link to page**:
https://sendgrid.com/docs/for-developers/sending-email/

[2018-10-19 12:45] laurenziello commented on #4316
I will do it!

[2018-10-19 15:20] jindalAnuj opened #4319 "Update requirements in readme.md"
## Expected content
Links should be provided to All requirements. in readme.md file
## Actual content

Git
RVM
Homebrew
npm
yarn
Gatsby

[**Link to page**](https://github.com/sendgrid/docs/blob/develop/readme.md)

[2018-10-19 16:43] lpresgrove opened #4321 "Update to API Keys Page: Permissions Instructions"
**Link to page**: https://sendgrid.com/docs/API_Reference/Web_API_v3/API_Keys/index.html

[2018-10-19 16:44] lpresgrove commented on #4321
Got this one!! (To include notes about the two calls you need to make to retrieve permissions then update to include permissions that are not included in the UI.)

[2018-10-19 16:50] jfc246 commented on #3911
I'm new at this, but have you tried using <p>? It might work instead of the slashes.

[2018-10-19 17:38] lpresgrove commented on #4321
#4322

[2018-10-19 22:57] #4246 closed

[2018-10-20 01:08] #4239 closed

[2018-10-20 01:18] #4319 closed

[2018-10-20 20:46] sheam opened #4344 "How can I use fields from my Account Details in transactional emails?"
I have a transaction email with an unsubscribe footer. The foot has fields like sender_name, etc.

I would like to change those fields, or at least populate them from my account details. Otherwise I am forced to add that data via api every time I send, and it never changes.

I also can't seem to find a way to edit the text in that footer.

[2018-10-21 08:01] tulikavijay commented on #3052
it seems like no one is working on this, can i take this one?
A bit of help before i get started, i would like if you can help me with the markdownAST and are we talking about this image [directory](https://github.com/sendgrid/docs/tree/develop/static/images)?

[2018-10-21 08:05] sachinsvk opened #4352 "Your account has been suspended. Please contact Support to regain access."
Account Info: NAME Sri Pranapriya Ananda

EMAIL ADDRESS
support@nithyanandauniversity.org

I am getting a message that the account was blocked. Can you please help with the details and what actions are required asap.

[2018-10-21 13:50] kshitijpurwar commented on #3052
@tulikavijay, I wanted to work on this but got a busy lately so you can go ahead and pick this up. Also, if it can help you I would like to put forward my approach to the problem as well.

My approach is really simple, you just scan all the files with `.md` extension and using regex collect image URLs since it's just markdown and it follows strict pattern for inserting images i.e. `![Image](<image

[2018-10-21 15:51] tulikavijay commented on #3052
@kshitijpurwar thanks for the help!

[2018-10-22 14:55] ChristopherJohnson25 commented on #1417
@redaxmedia is the sendgrid proxy still working? Having some troubles. Is anyone else using this successfully currently?

[2018-10-22 15:47] dagolinuxoid commented on #3917
@productdana There is a tip: In order to close an issue automatically you can include `fix #3917` text to your commit message. So next time you'll be aware :). There are some examples [how to close issues using keywords automatically](https://help.github.com/articles/closing-issues-using-keywords/)

[2018-10-22 19:20] tomudding commented on #4352
You should contact SendGrid Support via one of the methods listed on [their support page](https://sendgrid.com/docs/ui/account-and-settings/support/). This GitHub repository is only for issues related to the documentation (the pages your see).

[2018-10-22 20:47] #4344 closed

[2018-10-22 20:47] #4352 closed

[2018-10-22 20:48] #4294 closed

[2018-10-22 20:49] #4240 closed

[2018-10-23 13:33] #4175 closed

[2018-10-23 18:52] hmbrown64 commented on #3384
https://github.com/sendgrid/docs/pull/4400

[2018-10-24 07:03] Soundug commented on #2978
Hi!
Can I work on this?

[2018-10-24 13:00] ksigler7 opened #4422 "Addition to styleguide"
Add a sentence to the styleguide saying to use US English spelling.

[2018-10-24 13:45] Trshant commented on #4422
i'lll take this one up.

[2018-10-24 14:53] lpresgrove opened #4427 "Inbound Parse WH + Activity Feed"
**Link to page**: https://sendgrid.com/docs/for-developers/parsing-email/setting-up-the-inbound-parse-webhook/#testing

[2018-10-24 14:53] lpresgrove commented on #4427
Got this one!

[2018-10-24 15:19] Trshant commented on #4422
@ksigler7 , Please have a look.

[2018-10-24 17:10] KelliannLongacre opened #4435 "image size"
## Expected content

## Actual content

**Link to page**:

[2018-10-24 17:10] #4435 closed

[2018-10-24 21:38] timbrandon opened #4446 "WordPress Plugin Auto Refreshes with api key"
The settings page for the plugin continually reloads when the API key isn't loaded. It just keeps giving an error, and continues to reload. On a Wpengine site. PHP7, WordPress 4.9, making it impossible to fill out the form and use the plugin at all.

[2018-10-25 01:54] Whatthefoxsays opened #4450 "Adding Sender Information to Transactional Templates for the Unsubscribe Module"
In order for the unsubscribe module to substitute sender information in Dynamic Transactional Templates, the template needs to call out the sender info in a JSON array. This information is missing from this page:
https://sendgrid.com/docs/ui/sending-email/how-to-send-an-email-with-dynamic-transactional-templates/

Please include a note and an example.

[2018-10-25 02:00] #4422 closed

[2018-10-25 02:37] #4180 closed

[2018-10-25 16:43] #4450 closed

[2018-10-26 09:17] dagolinuxoid commented on #3917
@joshimandar nope it's resolved via #4055 merged pull request. @ksigler7 please close the issue to escape ambiguity for newbies.

[2018-10-26 11:31] dagolinuxoid commented on #4300
@ksigler7 That's interesting - actually a source code which includes `[v3 Web API]({{root_url}}/API_Reference/Web_API_v3/index.html)` on github represents a valid link https://sendgrid.com/docs/API_Reference/Web_API_v3/index.html. The problem is - even though the source code is correct, on production site a link which represents **v3 WEB IPA** has different url https://sendgrid.com/docs/API_Refere

[2018-10-26 11:33] saracope commented on #4303
Looks like this one can be closed out. @buck06191

[2018-10-26 12:40] buck06191 commented on #4303
Closed by #4304

[2018-10-26 12:40] #4303 closed

[2018-10-26 12:48] dagolinuxoid commented on #4235
@ksigler7 Which one? I am not an oracle :)

[2018-10-26 21:01] #4316 closed

[2018-10-27 21:18] anuragsachdeva28 opened #4546 "Small typo in docs - remove the unnecessary spaces."
In docs/content/docs/for-developers/parsing-email, there are a few unnecessary spaces and a lot of typos.

[2018-10-29 14:56] buttflattery opened #4563 "Resending Confirmation Email Not possible"
In the docs it is mentioned that to verify your email you should go to the link https://app.sendgrid.com/guide whereas this link requires the user to login first and i cant login as i didnt received a signup email after registring.

## Expected content
I expect the link should open without the user to require login

## Actual content
It asks an unconfirmed user to login first who cant

**Link to p

[2018-10-29 15:35] Whatthefoxsays opened #4564 "Remove passive voice from BriteVerify page"
This page is littered with passive voice. Please remove all instances of passive voice.

https://sendgrid.com/docs/for-developers/sending-email/brite-verify/

[2018-10-29 15:36] thinkingserious commented on #4563
Hello @buttflattery,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-10-29 15:36] #4563 closed

[2018-10-29 15:40] #4234 closed

[2018-10-29 15:40] shinypenny31 commented on #4564
I can help out!

[2018-10-29 16:07] #4244 closed

[2018-10-29 16:30] #4228 closed

[2018-10-29 16:41] #4546 closed

[2018-10-29 16:51] #4564 closed

[2018-10-29 18:00] dagolinuxoid commented on #4096
**Close** the issue.

[2018-10-29 18:11] dagolinuxoid commented on #4211
**Close** it.

[2018-10-29 22:10] ksigler7 opened #4577 "Add New Email Insights Reports callouts"
We have a new Email Insights Service. We need to add this callout to these pages. Please check off the box for the page when you add the callout (and don't close the issue with the PR). Each callout counts as an Easy for Hacktoberfest - so one callout = 1 point. The more you add, the more points you get!

Callout:
[code]

Pages and lines to add the callout:
- [ ] [Tracking settings](https://sendgr

[2018-10-29 22:33] dhruvhacks commented on #4577
@ksigler7 may I take up the [Tracking settings](https://sendgrid.com/docs/ui/account-and-settings/tracking/) page??

[2018-10-29 22:42] dhruvhacks commented on #4577
I am taking up [Tracking settings](https://sendgrid.com/docs/ui/account-and-settings/tracking/) page! :smiley:

[2018-10-29 22:44] yashasingh commented on #4577
Thank you @ksigler7 for such precise description! Working on it!

[2018-10-29 22:45] ArthurNovaes commented on #4577
I'm on [Email Activity Feed](https://sendgrid.com/docs/ui/analytics-and-reporting/email-activity-feed/) page ^^

[2018-10-29 23:52] wdharmana commented on #4577
Let me take <a href="https://sendgrid.com/docs/ui/analytics-and-reporting/geographic/">Geographic Statistics </a>, <a href="https://sendgrid.com/docs/ui/analytics-and-reporting/google-analytics/">Google Analytics and SendGrid Statistics</a>, and <a href="https://sendgrid.com/docs/ui/analytics-and-reporting/global/">Global statistic</a>

💯

[2018-10-30 00:01] ArthurNovaes commented on #4577
I'll take [Browser Comparison Statistics](https://sendgrid.com/docs/ui/analytics-and-reporting/browser-comparison/), [Browser Statistics](https://sendgrid.com/docs/ui/analytics-and-reporting/browser/) and [Category Comparison Statistics](https://sendgrid.com/docs/ui/analytics-and-reporting/category-comparison/) =)

[2018-10-30 00:03] wdharmana commented on #4577
Aha! Ok i will take Device Statistics and Category Statistics. Lets go :))

[2018-10-30 06:44] dagolinuxoid commented on #4577
Some PR's are doubled already.

[2018-10-30 13:18] yashasingh opened #4601 "Incorrect github contributors count in README.md contributors badge"
The contributors badge from ```shield.io``` reflects incorrect count.

## Expected content
Contributors count 452

## Actual content
[![GitHub contributors](https://img.shields.io/github/contributors/sendgrid/docs.svg)](https://github.com/sendgrid/docs/graphs/contributors)

**Link to page**:
https://github.com/sendgrid/docs/blob/develop/README.md

[2018-10-30 13:18] yashasingh commented on #4601
May I update this??

[2018-10-30 14:46] ksigler7 commented on #4577
@dagolinuxoid - you're right. Just so everyone knows, our policy here is to accept the first and best PR for each page. We really appreciate all of the work you all did here though! I am going to post several more issues very similar to this for our new services today - so look for those too!

[2018-10-30 14:46] #4577 closed

[2018-10-30 16:47] #4211 closed

[2018-10-30 16:47] #4235 closed

[2018-10-30 16:48] ksigler7 commented on #4235
this got fixed already @dagolinuxoid and @mattreyuk - sorry we missed getting this issue closed!

[2018-10-30 16:49] ksigler7 commented on #4446
@timbrandon - thanks! I passed this onto the product manager in charge of this product.

[2018-10-30 16:49] #4446 closed

[2018-10-30 16:50] ksigler7 commented on #3911
I am going to close this, but please feel free to continue the convo folks!

[2018-10-30 16:50] #3911 closed

[2018-10-30 16:51] ksigler7 commented on #4601
this is so weird - I can't believe I never noticed it!

I guess we should just remove it for now. The todo here is to remove the contributors badge from the top of the readme.

[2018-10-30 16:51] #4427 closed

[2018-10-30 16:52] #4300 closed

[2018-10-30 16:52] thinkingserious commented on #4283
Hello @swnasir,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-10-30 16:52] #4283 closed

[2018-10-30 16:53] #4231 closed

[2018-10-30 16:54] ksigler7 commented on #4227
thanks for the update @hugovk - we're looking at the Vimeo cookie settings now!

[2018-10-30 16:54] #4227 closed

[2018-10-30 16:55] #4096 closed

[2018-10-30 16:55] ksigler7 commented on #4034
whew, finally fixed this one

[2018-10-30 16:55] #4034 closed

[2018-10-30 16:56] #3917 closed

[2018-10-30 16:56] #3784 closed

[2018-10-30 16:58] ksigler7 commented on #3491
@techgaun - unfortunately, this one got mislabeled in the hacktoberfest rush. Currently our swagger docs aren't open sourced. Thanks for being willing to take it up though!

[2018-10-30 16:58] #3384 closed

[2018-10-30 17:00] ksigler7 commented on #3052
@tulikavijay - looks like you closed your PR, anything we can do to help you troubleshoot it?

[2018-10-30 17:00] ksigler7 commented on #2978
@Soundug - sure, looks like no one is working on it currently

[2018-10-30 17:01] ksigler7 commented on #2667
@duncanleung - I've dug into this and I have no idea why I reopened it.... :( I am going Hacktoberfest crazy

[2018-10-30 17:01] #2667 closed

[2018-10-30 17:02] yashasingh commented on #4601
@ksigler7 May I remove it??

[2018-10-30 17:03] Mumbaikar007 commented on #4601
Done #4608

[2018-10-30 17:30] techgaun commented on #3491
@ksigler7 ah cool sounds good. Any plans on open sourcing those as well?

[2018-10-30 17:33] rahulpuroht commented on #4233
@ksigler7 Can you suggest how can i proceed with this issue.

[2018-10-30 17:55] dhruvhacks commented on #4601
@ksigler7 multiple contributors have started taking this up! Who should be assigned?! 😛

[2018-10-30 18:08] rahulpuroht commented on #2978
Please check this changes.If needed any required action mention it.

[2018-10-30 18:21] tulikavijay commented on #3052
@ksigler7 I worked on an issue before and it had some problem while merging. I have reverted those commits. But my forked repo looks very different from the remote one(there are folders for plugins and other functionalities). My local repo has now some unnecessary commits dealing with the reverts. And a commit for merging the new commits from the remote repo(sendgrid/docs) that i fetched... My que

[2018-10-30 19:37] #4601 closed

[2018-10-30 21:49] ksigler7 opened #4614 "Add new pro services call outs"
We are expanding our Pro services offerings. We need to add this callout to these pages. Please check off the box for the page when you add the callout (and don't close the issue with the PR). Each callout counts as an Easy for Hacktoberfest - so one callout = 1 point. The more you add, the more points you get!

Callout:
[code]

Pages to add the callout (please add it to the end of each page - bef

[2018-10-30 21:50] ksigler7 commented on #4614
With the issue similar to this that I posted yesterday, we got a TON of duplicate PRs. Please check to see if someone else has already called it or linked a PR before you grab one! Our policy is to accept the first and best PR for each page - anything done on top of that won't count!

[2018-10-30 22:14] ksigler7 opened #4619 "Add new onboarding services callouts"
We are expanding our Pro services offerings. We need to add this callout to these pages. Please check off the box for the page when you add the callout (and don't close the issue with the PR). Each callout counts as an Easy for Hacktoberfest - so one callout = 1 point. The more you add, the more points you get!

Callout:
[code]

Pages to add the callout (please add it to the end of each page - bef

[2018-10-30 22:14] ArthurNovaes commented on #4614
I'll take [Open Rate](https://sendgrid.com/docs/glossary/open-rate/), [Opens & Unique Opens](https://sendgrid.com/docs/glossary/opens/) and [Click-Through Rate](https://sendgrid.com/docs/glossary/ctr/).

[2018-10-30 22:16] rosariopfernandes commented on #4614
I'll take [Clicks and Unique Clicks](https://sendgrid.com/docs/glossary/clicks/), [Bounces](https://sendgrid.com/docs/glossary/bounces/) and [Blocks](https://sendgrid.com/docs/glossary/blocks/).

[2018-10-30 22:26] music-mind commented on #4619
I will do the first 5!

[2018-10-30 22:33] rosariopfernandes commented on #4614
@ksigler7 since we're not maintainers of the repo, we can't really check off the boxes on your issue. I think we need a maintainer to have a look at the PRs and check off the respective box.

[2018-10-30 22:40] music-mind commented on #4619
#4625
#4629
#4630
#4631
#4632

[2018-10-30 22:47] ksigler7 commented on #4619
thanks @music-mind!!!

[2018-10-30 22:48] ksigler7 commented on #4619
I probably won't merge these in until tomorrow, but I appreciate all of the work you've done on these!

[2018-10-30 22:50] music-mind commented on #4619
#4633
#4634
#4635
The rest :)

[2018-10-30 22:52] ksigler7 opened #4639 "Add new onboarding services callouts part 2"
We are expanding our Pro services offerings. We need to add this callout to these pages. Please check off the box for the page when you add the callout (and don't close the issue with the PR). Each callout counts as an Easy for Hacktoberfest - so one callout = 1 point. The more you add, the more points you get!

Callout:
[code]

Pages to add the callout (please add it to the end of each page - bef

[2018-10-30 22:58] joshwooding commented on #4639
I don't mind doing the first 2 :)

[2018-10-30 23:04] Do-I-Seem-Lost commented on #4639
I could have a go at doing the next two.

[2018-10-30 23:09] doilio commented on #4639
I'll do the last 2

[2018-10-31 15:10] tychovbh opened #4678 "Cannot update billing"
I'm trying to update my billing information, but i receive an error: Invalid reason .....
There is not input field or input selector where I can give a reason so it is impossible for me to update my billing information
## Expected content
That i can change my billing information

## Actual content
<img width="729" alt="screen shot 2018-10-31 at 10 16 49" src="https://user-images.githubusercontent.

[2018-10-31 15:39] thinkingserious commented on #4678
Hello @tychovbh,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-10-31 15:39] #4678 closed

[2018-10-31 19:38] ksigler7 commented on #4614
@rosariopfernandes - thanks for pointing that out - I didn't realize!

[2018-10-31 19:50] ksigler7 commented on #4619
All merged in! Thank you so much @music-mind!!

[2018-10-31 19:50] #4619 closed

[2018-11-01 03:10] #4614 closed

[2018-11-01 15:24] #4233 closed, assigned to nobody

[2018-11-02 14:15] norapyk opened #4715 "Cancel my account"
(https://support.sendgrid.com).
You can contact SendGrid support from the [SendGrid Support Portal](I am out of town and

If you're reporting an issue with our docs, thanks for letting us know!
-->

## Expected content

## Actual content

**Link to page**:

[2018-11-02 14:18] norapyk commented on #4715
Only on my phone and finding it difficult to cancel my account.  Went to billing and only found contact customer servuce.  Please refund the amount charged on my credit card

[2018-11-02 15:41] thinkingserious commented on #4715
Hello @norapyk,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-11-02 15:41] #4715 closed

[2018-11-02 17:56] norapyk commented on #4715
This is NOT a github issue.  Want to cancel our subbscripotion and very surprised Sendgrid makes this difficult

On Nov 2, 2018, at 11:41 AM, Elmer Thomas <notifications@github.com> wrote:

Hello @norapyk <https://github.com/norapyk>,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a l

[2018-11-03 14:39] ujjawal2005 opened #4721 "sendgrid Login is not working"
My Login is not working. Can you please check and resolve this urgently.
My user id is : ujjawal2005
email: ujjawal.abhinav@gmail.com

Thanks,
Uj

[2018-11-05 18:04] dmvvilela opened #4722 "Cancellation problem"
I am really hating sendgrid as of now..

I have deleted my account BEFORE the date of the plan and you charged me anyway.. I am using nubank so they cant refund me.. I dont find anywhere a way to get in touch with sendgrid. I deleted my account twice - meaning that you did not deleted it. I demand a refund as i dont want this service anymore and i did cancelled it before the date!!!

My account us

[2018-11-05 19:41] jenramella opened #4723 "Login error"
## Expected content

## Actual content

**Link to page**:

[2018-11-05 19:42] jenramella commented on #4723
I am having trouble logging in using what I thought was my password. The forgot password option never sent an email to my/our account. Account is Boston Interiors - bostoninteriorsdigital@gmail.com

Thank you,
Jen

[2018-11-06 14:25] FlashDog123 opened #4724 "/templates returns empty object"
Hi guys,

I'm trying to get all my transactional templates through the /v3/templates endpoint, but it returns a empty object(while i currently have 2 templates defined). After some trail and error, I noticed that the endpoint does return some templates after I created a template through the API, not the interface. But these templates are legacy templates, without handlebar.js support.

It looks to

[2018-11-06 21:03] hmbrown64 opened #4725 "Add what happens to contact stats"
**Link to page**: https://sendgrid.com/docs/ui/managing-contacts/managing-contact-list/#delete-a-specific-contact

[2018-11-06 21:04] hmbrown64 commented on #4725
I got this

[2018-11-06 21:32] thinkingserious commented on #4721
Hello @ujjawal2005,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-11-06 21:32] #4721 closed

[2018-11-06 21:35] ksigler7 commented on #4722
Hello @dmvvilela ,

We're so sorry you're having this problem. Our awesome support team can help you get this resolved. Please contact them through this form - https://support.sendgrid.com/hc/en-us/requests/new#login-issue

SendGrid Docs Team

[2018-11-06 21:35] #4722 closed

[2018-11-06 21:35] frandata opened #4726 "I am having a problem logging in and so i can not contact support. Our account is offline and customer are pissed. Can someone contact me at 703.740.4702 or pwilbur@frandata.com. Thanks."
## Expected content

## Actual content

**Link to page**:

[2018-11-06 21:37] ksigler7 commented on #4723
Hello @jenramella ,

We're sorry you are having this problem! Usually, if the forgot password option isn't emailing you, it's because you are using the incorrect username. Our awesome support team can help you get this worked out - please contact them through this form: https://support.sendgrid.com/hc/en-us/requests/new#forgot-username

SendGrid Docs Team

[2018-11-06 21:37] #4723 closed

[2018-11-06 22:02] ksigler7 commented on #4726
@frandata - I've passed this onto someone who can help you. They should be in touch shortly!

[2018-11-06 22:02] #4726 closed

[2018-11-09 00:35] wendybarlin opened #4731 "I paid for 100,000 emails but GMASS is limited us to 1,900"
## Expected content

## Actual content

**Link to page**:

[2018-11-10 14:40] nokkanato opened #4735 "spam"
## Expected content

## Actual content

**Link to page**:

[2018-11-12 21:14] #4735 closed

[2018-11-12 21:31] thinkingserious commented on #4731
Hello @wendybarlin,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-11-12 21:31] #4731 closed

[2018-11-13 13:33] rotten opened #4737 "No way to upgrade from free tier to paid tier"
The Contact Support button is disabled in the free tier.

There is no obvious way to upgrade to a paid tier from a free tier - it looks like you have to create an all-new account.

I'm unable to reach support to ask if it is possible.

Please take our money.  If not possible, please update the documentation to state this - on the plan/billing page in the dashboard and in the support portal when yo

[2018-11-13 17:46] Reformant commented on #4737
Hey @rotten, Thanks for reaching out. You should see the option to upgrade your account via the [Plan and Billing page](https://app.sendgrid.com/settings/billing) under 'Settings'.

Can you give that a try and let us know if you still have any questions?

[2018-11-13 17:48] ksigler7 commented on #4737
https://app.sendgrid.com/settings/billing

![image](https://user-images.githubusercontent.com/28788585/48432478-a906a980-e731-11e8-8fe6-758732050d77.png)

[2018-11-13 17:48] #4737 closed

[2018-11-13 17:51] MD3XTER commented on #1417
For me it worked only with `mode: "no-cors"`

[2018-11-14 13:12] ddengster opened #4741 "How do I attach log files to cURL calls?"
As per title. Keep in mind that I need to append the contents of the file to the json's "content" tag.

[2018-11-14 16:14] brianchirls opened #4742 "Missing image in Transactional Templates for the Unsubscribe Module"
In the documentation for [Unsubscribe modules for dynamic transactional templates](https://sendgrid.com/docs/ui/sending-email/how-to-send-an-email-with-dynamic-transactional-templates/#unsubscribe-modules-for-dynamic-transactional-templates), there is supposed to be a (presumably) animated gif, but the file is missing.

It looks like somebody [forgot to check in](https://github.com/sendgrid/docs/p

[2018-11-15 09:40] mark-ellul opened #4746 "asm_group_id not working with cURL based email"
curl --request POST \
  --url https://api.sendgrid.com/v3/mail/send \
  --header 'Authorization: Bearer YOUR_API_KEY' \
  --header 'Content-Type: application/json' \
  --data '{"personalizations": [{"to": [{"email": "recipient@example.com"}]}],"from": {"email": "sendeexampexample@example.com"},"subject": "Hello, World!","content": [{"type": "text/plain", "value": "Heya!"}], "asm_group_id": ASM_GRO

[2018-11-16 14:25] xyz92 opened #4749 "Limit 2 per Azure Subscription"
I was going through the documentation https://sendgrid.com/docs/for-developers/partners/microsoft-azure/ and it says 'You are limited to 2 SendGrid accounts per Azure subscription'. I'm trying create SendGrid Account with ARM Template for multiple environments (more than 2) within a subscription. Is there an alternate way to do this because of this limit? Thank you!

[2018-11-16 18:13] thinkingserious commented on #4741
Hello @ddengster,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-11-16 18:13] #4741 closed

[2018-11-16 18:13] thinkingserious commented on #4746
Hello @mark-ellul,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-11-16 18:13] #4746 closed

[2018-11-16 18:14] thinkingserious commented on #4749
Hello @xyz92,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-11-16 18:14] #4749 closed

[2018-11-20 21:12] dislash opened #4754 "spam"
## Expected content

## Actual content

**Link to page**:

[2018-11-21 07:53] vaishnavhiren1993 opened #4755 "attach pdf in email using curl"
i want to send email with pdf attachment using html form upload file
how can i attach file .
i am using .
$file_name = $_FILES['photo']['name'];
$tmp_name = $_FILES["photo"]["tmp_name"];
$file_type = $_FILES["photo"]["type"];
$file_size = $_FILES["photo"]["size"];

$documentList = array(
 $file_name => "@" . realpath($file_name)
);
if(count($documentList)>0){
foreach($documentList as $fileName=>$d

[2018-11-21 15:03] ventureequity opened #4756 "Cannot access account Verification problem"
## Expected content

## Actual content

**Link to page**:

[2018-11-21 15:03] ventureequity commented on #4756
I cannot access my account. It tells me to contact support but im unable to login so I have had to resort to coming here.

[2018-11-22 03:41] vaishnavhiren1993 commented on #4754
please clear your Question

[2018-11-22 19:13] andrewmiller1 opened #4758 "Zapier and Sengrid documentation discrepancy"
## Zapier

https://zapier.com/help/how-get-started-sendgrid/

Pro and up, and use https://app.sendgrid.com/settings/teammates

## Sendgrid

https://sendgrid.com/docs/for-developers/sending-email/zapier-sending-from-google-sheet-rows/

Bronze and up, and use https://sendgrid.com/credentials

**Link to page**: https://github.com/sendgrid/docs/blob/master/content/docs/for-developers/sending-email/zap

[2018-11-23 06:55] Dcollins66 opened #4759 "sendergridJDK7"
## Expected content

## Actual content

**Link to page**:

[2018-11-26 16:37] #4754 closed

[2018-11-26 16:39] ksigler7 commented on #4756
You can contact support here: https://support.sendgrid.com/hc/en-us/requests/new#login-issue

[2018-11-26 16:39] #4756 closed

[2018-11-26 16:40] thinkingserious commented on #4758
Hello @andrewmiller1,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-11-26 16:40] #4758 closed

[2018-11-26 16:41] #4759 closed

[2018-11-26 16:41] thinkingserious commented on #4755
Hello @vaishnavhiren1993,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-11-26 16:41] #4755 closed

[2018-11-26 18:05] vaishnavhiren1993 commented on #4724
Can you share your code and description of error to help you batter

[2018-11-26 22:46] redaxmedia commented on #1417
@MD3XTER Well, this is an issue with your browser and the `fetch()` API...

BROWSER  < - (1) - > PROXY < - (2) ->  SENDGRID

The magic of this proxy happens only on part 2 - it does not influence the [request mode](https://developer.mozilla.org/en-US/docs/Web/API/Request/mode) of the browser.

[2018-11-28 12:06] adeel3612 opened #4762 "Problem in getting email marketing campain templates"
I am unable to get the email marketing campaigns templates. Is there any api provided for this. Only templates which i can get are the transactional templates but i cannot use them in campaigns.

Any kind of help would be much appreciated.

[2018-11-28 15:17] divyanshu-rawat opened #4763 "URL not pointing to right page."
## Expected content
**SMTPAPI** written in below-mentioned sentence should point to correct URL.
It points to [404](https://sendgrid.com/docs/ui/account-and-settings/troubleshooting-delays-and-latency/%7B%7Broot_url%7D/for-developers/sending-email/getting-started-smtp/).

You can use our SMTPAPI to greatly increase your message throughput. As with SMTP, 100 messages can be sent with each connectio

[2018-11-28 19:26] marina-mil opened #4764 "Hi guys, we need more than 2 paid Sendgrid accounts per Azure subscription"
How do I enable/increase limit on Azure Subscription for more than 2 paid Sendgrid accounts.
The limit should be lifted for paid accounts.

thanks

Marina

[2018-11-29 15:04] jolyonb opened #4765 "Incorrect response information in Suppressions"
In [this document](https://sendgrid.com/docs/API_Reference/Web_API_v3/Suppression_Management/suppressions.html), the last entry (`POST https://api.sendgrid.com/v3/asm/groups/:group_id/suppressions/search`) has a response given by an object with parameter `recipient_emails`. When I call this method however, I get back the raw list, not wrapped in an object. I think the documentation needs to be upd

[2018-11-29 18:13] luciajimenez opened #4767 "SMTP API Link 404"
## Expected content

## Actual content

**Link to page**: https://sendgrid.com/docs/glossary/event-webhook/

[2018-11-30 08:50] KenN7 opened #4770 "sendgrid server in blacklist"
Hi,
I was running a spam check on an email sent by sendgrind and i saw that
the server : 167.89.106.69 is blacklisted on [SORBS](http://www.sorbs.net/) and yellowlisted on [hostkarma](http://ipadmin.junkemailfilter.com/remove.php).
I wanted you to be informed if you are not already.
Thanks for the service :)
Cheers,

[2018-12-05 01:15] NoCopy opened #4777 "Unsubscribe / Campaign feedback and suggestions"
# Unsubscribe (suppressions) suggestions
Having spent quite some time over the past few weeks dealing with un-subscribe groups and the associated API I would like to suggest some enhancements in the following areas: (to avoid repeating myself, these are all nice to have - nothing major)

## Administration / User Display
(Marketing Campaigns > Unsubscribe Groups settings)

- Ability to specify a cu

[2018-12-05 07:56] januwland opened #4778 "Unable to use Substitution Tags in image source fields"
Wasn't sure where else to put this, trying to run a google-sheets powered loot store entirely through email campaigns, need to match images with voucher details, links, and text - all of which are attached to purchaser ids and randomised with an rng - I can't think of another way to populate the correct images.

https://sendgrid.com/docs/API_Reference/SMTP_API/substitution_tags.html

<img width="1

[2018-12-05 09:42] srednasoft opened #4779 "Support page not working"
Hi,

supportpage is not working. I'm only getting a disabled Continue button.

Eg.
https://support.sendgrid.com/hc/en-us/requests/new?ticket_form_id=43796

Brgs
Anders Rinvoll
Statnett SF

[2018-12-05 14:18] srednasoft commented on #4779
Support i working.
Ticket id:1717612 is registered.

[2018-12-05 14:18] #4779 closed

[2018-12-05 14:39] Eleventco opened #4780 "Locked out of account"
We are locked out of our account and cannot access it, reset the password or access the support site.

## Expected content

## Actual content

**Link to page**:

[2018-12-05 15:26] srednasoft opened #4781 "How do I chat with support?"
Hi,

I can't find the chat function to support

please help.

Brgs
Anders Rinvoll
Statnett SF

[2018-12-06 13:40] sagarsutar opened #4783 "ERROR: Use of const in strict mode node v0.12.0 is not supporting"
Hi Team,
we have developd applicaion i nodejs  node v0.12.0
  and  const is not supporting
const {Client} = require('@sendgrid/client');
^^^^^
Use of const in strict mode.

Could you please suggest how to modify this

## Expected content

## Actual content

**Link to page**:

[2018-12-08 15:57] techonomics69 opened #4784 "hi"
## Expected content

## Actual content

**Link to page**:

[2018-12-10 09:32] rohitshilpkar opened #4785 "Sendgrid attatchment issue"
## Expected content

## Actual content

**Link to page**:

[2018-12-10 09:35] rohitshilpkar commented on #4785
hi, I am having a problem in sending a pdf attachment through sendgrid, I am trying to do this in dilaogflow. Please anyone help.

 const sgMail = require('@sendgrid/mail');
 sgMail.setApiKey(process.env.SENDGRID_API_KEY);

          sgMail.readFile('*fileurl(i am fetching it from bucket)*', function(err, data)
   {
    sgMail.send({
        to          : 'user1@gmail.com',
        from        : '

[2018-12-10 10:35] vaishnavhiren1993 commented on #4785
###

IF YOU GOT ANY ERROR THAN COMMENT HERE .
THE GITHUB COMMUNITY WILL PROVIDE YOU MORE SATISFIED RESOLUTION.

[2018-12-10 10:42] rohitshilpkar commented on #4785
@vaishnavhiren1993 thanks vaishnav. I want that in nodejs for dialogflow fulfillment.

[2018-12-10 16:55] xyz92 commented on #4764
I have the same question.

[2018-12-10 16:59] xyz92 commented on #4749
@thinkingserious I reached out to the support team and the team mentioned they do not have great insight on this as Azure is an authorized reseller of SendGrid and they keep all of their billing, upgrades/downgrades, account creation and handling separate from SendGrid.

[2018-12-11 17:01] nenazhenkoa74 opened #4787 "Trouble with click tracking when ' symbol in href"
### Problem
If a link has a ' symbol, your generated click tracking link trimmed after it.
### Example
www.example.com/docs/doc'dec2018.xlsx
becomes
www.example.com/docs/doc

[2018-12-13 15:51] parman55 opened #4789 "OH MY GOD!!! PLEASE SOMEBODY CONTACT US - THIS IS RIDICULOUS"
WE HAVE BEEN TRYING TO GET OUR BALANCE PAID FOR OVER A WEEK.  WE CAN'T FIND A PHONE NUMBER TO CALL YOU - UNBELIEVABLE..... I CAN'T LOGIN TO MY ACCOUNT..... I HAVE ASKED FOR A PASSWORD RESET AND HAVEN'Y HAD ANY REPLY FOR 3 HOURS.

WHAT'S GOING ON???  WE ARE NOT HAPPY.  I HAVE THINGS THAT NEED TO BE SENT VIA THE LIST SERVER AND I CAN'T GET IT DONE.

MY ACCOUNT NAME IS JEFFREY.SISK@NAVY.MIL..... MY P

[2018-12-13 17:13] denver-HJS opened #4790 ""dynamic_template_data" docs lack the feature for raw text substitution"
I ran into the same issue that's documented here: https://github.com/sendgrid/sendgrid-python/issues/602

It looks like this feature's documentation was lost or not carried over into this repository.

Using the `{{{emailSubject}}}` (triple curly braces) solved my issue where apostrophes were being HTML encoded in the subject line.

[2018-12-13 17:17] thinkingserious commented on #4762
Hello @adeel3612,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-12-13 17:17] #4762 closed

[2018-12-13 17:17] thinkingserious commented on #4770
Hello @KenN7,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-12-13 17:17] #4770 closed

[2018-12-13 17:17] thinkingserious commented on #4778
Hello @januwland,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-12-13 17:17] #4778 closed

[2018-12-13 17:17] thinkingserious commented on #4780
Hello @Eleventco,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-12-13 17:17] #4780 closed

[2018-12-13 17:17] thinkingserious commented on #4781
Hello @srednasoft,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-12-13 17:17] #4781 closed

[2018-12-13 17:17] thinkingserious commented on #4784
Hello @techonomics69,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-12-13 17:17] #4784 closed

[2018-12-13 17:17] thinkingserious commented on #4785
Hello @rohitshilpkar,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-12-13 17:17] #4785 closed

[2018-12-13 17:17] thinkingserious commented on #4787
Hello @nenazhenkoa74,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-12-13 17:17] #4787 closed

[2018-12-13 17:17] thinkingserious commented on #4764
Hello @marina-mil,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-12-13 17:17] #4764 closed

[2018-12-13 17:20] ksigler7 commented on #4789
Hello @parman55 ,

We are very sorry that you are running into this problem. Often, this happens because you're trying to reset your password with an incorrect username (the UI doesn't tell you if it's wrong or not, it just says it sends an email). You can start the flow of verifying your username, and resetting your password with this form: https://support.sendgrid.com/hc/en-us/requests/new#forgo

[2018-12-13 17:20] #4789 closed

[2018-12-13 17:21] ksigler7 commented on #4790
Oh cool - thanks for letting us know @denver-HJS! We'll get this added into our backlog too

[2018-12-13 17:21] thinkingserious commented on #4783
Hello @sagarsutar,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-12-13 17:21] #4783 closed

[2018-12-13 18:05] rohitshilpkar commented on #4785
I forget my password and not able to reset it....so please help me to send
a pdf file...and the storage i am using is google bucket....

I am using node js

Thanks and regards
Rohit shilpkar

On Thu, Dec 13, 2018, 10:47 PM Elmer Thomas <notifications@github.com wrote:

[2018-12-13 18:31] nelsonenzo opened #4794 "Custom SSL Configurations should specify https, not http"
## Expected content
1) Prepare a proxy (like web application, nginx, or Amazon API Gateway) to take all traffic for mailing.example.com and forward it to http://sendgrid.net or *https://sendgrid.net* .

## Actual content
1) Prepare a proxy (like web application, nginx, or Amazon API Gateway) to take all traffic for mailing.example.com and forward it to *sendgrid.net.*

...
I'm clearly on this page

[2018-12-14 01:24] garymich opened #4795 "Send Email From Adobe Air Mobile Application"
## Expected content

## Actual content

**Link to page**:

[2018-12-14 01:34] garymich commented on #4795
Hello,

We are using an smtp client library for the purpose of sending email from our application. I have looked at the code on your website where it describes how to setup and send email with your api. I have pasted that code into a new fuction I created in the smtp library to see f we could make it work. Unfortunately that did not work and the application would not compile.
Do you have any sampl

[2018-12-14 01:34] #4795 closed

[2018-12-14 01:36] garymich opened #4796 "Send Email From Adobe Air Mobile Application"
## Expected content

## Actual content

**Link to page**:

[2018-12-14 01:36] garymich commented on #4796
Hello,

We are using an smtp client library for the purpose of sending email from our application. I have looked at the code on your website where it describes how to setup and send email with your api. I have pasted that code into a new fuction I created in the smtp library to see f we could make it work. Unfortunately that did not work and the application would not compile.
Do you have any sampl

[2018-12-14 06:49] fisher134 opened #4797 "test"
## Expected content

## Actual content

**Link to page**:

[2018-12-14 17:41] #4797 closed

[2018-12-14 17:41] thinkingserious commented on #4796
Hello @garymich,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-12-14 17:41] #4796 closed

[2018-12-14 17:43] ksigler7 commented on #4777
hi @NoCopy - thanks for all of this awesome feedback! I have passed it onto the product manager who is responsible for this, and I have added the docs issues to our backlog. Would you be interested in ever participating in SendGrid user research as we explore expanding our products?

[2018-12-14 17:43] #4777 closed

[2018-12-18 01:17] parima08 opened #4805 "Broken image"
The image does not load in this section:

https://sendgrid.com/docs/ui/sending-email/how-to-send-an-email-with-dynamic-transactional-templates/#unsubscribe-modules-for-dynamic-transactional-templates

[2018-12-18 01:19] parima08 commented on #4742
If someone could get that image up, I would appreciate it - I'm in the process of trying to understand the unsubscription module in transactional emails and it would be great to get that up.

[2018-12-19 16:48] ksigler7 commented on #4794
this is great feedback - thanks!

[2018-12-19 20:35] #4805 closed

[2018-12-26 10:02] grgilad opened #4825 ""Building an SMTP Email" broken link"
The "Building an SMTP Email" link in the "Additional Resources" section  in this [page](https://sendgrid.com/docs/for-developers/sending-email/integrating-with-the-smtp-api/) is broken

## Expected content
https://sendgrid.com/docs/API_Reference/SMTP_API/building_an_smtp_email.html

## Actual content
https://sendgrid.com/docs/for-developers/sending-email/building-an-smtp-email/

**Link to page**:

[2018-12-26 14:41] Revbrian4 opened #4826 "what is going on with the widgets my widget has stopped working"
## Expected content

## Actual content

**Link to page**:

[2018-12-30 17:07] Anony1234mo opened #4843 "mobile"
## Expected content

## Actual content

**Link to page**:

[2018-12-30 17:07] Anony1234mo commented on #4843
hofir

[2019-01-02 03:47] zatiewander opened #4845 "Wrong link when send from WP Mail plugin in wordpress"
Hi all, I tried to find a resource for my problem but not available. I'm using WP Mail plugin to work as a Trigger email. In this example, I want to change my wordpress email address in the Settings > General.

It then sends a verification email to the new admin email. The actual link is:

https://www.mydomain.com/wp-admin/options.php?adminhash=7867066c06fb31a1d02ae0866d5b5a53

The actual link whe

[2019-01-02 20:54] devtimi opened #4859 "No way to contact support without account"
Received spam via sendgrid, trying to figure out how to report it leads me in fucking circles. No way to contact and report illegal spam sent via your service. Fix that. And stop allowing accounts to use sendgrid to send illegal spam emails.

[2019-01-03 12:49] Anony1234mo commented on #4843
.nomedia

[2019-01-03 19:01] ckrailo opened #4865 "Event Webhook smtp-id"
## Expected content
Event Webhooks don't show `smtp-id` for payloads sendgrid sends without `smtp-id`.

## Actual content
Event Webhooks docs show `smtp-id` for payloads we're getting from sendgrid without `smtp-id`.

## Thoughts
- Looks like [`smtp-id` was removed from a couple of event types in the docs on July 16, 2018](https://github.com/sendgrid/docs/pull/3725/files).
- Looks like [`smtp-id`

[2019-01-07 15:34] ksigler7 commented on #4865
thanks for letting us know @ckrailo!

[2019-01-07 15:48] ksigler7 commented on #4859
Hi @devtimi - Please check out this page: https://sendgrid.com/report-spam/. Thanks for letting us know there's an issue!

[2019-01-07 15:48] #4859 closed

[2019-01-07 15:49] ksigler7 commented on #4765
thanks for letting us know!

[2019-01-11 17:31] modor916 opened #4876 "Issues with embedding sub subscribe (doesn't work)"
## Expected content
Unsubscribe

## Actual content
<img width="960" alt="screen shot 2019-01-11 at 11 30 44 am" src="https://user-images.githubusercontent.com/46606077/51049746-67a94380-1594-11e9-926b-e2a029ef4ea6.png">

**Link to page**:

[2019-01-11 18:00] thinkingserious commented on #4876
Hello @modor916,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2019-01-11 18:00] #4876 closed

[2019-01-16 13:20] devs-sthlmapplab opened #4889 "Need sg-message-id in response while sending an email"
## Expected content

## Actual content

**Link to page**:

[2019-01-16 13:21] devs-sthlmapplab commented on #4889
Hello

We are sending email using V3 API.
We need sg_message_id in send email API.

[2019-01-16 19:04] tjfdud commented on #4724
I've reproduced this issue as well.

I created couple of transactional templates using design editor or code editor from the Web UI.
After then I tried to work with the templates using the APIs. Getting a template using the template id works but it fails to retrieve all transactional templates.

- OK GET https://api.sendgrid.com/v3/templates/d-fxxxxx
- NO GET https://api.sendgrid.com/v3/templates

[2019-01-16 22:03] ksigler7 commented on #4724
hey all, we're working on getting the docs all merged in, but for now, here are the docs for that GET - https://dynamic-templates.api-docs.io/3.0/templates/retrieve-a-specific-transactional-template-version

[2019-01-16 22:03] #4724 closed

[2019-01-16 22:39] jonoabroad opened #4893 "The image is broken on the webhooks pages"
## Expected content
flow diagram to display

## Actual content

broken image link displayed
**Link to **page**:
https://sendgrid.com/docs/for-developers/tracking-events/event/

https://github.com/sendgrid/docs/blob/develop/content/docs/for-developers/tracking-events/event.md**

[2019-01-17 17:35] ksigler7 commented on #4893
@jonoabroad - thank you for this. Just by chance, this was already fixed and got deployed this morning

[2019-01-17 17:35] #4893 closed

[2019-01-17 22:00] bxm156 commented on #3911
I'm encounter this as well, when doing something like the following:
[code]

I get an error that the template is invalid, when I open the code again for editing, i see the following:
[code]

[2019-01-19 14:40] HUSSTECH opened #4899 "Add AWS CloudFront Instructions for link branding"
## Expected content
On this page, I think there should be a section for using the AWS CloudFront CDN. https://sendgrid.com/docs/ui/sending-email/content-delivery-networks/

The steps to configure cloudFront are not to different to the other CDNs listed here, and there are already Stack Overflow posts and issues in this repo mentioning the required setup steps. E.g.

- https://stackoverflow.com/que

[2019-01-22 15:19] kylearoberts commented on #3911
@bxm156

Sounds like you are running into a known issue with the Drag & Drop Editor option. Even when you use a Code Module you will still have this issue. For now if you want to get around this you will have to use the Code Editor. Sorry for the trouble this causes.

[2019-01-22 17:30] Evadon-Nathan opened #4900 "Different values in documentation for DKIM examples compared to Sender Authentication Settings actual values"
I'm struggling to set up DKIM with my account and have noticed a discrepancy between the documentation and the actual value provided within my account.

## Expected content as shown in my account Settings -> Sender Authentication
s1._domainkey.yourdomain.com | CNAME | s1.domainkey.uXXXXXXX.wlXXX.sendgrid.net

## Actual content contains extra underscore in the CNAME value for _domainkey. Also are t

[2019-01-22 22:08] mukesh032ise opened #4901 "Stop auto renewal of subscription"
Could you please tell me how do I stop auto renewal of subscription?

[2019-01-23 16:12] #4901 closed

[2019-01-25 10:09] gurpreet48 opened #4907 "I am getting statuscode Unauthorized. when trying to send the email with key. Any body idea about this"
## Expected content

## Actual content

**Link to page**:

[2019-01-27 02:08] sigle0724 opened #4909 "Hello, my account has been disabled, but I have not sent spam harassment emails. I am just sending a notification email to the users of my company website. Can I verify and release the account suspension? I am unable to submit a new technical request for support. I am very anxious to use!                                                                  Looking forward to your reply"
## Expected content

## Actual content

**Link to page**:

[2019-01-28 13:15] Jericho commented on #4865
I mentioned this discrepancy in this [issue](https://github.com/sendgrid/docs/issues/4865)

[2019-01-28 19:03] Falseclock opened #4912 "Empty subject while using dynamic template"
email addresses are replaced.

Dynamic template is working fine. But mail coming with empty subject.

![image](https://user-images.githubusercontent.com/3299139/51859694-f58d7880-2361-11e9-8dc8-48a2880394f6.png)

[code]

[2019-01-28 19:17] thinkingserious commented on #4912
Hello @Falseclock,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2019-01-28 19:17] #4912 closed

[2019-01-29 11:51] Falseclock commented on #4912
Guys...

I found three bugs with your dymamic templates, but you closing issue.

Are you think it is good way for communication through your support?

[2019-01-29 11:51] Falseclock commented on #4912
1. Subject always empty when using dynamic templates.

2. Personalisation does not support substitution per user while should, according to API doc.

3. Every user in personalisation see to whom this email was sent. But I define all recipients in global context, all users receive "personal email", but in this case dynamic template does not work.

[2019-01-29 12:21] hurkan-sert opened #4913 "Sending the Same Email to Multiple Recipients new version ?"
documentation was not enough,
Can you help us with sample code to send an email to multiple people with php api
The example structure used in this link was not very helpful:
https://sendgrid.com/docs/for-developers/sending-email/personalizations/

[2019-01-30 09:58] hurkan-sert opened #4915 "How do I make buyers not see each other's email sendgrid api"
{
"personalizations": [{
"to": [{
	"email": "recipient@example.com"
}],
"substitutions": {
		"%fname%": "recipient",
		"%CustomerID%": "CUSTOMER ID GOES HERE"
		},
	"subject": "YOUR SUBJECT LINE GOES HERE"
	}]
}

[2019-01-31 18:54] PaulaBurgheleaGithub opened #4918 "Event Webhook Reference"
https://sendgrid.com/docs/API_Reference/Event_Webhook/event.html#-Event-objects
On the Event Object table for unique_args row, there is nothing checked. That means that unique_args are not posted on any of our events.
After reviewing our internal documentation, I have noticed that the unique_args are added to all of our event types.

Thank you,
Paula

[2019-01-31 19:37] magudb opened #4919 "docs/ui/account-and-settings/mail.md is missing POST payload mentioned in docs/for-developers/sending-email/smtp-filters/#filter-spamcheck"
I tried "everywhere" on your docs but I can find a reference to this payload and I could not find it is the git history either.  I would very much appreciate if you could add the payload.
## Expected content
To find a description of the POST payload from SpamCheck

## Actual content

A link to the inbound parse
**Link to page**:
Broken link - https://sendgrid.com/docs/for-developers/sending-email/

[2019-02-02 22:07] maproo opened #4921 "dsd"
## Expected content

## Actual content

**Link to page**:

[2019-02-04 13:03] ognyandim opened #4922 "Your IP address is not whitelisted. See http://send.gd/1PemvHz for more details."
I have removed my IP from the whitelist by mistake and now there is no way to access and no way to contact support for help - no such thing as far as I can see on the site! It may be somewhere but I can not see it. I know the password and it is not changed. Can you help me with this? There is a Forgot Password procedure but there is no such procedure for IP whitelist(At least I can not see it).

[2019-02-04 13:08] ognyandim commented on #4922
I saw the link to the procedure.

[2019-02-04 23:36] asmenter15 opened #4926 "Email Activity API events query failing (incorrect documentation?)"
#### Issue Summary

On the live documentation when I attempt this request I get a 500 internal server error. Is this the correct format for events? If I follow the format in the docs I get a formatting error.

I also have the Additional Email Activity History turned on.

**Docs current format**

events | events="processed" | events%3D%22processed%22
-- | -- | --

**First Attempt**
https://api.send

[2019-02-04 23:55] daverydan opened #4927 "SendGrid is blocking my company from logging in and I can't contact support without doing so. Help!"
## Expected content

## Actual content

**Link to page**:

[2019-02-06 08:08] ognyandim commented on #4927
This is both funny and not. Let me explain it. Just look at the screenshot below and have fun.

0. You sent me an email with links to support ticket which require for me to log in the system but since my IP was accidentally removed - there is no way. Simple as that.

**1.The first and most effective way is for you to connect to one of the IPs already on your whitelist and send an email to sendgrid