[2017-01-12 22:20] MarcAir opened #2425 "How to change the password for your SendGrid add-on via Azure"
https://sendgrid.com/docs/Classroom/Troubleshooting/Account_Administration/how_to_change_the_password_for_your_sendgrid_add_on_via_azure.html
the content is out of date and does nto reflect how to reset the password.

[2017-01-13 18:29] djneely opened #2426 "What is my sending/originating IP address with Sendgrid?"
https://sendgrid.com/docs/Classroom/Basics/Account/what_is_my_sending_originating_ip_address_with_sendgrid.html

According to this documentaiton I'm supposed to be able to determine the outbound IP Sendgrid is using to send email. However that information does appear to be available in my Settings. I'm attempting to Whitlelist the IP with Google as Google is now bouncing the emails sent into our d

[2017-01-16 21:31] allella opened #2427 "SPF"
I was able to setup [whitelabel domains](https://sendgrid.com/docs/Classroom/Deliver/Delivery_Introduction/all_you_need_to_know_about_whitelabeling.html) with automatic security. This was all done using the CNAME records provided in the web interface (Settings -> Whitelabel -> Domains) and everything is validated and green checkboxes.

Historically, I'm familiar with setting SPF in TXT records so

[2017-01-17 17:12] wammaster opened #2428 "Deleted"

[2017-01-17 17:14] #2428 closed

[2017-01-25 23:26] thinkingserious commented on #2424
Thanks! You are correct and I've added this to our backlog for a fix.

For my own reference to fix: https://github.com/sendgrid/sendgrid-nodejs#with-mail-helper-class

[2017-01-25 23:32] thinkingserious commented on #2424
Fixed: https://gist.github.com/sendgrid-gists/069d788aefb7853706f424cbdfd7ee3c

[2017-01-25 23:32] #2424 closed

[2017-01-26 21:42] gi-x-2 opened #2456 "How to set up bounce forwarding to go to the email's FROM address"
https://sendgrid.com/docs/Classroom/Track/Bounces/how_to_set_up_bounce_forwarding_to_go_to_the_emails_from_address.html

bounce forward reports tell the recipient to contact SendGrid Support.  When my customers send out an email and it bounces and sends them a bounce report, I would like it to let them know to contact me.  Having them contact SendGrid support is kind of a dead end for them, since

[2017-01-26 21:44] gi-x-2 opened #2457 "Alerts"
https://sendgrid.com/docs/User_Guide/Settings/alerts.html

When I receive the daily bounce report, old bounces are listed first.  I have enough bounces that they can't all be listed on one page.  In order to see the new bounces, I have to click on the link.  It would be much more convenient of the newest bounces were listed first.

[2017-01-31 18:50] usulix opened #2460 "Sandbox Mode"
https://sendgrid.com/docs/Classroom/Send/v3_Mail_Send/sandbox_mode.html

Here is my sandbox response :

{"errors":[{"message":"Bad Request","field":null,"help":null}]}

Totally and completely useless!!!!!

[2017-02-03 01:44] kikutaro opened #2469 "Creating domain whitelabel with assigning subuser."
Hi,

When I used the API v3 for creating domain whitelabel with assigning subuser, I found that two request attributes "username", "ips" are not listed in the table on the document.
https://sendgrid.com/docs/API_Reference/Web_API_v3/Whitelabel/domains.html#Create-a-Domain-POST
<img src="https://cloud.githubusercontent.com/assets/5179168/22576026/8f86dec8-e9fc-11e6-88bf-39158f05a30e.png" width="500

[2017-02-08 02:03] bfarayev opened #2474 "Post data in creating category"
POST Data is given as `api_user=your_sendgrid_username&api_key=your_sendgrid_password&category=CATEGORY` but it should be sent as a URL parameter.

`category.md` needs corrections.

[2017-02-15 21:06] Angry-Leprechaun opened #2482 "BadRequest: CORS-Reason"
I'm having a problem getting my test application off the ground:
Code:
using System;
using System.Threading.Tasks;
using SendGrid;
using SendGrid.Helpers.Mail;

namespace SendGridTest
{
    class Program
    {
        static void Main(string[] args)
        {
            sendEmail().Wait();
        }

        public static async Task sendEmail()
        {
            var apiKey = Environment.GetEn

[2017-02-15 21:28] thinkingserious commented on #2482
Hello @Angry-Leprechaun,

Thanks for giving SendGrid a try!

This is a bug. The workaround right now is to pass null instead of an empty string. At first, I wanted to require text and html for this helper, because that improves deliverability, but I've found at least a few cases where it is desired to only have text or html.

In v9.0.9 I added the ability to pass in null in that case, but I failed

[2017-02-15 22:46] Angry-Leprechaun commented on #2482
I changed

var msg = MailHelper.CreateSingleEmail(from, to, subject, body, "");

to

var msg = MailHelper.CreateSingleEmail(from, to, subject, body, null);

and got the same error. Any other ideas?

[2017-02-15 23:57] thinkingserious commented on #2482
@Angry-Leprechaun,

Can you please verify the version of the SendGrid SDK you are using?

[2017-02-16 14:20] Angry-Leprechaun commented on #2482
9.0.8.0 is the version that I'm using. I got around the issue by doing the following:

var msg = MailHelper.CreateSingleEmail(from, to, subject, body, body);

[2017-02-16 20:16] nickrivadeneira opened #2485 "Incorrect response from Inbound Parse POST"
Your [docs show](https://github.com/sendgrid/docs/blob/6942e566d414409c1421cc2d3409d217522d0d8d/source/API_Reference/Web_API_v3/Webhooks/parse.apiblueprint#L57) that a successful response from a POST to `/user/webhooks/parse/settings` should have a status of `201`. I've been getting `200`s instead.

Since `201` is the correct response for a successful create, I didn't open a PR since it seems like

[2017-02-16 21:22] thinkingserious commented on #2482
Hi @Angry-Leprechaun,

Sweet! Thanks for taking the time to reach back out to us :)

[2017-02-16 21:22] #2482 closed

[2017-02-18 14:25] Jakobovski opened #2489 "Custom Fields"
https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/custom_fields.html

Can you please add how to use custom fields in templates to this page, or at least a link to some page that instructs on how to use custom fields?

Thanks

[2017-02-20 16:20] Angry-Leprechaun opened #2490 "BadRequest: When sending an attachment"
I get a Bad Request response. The Code functions without the msg.AddAttachment line.

    public static async Task sendEmail()
    {
        var apiKey = Environment.GetEnvironmentVariable("SENDGRID_APIKEY", EnvironmentVariableTarget.User);
        var client = new SendGridClient(apiKey);
        var from = new EmailAddress("donotreply@address.com");
        var subject = "Subject";
        var to

[2017-02-20 19:29] thinkingserious commented on #2490
Hi @Angry-Leprechaun,

The first parameter to AddAttachment is the filename and the second is the base64 encoded content.

Here is a full example: https://github.com/sendgrid/sendgrid-csharp/issues/402

I hope that helps!

With Best Regards,

Elmer

[2017-02-20 19:29] #2490 closed

[2017-02-20 20:03] Strizzy opened #2491 "phpBB Issue with sendgrid"
https://sendgrid.com/docs/Integrate/Open_Source_Apps/phpbb.html

So I followed everything as posted and it's not sending me anything but instead creating this error.

[code]

[2017-02-23 16:36] allankellynet opened #2499 "Fail to send from Google AppEngine but works locally"
I'm slowly going mad here.. I'm working in Python 2.7 on the Google AppEngine, I've got some code (below) which works perfectly well when running locally - in the Google AppEngine Launcher. It correctly sends mail through SendGrid and I can see the mail in the activity log.

But, when I deploy the code to AppEngine for real it fails with an HTTP 400 Error which suggest some authorization failure.

[2017-02-23 16:45] thinkingserious commented on #2499
Hello @allankellynet,

In this function: `os.environ.get('SENDGRID_API_KEY')`, we are expecting the variable SENDGRID_API_KEY to be set in the environment. I'm guessing this is not happening properly on App Engine.

This looks like it might be what you need: https://cloud.google.com/appengine/docs/standard/python/config/appref

With Best Regards,

Elmer

[2017-02-23 17:38] allankellynet commented on #2499
Sorry, no.
From the app.yaml
env_variables:
    SENDGRID_API_KEY: "..."

At one point I had some logging code in there to make sure the key was picked up, and it was.
And before that I had the key hard coded.

[2017-02-23 17:44] thinkingserious commented on #2499
Hi @allankellynet,

Can you please log the following so we can discover the source of the "BAD REQUEST"?

https://github.com/sendgrid/sendgrid-python/blob/master/TROUBLESHOOTING.md#error-messages

We need to figure out what the "HTTPError exception" is.

[2017-02-23 17:58] allankellynet commented on #2499
Yippee! - that nailed it.

For the recorded, I got...

{"errors": [{"message":
   "Each email address in the personalization block should be unique between to, cc, and bcc. We found the first duplicate instance of [...@gmail.com] in the personalizations.0.cc field.","field":"personalizations.0","help":"http://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/errors.html#message.recipient-errors"}]}

[2017-02-23 18:38] thinkingserious commented on #2499
Awesome, thanks for following up!

[2017-02-23 18:38] #2499 closed

[2017-02-28 13:20] robinnorth opened #2512 "Recommended SMTP settings documentation mangled"
Looks like a git merge went awry with https://sendgrid.com/docs/Classroom/Basics/Email_Infrastructure/recommended_smtp_settings.html

![screen shot 2017-02-28 at 13 19 58](https://cloud.githubusercontent.com/assets/3787255/23406784/a9c822cc-fdb8-11e6-8ac0-8d95cc81a524.png)

[2017-02-28 13:22] robinnorth commented on #2512
Ah, #2511 fixes this 👍

[2017-03-01 12:10] dhruvJaiswal commented on #620
I wanted to send multiple Attachment. But when i kept in for loop it was sending only one pdf and other didn't got send

[2017-03-01 18:27] thinkingserious commented on #620
Hello @dhruvJaiswal,

Which library were you using for this? If it is the C# library, could you please post your issue along with the relevant source code here: https://github.com/sendgrid/sendgrid-csharp/issues

Thank you!

With Best Regards,

Elmer

[2017-03-01 23:27] TimCannady opened #2519 "Global Unsubscribes"
https://sendgrid.com/docs/User_Guide/Suppressions/global_unsubscribes.html

The "Unsubscribe From All Emails" link doesn't link to anything. 🤔

[2017-03-02 16:17] phpguru opened #2523 "Please update for Laravel 5"
https://sendgrid.com/docs/Integrate/Frameworks/laravel.html

The SendGrid should be updated for Laravel 5

See [Laravel 5.4 Docs](https://laravel.com/docs/5.4/mail#writing-mailables).

[2017-03-03 00:44] cranesandcaff opened #2526 "Recommended SMTP settings"
https://sendgrid.com/docs/Classroom/Basics/Email_Infrastructure/recommended_smtp_settings.html

Does this mean the API key id or the API key secret for the password? Are these three different methods of authenticating SMTP or is it a process of steps?

[2017-03-03 15:12] ChristopheHvd opened #2527 "BadRequest with Base64 image attachment"
I try to add a Base64 encoded image from my web app.
When I add it directly to the message as an attachement, I got a BadRequest.
ex :
`            var msg = MailHelper.CreateSingleEmail(from, to, subject, body, body);
var base64ImgAttachment = "data:image/png;iVBORw0......"; // the base64 encoded image
                msg.AddAttachment("Capture", base64ImgAttachment, "image/png");
`

So I tried t

[2017-03-03 16:15] thinkingserious commented on #2527
Hello @ChristopheHvd,

What function are you using to create the base64 string?

How about: `Convert.ToBase64String(content);`

Thanks!

[2017-03-05 17:35] ChristopheHvd commented on #2527
I receive the base64 from my web app directly, with the metadata at the beginning
`data:image/png;base64,iVBORw0K....`

Should I blame the web app though?

[2017-03-06 14:37] jamesharvard opened #2532 "Bad/contradictory SPF info in "All You Need to Know About Whitelabeling""
I believe there are two problems with the SPF part of the ['about whitelabelling'](https://sendgrid.com/docs/Classroom/Deliver/Delivery_Introduction/all_you_need_to_know_about_whitelabeling.html) doc:

1. The `uXXXXXX.wl.sendgrid.net` in the suggested/example SPF record does not work for me (presumably should be `v=spf1 (youruserid).wlXXX.sendgrid.net -all`, as per the domain whitelabel CNAMEs).
2

[2017-03-06 18:13] eschallock commented on #2532
@jamesharvard Thanks for bringing this to our attention! I'll run this by our Deliverability team to make sure that we get this cleaned up.

[2017-03-06 23:00] eschallock commented on #2532
Hello @jamesharvard, you're completely correct that the explanation on this page presents some contradictory and confusing information. I've run this by our Deliverability team, and we are working together to improve this content. We will likely redirect this page to the following article, which is much more clear and up-to-date:

https://sendgrid.com/docs/Classroom/Basics/Whitelabel/setup_domain_

[2017-03-07 07:55] thinkingserious commented on #2527
Hi @ChristopheHvd,

It should work with the metadata removed. Can you send the attachment to dx@sendgrid.com, so that I can try to reproduce the error?

With Best Regards,

Elmer

[2017-03-07 08:12] ChristopheHvd commented on #2527
@thinkingserious , I'll send you a text file with the data.
Thank you for your support.
Regards,
Chris

[2017-03-07 23:09] thinkingserious commented on #2527
Hello @ChristopheHvd,

Here was what worked for me:

[code]

Couple things to note:

1. I had to remove the metadata
2. The first test, I received the same error as you. Turns out I had only pasted part of the base64 string. When I verified I had copied the entire base64 encoding it worked.

[2017-03-09 12:07] rzats opened #2534 "Confusing indentation in api_table"
In https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.html#-Request-Body-Parameters and elsewhere, the difference between different depth levels is so small that it can be hard to tell whether a specific parameter is top-level or a member of a different parameter. Could be fixed by

- Simply [increasing the indentation](https://github.com/sendgrid/docs/blob/master/source/_assets/stylesh

[2017-03-11 12:59] djtwixx opened #2538 "clicking verify address doesnt work"
it sends me email verification link, i click and it and still says unverified.  bug in your system?

[2017-03-16 09:09] ChristopheHvd commented on #2527
Hi Elmer,
So, if I understand correctly what you said : you did exactly the same thing as me (removing the metadata) and it works? Like I did previously.
So, you don't have any explanation why it doesn't work in the first place?

[2017-03-16 13:09] adminFS opened #2548 "Troubleshooting Index"
https://sendgrid.com/docs/Classroom/Troubleshooting/index.html

I am a paying customer with Send Grid and have had an account for years. I have unable to login. So I reset my password and expect to receive an email. No email arrives. I again request to reset password and still no email arrives.

I am unable to contact support because I first have to login. Your website is barrier to working with c

[2017-03-16 16:34] thinkingserious commented on #2527
@ChristopheHvd,

My guess is that your base64 encoded string was truncated. That was what made the error happen for me. Somehow when I first manually encoded it, I did not copy the whole string.

[2017-03-20 14:50] rehmke opened #2557 "Account Sign Up FAQs"
Hello,

I received an interesting message upon signup for a free development email trial that stated that 'the algorithms' have deemed my application/registration as 'high-risk'.  Does this odd, unfortunate designation indicate that I will not be able to use SendGrid for my startup project?  Please advise, and thank you.

Best regards,

rehmke

Update: I received an email message from SendGrid 41

[2017-03-21 20:30] mrwingate opened #2563 "Senders API documentation incorrect for verified."
Documentation shows it should be a boolean. I'm seeing an object with status and reason when testing the api.

[2017-03-31 20:09] jdq22 opened #2609 "Typo in "client complain no email received" doc"
Typo "sever" => "server" is bolded:

Doc is [here](https://sendgrid.com/docs/Classroom/Troubleshooting/Delivery_Issues/my_client_is_complaining_that_they_have_not_received_an_email.html)

[2017-04-05 16:32] thesmart opened #2616 "Wrong template id responds with 201"
https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/errors.html#-Template-Errors

I noticed that if we use a guide that is off by one character (change any character to a 0), the send API returns 201 and yet no email is queued according to the recent activity list.  This meant an hour was wasted trying to debug our email to realize that the template id was slightly off.

[2017-04-12 21:39] thesmart opened #2631 "Event Webhook"
https://sendgrid.com/docs/API_Reference/Web_API_v3/Webhooks/event.html

No mention of basic auth or any authentication mechanisms.

[2017-04-18 12:39] DarylMcCullough opened #2638 "Testing your connectivity to SendGrid's SMTP relay using Telnet"
https://sendgrid.com/docs/Classroom/Troubleshooting/Delivery_Issues/testing_your_connectivity_to_sendgrids_smtp_relay_using_telnet.html

I went through the steps and instead of getting "mail delivered" at the end, I got the message
250 Ok: queued as nhIMmON9SFOPcT0ii4nt2A

I don't know what that means, but the email never arrived.

Anyway, the troubleshooting should acknowledge the possibility of

[2017-04-24 09:00] kevin-work commented on #2557
I also just got this. Any news?

[2017-04-25 10:41] xiuwenzhao opened #2646 "Account Under Review / Suspended"
Our account is sas@zxianstudio.com, this week it is suspended due to unknown reason!
We have tried a lot of ways, changing credit card, digging documents, emailing you.....

However we haven't got any response. Right now our account is suspended ! Our business is affected by this problem.
Please help us to resolve this problem.

ps1,
we have read this doc, but it didn't help. https://sendgrid.com/

[2017-04-25 11:16] pqthompson opened #2647 "Post IP Addresses is missing the request body"
https://sendgrid.com/docs/API_Reference/Web_API_v3/IP_Management/ip_addresses.html

I believe it should have a request body similar to

[code]

[2017-04-25 15:05] thinkingserious commented on #2646
Hello @xiuwenzhao,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2017-04-25 15:05] #2646 closed

[2017-04-26 17:04] mbernier commented on #2647
I believe that this is a rendering issue with that docs page - as the source file has the info. I am sorry about that. This bug is one of the many reasons why we are migrating over to these docs soon - https://sendgrid.com/docs/API_Reference/api_v3.html#ip-addresses  (I have linked to the IP addresses endpoint for you)

Please let me know what you think!!

[2017-04-26 17:04] #2647 closed

[2017-04-26 19:31] pugwonk opened #2653 "There are two list of response status codes that disagree with one another"
The list at https://sendgrid.com/docs/API_Reference/Web_API_v3/How_To_Use_The_Web_API_v3/responses.html isn't the same as the list at https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/errors.html

[2017-04-26 19:36] mbernier commented on #2653
Thanks! Merging these would be a great idea. Thank you for the nudge! I will put this on our list to be cleaned up before we go fully over to our new API docs: https://sendgrid.com/docs/API_Reference/api_v3.html

[2017-04-26 19:36] #2653 closed

[2017-05-03 11:43] endersonmaia opened #2658 "Recommended SMTP settings confusing steps"
https://sendgrid.com/docs/Classroom/Basics/Email_Infrastructure/recommended_smtp_settings.html

The first step says I need to use my `username` and `password,  and then the last step says I need to use the `apikey` for username and the api key for password.

Does that mean I can use one OR another ? I think it should be more clear, as the bullet lists made me think as steps to follow and configure

[2017-05-11 12:01] emiel opened #2667 "Status of sg_event_id"
We are using the event webhook in our system and using `sg_event_id` to deduplicate events. We are curious what the format of this value is. From what I've found so far it is a base64 encoded UUID value and I'm able to decode it  for the most part.

My issue is that it seems there are various forms in use. For click/open events they are all base64 UUIDs. A couple of examples are:

[code]

    $ ec

[2017-05-11 13:27] davemdub opened #2668 "Question about opens"
Hi

I have a question about "opens".  I have a campaign where I send an email once per month to about 2000 addresses.  The email might go out on the 15th and then it will get clicks and opens for the next couple weeks until it tapers off.  Are the unique clicks and open specific to the entire campaign or the day?  Meaning, say on the 15th I send 2000 emails.  The category statistics reporting page

[2017-05-19 15:23] graph1994 opened #2675 "Documentation does_sendgrid_offer_a_sandbox_or_test_environment.md doesn't list API v3's Sandbox_mode as an option"
### ISSUE:
* The documentation discussing if there is a sandbox or test environment does not list the API v3 option of sandbox_mode.

* The exact directory of the file is _docs/source/Classroom/Basics/API/does_sendgrid_offer_a_sandbox_or_test_environment.md_

### FIX:
* In the file mention the sandbox_mode setting and have a link to it
* [LINK to Documentation discussing sandbox_mode](https://send

[2017-05-24 19:32] lumineida opened #2682 "Why is sendgrid.net “greylisted”?"
https://sendgrid.com/docs/Classroom/Deliver/Undeliverable_Email/why_is_sendgrid_net_greylisted.html

I am getting blocked on many emails with the error:

Is there anything I can do to help Sendgrid get out of the grey list?

Thanks!

[2017-05-26 00:19] whitsey opened #2684 "Sending guarantee"
How do I get a goddamn answer to a sales related question without setting up an account?
Your FAQ is useless and there is no way to ask a question.
I had a question regarding inclusions that are not specifically documented
Good business model - don't provide any sales assistance and watch potential customers find an alternate solution!

[2017-05-26 01:06] mikegreen commented on #2684
The struggle is real, @whitsey - it takes at least two clicks to get to the contact us page - https://sendgrid.com/contact-us-form/

[2017-05-26 15:13] mikegreen commented on #2682
File a support ticket and they can look at your send history/reputation and possibly move you to a better IP pool.
I find it odd that support says it isn't impacting deliverability

But clearly your email is being blocked... Is it being delivered later? Or terminally rejected?

[2017-05-26 17:18] mbernier commented on #2684
@whitsey ... I am sorry about that. I shared your comment with our UI/UX people. Were you able to get in touch with our sales team?

@mikegreen thanks for the assist!

[2017-06-01 02:49] #2675 closed

[2017-06-05 19:03] ksigler7 commented on #2684
Closing this issue since there's not a specific docs request here. Let us know if you have any other issues!

[2017-06-05 19:03] #2684 closed

[2017-06-05 19:26] #2512 closed

[2017-06-07 23:49] thinkingserious commented on #54
Hello @brandonmwest,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:49] #54 closed

[2017-06-07 23:51] #2457 closed

[2017-06-07 23:51] thinkingserious commented on #2460
Hello @usulix,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <br

[2017-06-07 23:51] #2460 closed

[2017-06-07 23:51] thinkingserious commented on #2469
Hello @kikutaro,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <

[2017-06-07 23:51] #2469 closed

[2017-06-07 23:51] thinkingserious commented on #2474
Hello @bfarayev,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <

[2017-06-07 23:51] #2474 closed

[2017-06-07 23:51] thinkingserious commented on #2485
Hello @nickrivadeneira,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:51] #2485 closed

[2017-06-07 23:51] thinkingserious commented on #2489
Hello @Jakobovski,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:51] #2489 closed

[2017-06-07 23:51] thinkingserious commented on #2491
Hello @Strizzy,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <b

[2017-06-07 23:51] #2491 closed

[2017-06-07 23:51] thinkingserious commented on #2519
Hello @TimCannady,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:51] #2519 closed

[2017-06-07 23:51] thinkingserious commented on #2523
Hello @phpguru,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <b

[2017-06-07 23:51] #2523 closed

[2017-06-07 23:51] thinkingserious commented on #2526
Hello @cranesandcaff,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:51] #2526 closed

[2017-06-07 23:51] thinkingserious commented on #2527
Hello @ChristopheHvd,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:51] #2527 closed

[2017-06-07 23:51] thinkingserious commented on #2532
Hello @jamesharvard,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:51] #2532 closed

[2017-06-07 23:51] thinkingserious commented on #1943
Hello @Jehoel,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <br

[2017-06-07 23:51] #1943 closed

[2017-06-07 23:51] thinkingserious commented on #1952
Hello @carlos-mg89,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:51] #1952 closed

[2017-06-07 23:51] thinkingserious commented on #1965
Hello @awwa,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <br /

[2017-06-07 23:51] #1965 closed

[2017-06-07 23:51] thinkingserious commented on #1973
Hello @adamjakab,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:51] #1973 closed

[2017-06-07 23:51] thinkingserious commented on #1989
Hello @p7742777,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <

[2017-06-07 23:51] #1989 closed

[2017-06-07 23:51] thinkingserious commented on #1985
Hello @Dynamicwebusa,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:51] #1985 closed

[2017-06-07 23:51] thinkingserious commented on #1991
Hello @secesh,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <br

[2017-06-07 23:51] #1991 closed

[2017-06-07 23:51] thinkingserious commented on #2016
Hello @mijphys,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <b

[2017-06-07 23:51] #2016 closed

[2017-06-07 23:51] thinkingserious commented on #2017
Hello @jimm-porch,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:51] thinkingserious commented on #2079
Hello @qin-nz,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <br

[2017-06-07 23:51] #2079 closed

[2017-06-07 23:51] thinkingserious commented on #2108
Hello @sparxit,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <b

[2017-06-07 23:51] #2108 closed

[2017-06-07 23:51] thinkingserious commented on #2131
Hello @Visue,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <br

[2017-06-07 23:51] #2131 closed

[2017-06-07 23:51] thinkingserious commented on #2174
Hello @KyleGobel,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:51] #2174 closed

[2017-06-07 23:51] thinkingserious commented on #2175
Hello @ddemetri,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <

[2017-06-07 23:51] #2175 closed

[2017-06-07 23:51] thinkingserious commented on #2176
Hello @jblok,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <br

[2017-06-07 23:51] #2176 closed

[2017-06-07 23:51] thinkingserious commented on #2009
Hello @luqmansungkar,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:51] #2009 closed

[2017-06-07 23:51] thinkingserious commented on #2191
Hello @Kilili,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <br

[2017-06-07 23:51] #2191 closed

[2017-06-07 23:51] thinkingserious commented on #2199
Hello @garyebersole,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:51] #2199 closed

[2017-06-07 23:51] thinkingserious commented on #2202
Hello @felix-engelmann,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:51] #2202 closed

[2017-06-07 23:51] thinkingserious commented on #2222
Hello @bob-hinrichs,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:51] #2222 closed

[2017-06-07 23:51] thinkingserious commented on #2238
Hello @krvajalmiguelangel,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:51] #2238 closed

[2017-06-07 23:51] thinkingserious commented on #2246
Hello @ozomer,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <br

[2017-06-07 23:51] #2246 closed

[2017-06-07 23:51] thinkingserious commented on #2248
Hello @morgen-peschke,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:51] #2248 closed

[2017-06-07 23:51] thinkingserious commented on #2252
Hello @sabondano,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:51] #2252 closed

[2017-06-07 23:52] thinkingserious commented on #83
Hello @brandonmwest,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:52] #83 closed

[2017-06-07 23:52] thinkingserious commented on #197
Hello @nquinlan,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <

[2017-06-07 23:52] #197 closed

[2017-06-07 23:52] thinkingserious commented on #415
Hello @brandonmwest,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:52] #415 closed

[2017-06-07 23:52] thinkingserious commented on #57
Hello @Zaftula,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <b

[2017-06-07 23:52] #57 closed

[2017-06-07 23:52] thinkingserious commented on #479
Hello @brandonmwest,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:52] #479 closed

[2017-06-07 23:52] thinkingserious commented on #531
Hello @brandonmwest,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:52] #531 closed

[2017-06-07 23:52] thinkingserious commented on #601
Hello @mbernier,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <

[2017-06-07 23:52] #601 closed

[2017-06-07 23:52] thinkingserious commented on #632
Hello @asiSendGrid,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:52] #632 closed

[2017-06-07 23:52] thinkingserious commented on #650
Hello @awwa,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <br /

[2017-06-07 23:52] #650 closed

[2017-06-07 23:52] thinkingserious commented on #916
Hello @asiSendGrid,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:52] #916 closed

[2017-06-07 23:52] thinkingserious commented on #1016
Hello @jacobmovingfwd,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:52] #1016 closed

[2017-06-07 23:52] thinkingserious commented on #1114
Hello @asiSendGrid,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:53] #1114 closed

[2017-06-07 23:53] thinkingserious commented on #1134
Hello @asiSendGrid,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:53] #1134 closed

[2017-06-07 23:53] thinkingserious commented on #1176
Hello @HaythemYahyaoui,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:53] #1176 closed

[2017-06-07 23:53] thinkingserious commented on #1196
Hello @adinanistor,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:53] #1196 closed

[2017-06-07 23:53] thinkingserious commented on #1200
Hello @adinanistor,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:53] #1200 closed

[2017-06-07 23:53] thinkingserious commented on #1206
Hello @ej500,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <br

[2017-06-07 23:53] #1206 closed

[2017-06-07 23:53] thinkingserious commented on #1216
Hello @ryanruppe,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:53] #1216 closed

[2017-06-07 23:53] thinkingserious commented on #1227
Hello @ohhdear,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <b

[2017-06-07 23:53] #1227 closed

[2017-06-07 23:53] thinkingserious commented on #1235
Hello @ralf-strehle,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:53] #1235 closed

[2017-06-07 23:53] thinkingserious commented on #1243
Hello @thirdeze,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <

[2017-06-07 23:53] #1243 closed

[2017-06-07 23:53] thinkingserious commented on #1241
Hello @davidna,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <b

[2017-06-07 23:53] #1241 closed

[2017-06-07 23:53] thinkingserious commented on #1262
Hello @KrunchMuffin,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:53] #1262 closed

[2017-06-07 23:53] thinkingserious commented on #1266
Hello @grozario,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <

[2017-06-07 23:53] #1266 closed

[2017-06-07 23:53] thinkingserious commented on #1267
Hello @Vitoc456,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <

[2017-06-07 23:53] #1267 closed

[2017-06-07 23:53] thinkingserious commented on #1275
Hello @bpneal,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <br

[2017-06-07 23:53] #1275 closed

[2017-06-07 23:53] thinkingserious commented on #1277
Hello @thinkingserious,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:53] #1277 closed

[2017-06-07 23:53] thinkingserious commented on #1279
Hello @ipmsteven,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:53] #1279 closed

[2017-06-07 23:53] thinkingserious commented on #1296
Hello @mgrijalva,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:53] #1296 closed

[2017-06-07 23:53] thinkingserious commented on #1311
Hello @FMJansen,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <

[2017-06-07 23:53] #1311 closed

[2017-06-07 23:53] thinkingserious commented on #1339
Hello @dtjm,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <br /

[2017-06-07 23:53] #1339 closed

[2017-06-07 23:53] thinkingserious commented on #1354
Hello @jacobmovingfwd,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:53] #1354 closed

[2017-06-07 23:53] thinkingserious commented on #1360
Hello @jacobmovingfwd,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:53] thinkingserious commented on #1363
Hello @Webcoda,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <b

[2017-06-07 23:53] #1363 closed

[2017-06-07 23:53] thinkingserious commented on #1481
Hello @thinkingserious,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:53] #1481 closed

[2017-06-07 23:53] thinkingserious commented on #1491
Hello @sbrown345,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:53] #1491 closed

[2017-06-07 23:53] thinkingserious commented on #1533
Hello @brightcode,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:53] #1533 closed

[2017-06-07 23:53] thinkingserious commented on #1540
Hello @nrlucaroni,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:53] #1540 closed

[2017-06-07 23:53] thinkingserious commented on #1551
Hello @francesco1119,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:53] #1551 closed

[2017-06-07 23:53] thinkingserious commented on #1569
Hello @awwa,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <br /

[2017-06-07 23:53] #1569 closed

[2017-06-07 23:53] thinkingserious commented on #1566
Hello @alexzabolotny,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:53] #1566 closed

[2017-06-07 23:53] thinkingserious commented on #1572
Hello @jaycom,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <br

[2017-06-07 23:53] #1572 closed

[2017-06-07 23:53] thinkingserious commented on #1578
Hello @gorums,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <br

[2017-06-07 23:53] #1578 closed

[2017-06-07 23:53] thinkingserious commented on #1579
Hello @gorums,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <br

[2017-06-07 23:53] #1579 closed

[2017-06-07 23:53] thinkingserious commented on #1581
Hello @gorums,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <br

[2017-06-07 23:53] #1581 closed

[2017-06-07 23:53] thinkingserious commented on #1587
Hello @amstel54,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <

[2017-06-07 23:53] #1587 closed

[2017-06-07 23:53] thinkingserious commented on #1596
Hello @mopinion,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <

[2017-06-07 23:53] #1596 closed

[2017-06-07 23:53] thinkingserious commented on #1597
Hello @vrinek,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <br

[2017-06-07 23:53] thinkingserious commented on #1635
Hello @gvohra,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <br

[2017-06-07 23:53] #1635 closed

[2017-06-07 23:53] thinkingserious commented on #1594
Hello @awwa,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <br /

[2017-06-07 23:53] #1597 closed

[2017-06-07 23:53] #1594 closed

[2017-06-07 23:53] thinkingserious commented on #1640
Hello @kraymitchell,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:53] #1640 closed

[2017-06-07 23:53] thinkingserious commented on #1642
Hello @danielcompton,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:53] #1642 closed

[2017-06-07 23:53] thinkingserious commented on #1646
Hello @jkibble,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <b

[2017-06-07 23:53] #1646 closed

[2017-06-07 23:53] thinkingserious commented on #1645
Hello @mikejarema,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:53] #1645 closed

[2017-06-07 23:54] thinkingserious commented on #1652
Hello @kewleus,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <b

[2017-06-07 23:54] #1652 closed

[2017-06-07 23:54] thinkingserious commented on #1703
Hello @darky2004,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:54] #1703 closed

[2017-06-07 23:54] thinkingserious commented on #1729
Hello @ToMaple2,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <

[2017-06-07 23:54] #1729 closed

[2017-06-07 23:54] thinkingserious commented on #1658
Hello @jwisener,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <

[2017-06-07 23:54] thinkingserious commented on #1735
Hello @FabienLavocat,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:54] #1735 closed

[2017-06-07 23:54] #1658 closed

[2017-06-07 23:54] thinkingserious commented on #1740
Hello @zolee1,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <br

[2017-06-07 23:54] #1740 closed

[2017-06-07 23:54] thinkingserious commented on #1741
Hello @gracemanasseh,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:54] #1741 closed

[2017-06-07 23:54] thinkingserious commented on #1742
Hello @ealter,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <br

[2017-06-07 23:54] #1742 closed

[2017-06-07 23:54] thinkingserious commented on #1754
Hello @ealter,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <br

[2017-06-07 23:54] #1754 closed

[2017-06-07 23:54] thinkingserious commented on #1755
Hello @reagan83,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <

[2017-06-07 23:54] thinkingserious commented on #1762
Hello @jacobmovingfwd,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:54] thinkingserious commented on #1766
Hello @aossikine,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:54] #1766 closed

[2017-06-07 23:54] thinkingserious commented on #1787
Hello @gpietersma,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:54] #1787 closed

[2017-06-07 23:54] thinkingserious commented on #1822
Hello @zygimantas,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:54] #1822 closed

[2017-06-07 23:54] thinkingserious commented on #1805
Hello @jimsander,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:54] thinkingserious commented on #1808
Hello @cjmochrie,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:54] #1808 closed

[2017-06-07 23:54] #1805 closed

[2017-06-07 23:58] thinkingserious commented on #1823
Hello @zygimantas,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:58] #1823 closed

[2017-06-07 23:58] thinkingserious commented on #1827
Hello @awwa,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <br /

[2017-06-07 23:58] #1827 closed

[2017-06-07 23:58] thinkingserious commented on #1846
Hello @gorums,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <br

[2017-06-07 23:58] #1846 closed

[2017-06-07 23:58] thinkingserious commented on #1847
Hello @ivrh,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <br /

[2017-06-07 23:58] #1847 closed

[2017-06-07 23:58] thinkingserious commented on #1860
Hello @jimsander,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:58] #1860 closed

[2017-06-07 23:58] thinkingserious commented on #1871
Hello @philwiebe,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:58] #1871 closed

[2017-06-07 23:58] thinkingserious commented on #1888
Hello @idimensionz,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:58] #1888 closed

[2017-06-07 23:58] thinkingserious commented on #1917
Hello @tmendt,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <br

[2017-06-07 23:58] #1917 closed

[2017-06-07 23:58] thinkingserious commented on #1927
Hello @jacobmovingfwd,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:58] #1927 closed

[2017-06-07 23:58] #1938 closed

[2017-06-07 23:58] thinkingserious commented on #2270
Hello @morgen-peschke,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:58] #2270 closed

[2017-06-07 23:58] thinkingserious commented on #2289
Hello @kylemiller,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:58] #2289 closed

[2017-06-07 23:58] thinkingserious commented on #2356
Hello @kmayer,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <br

[2017-06-07 23:58] #2356 closed

[2017-06-07 23:58] thinkingserious commented on #2401
Hello @pmackay,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <b

[2017-06-07 23:58] #2401 closed

[2017-06-07 23:58] thinkingserious commented on #2405
Hello @markine,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <b

[2017-06-07 23:59] #2405 closed

[2017-06-07 23:59] thinkingserious commented on #2425
Hello @MarcAir,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <b

[2017-06-07 23:59] thinkingserious commented on #2418
Hello @adamreisnz,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-07 23:59] #2425 closed

[2017-06-07 23:59] #2418 closed

[2017-06-07 23:59] thinkingserious commented on #2427
Hello @allella,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <b

[2017-06-07 23:59] #2427 closed

[2017-06-07 23:59] thinkingserious commented on #2456
Hello @gi-x-2,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <br

[2017-06-07 23:59] thinkingserious commented on #2426
Hello @djneely,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <b

[2017-06-07 23:59] #2426 closed

[2017-06-07 23:59] #2456 closed

[2017-06-08 00:01] adamreisnz commented on #2418
Yep still an issue!

[2017-06-08 00:05] jwisener commented on #1658
You can completely remove as no one ever responded In a year. We decided to
use another provider.

On Wed, Jun 7, 2017 at 6:54 PM Elmer Thomas <notifications@github.com>
wrote:

[2017-06-08 00:21] jimm-porch commented on #2017
@thinkingserious I think the documentation could be clarified, although some points from my original message can use some updates....

Here's a recent example that we received (I've edited the filename and content ID to remove personal information but the structure is unchanged):

[code]

### Flaws in my original ticket

- Flaw 1: my original link to the documentation pointed to a page that doesn'

[2017-06-08 00:24] jimm-porch commented on #2017
@thinkingserious Github doesn't allow me to reopen a ticket that was closed by someone else.  Should I create a new more-focused ticket?

[2017-06-08 03:20] danielcompton commented on #1642
The docs are still confusingly worded here.

[2017-06-08 04:18] aossikine commented on #1766
Wow, you guys close tickets simply because you haven't bothered addressing them in 90 days? It's definitely still an issue, though a very minor one. I was just trying to help you make your service better...

[2017-06-08 04:19] aossikine commented on #1766
(besides this being open for over a year, not 90 days)

[2017-06-08 17:51] thinkingserious commented on #2668
Hello @davemdub,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2017-06-08 17:51] #2668 closed

[2017-06-08 17:52] ksigler7 commented on #2682
Hello @lumineida ,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a docs specific issue, we would like to ask that you reach out to our support team at https://support.sendgrid.com.

Thank you!

SendGrid DX Team

[2017-06-08 17:52] #2682 closed

[2017-06-08 19:21] ksigler7 commented on #2534
Hi @rzats, thanks for your suggestion! Right now, we're not actively improving that set of API docs because we're migrating over to a newer format. Here's that information in the new format: https://sendgrid.com/docs/API_Reference/api_v3.html. Let me know if you find the table to be confusing in this new format.

[2017-06-08 19:21] #2534 closed

[2017-06-08 19:24] ksigler7 commented on #2250
hey @morgen-peschke, thanks so much for pointing this out! We're not going to fix this right now because we're currently in the process of migrating to a new format for our API docs. Here's the new page for POST ip pools, and it does include a correct request body example: https://sendgrid.com/docs/API_Reference/api_v3.html

[2017-06-08 19:25] #2250 closed

[2017-06-08 19:27] ksigler7 commented on #2538
Hi @djtwixx, thanks for reaching out. I'll let our team know that there may be an issue. If you're still having verification issues, please reach out to our support team at https://support.sendgrid.com.

[2017-06-08 19:27] #2538 closed

[2017-06-08 19:32] ksigler7 commented on #2658
Hi @endersonmaia,

Thanks for reaching out. The first bullet point is referring to your username and password that you use to log into app.sendgrid.com, and the last bullet is referring to the API Key that you create in bullet 2 (which you have to log into app.sendgrid.com in order to create).

This page could definitely use some clarification though, and I've added it to our internal backlog!

Ka

[2017-06-08 19:32] #2658 closed

[2017-06-08 19:42] ksigler7 commented on #2638
Hi @DarylMcCullough,

250 Ok: queued is the success response (a mail never just sends, it gets queued on the ip that you're using). If a mail isn't delivered after this point, it is often an issue with the content (for example, most mail providers require that you have a from header in your content). The Suppressions section of app.sendgrid.com may provide some good troubleshooting information. If

[2017-06-08 19:42] #2638 closed

[2017-06-08 19:51] ksigler7 commented on #2563
Hi @mrwingate, can you please provide a link to the specific documentation you're referring to?

[2017-06-08 19:52] thinkingserious commented on #2557
Hello @rehmke,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2017-06-08 19:52] #2557 closed

[2017-06-08 20:21] ksigler7 commented on #2631
Hey @thesmart, thanks for the feedback! We're no longer updating our old API documentation because we're currently in the process of migrating to new and improved documentation. The new Webhooks doc is here: https://sendgrid.com/docs/API_Reference/api_v3.html and it *does* have authentication.

[2017-06-08 20:21] #2631 closed

[2017-06-08 20:27] ksigler7 commented on #2548
Hello @adminFS,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a docs specific issue, we would like to ask that you email our support team at support@sendgrid.com.

Thank you!

SendGrid DX Team

[2017-06-08 20:27] #2548 closed

[2017-06-08 21:00] ksigler7 commented on #2616
Hello @thesmart,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem.  This is actually the expected behavior of the API - the API itself doesn't do any of the character validations, that happens later in the process. If you're having any issues troubleshooting, please reach out to our support team at https://support.sendgrid.com.

Thank you!

SendGrid D

[2017-06-08 21:00] #2616 closed

[2017-06-09 00:02] Jehoel opened #2709 "Outdated content on "How to change the password for your SendGrid add-on via Azure""
Reopening Issue #1943 as per @thinkingserious's instructions because this is still an issue:

(I believe that auto-closing old issues is a very bad software engineering practice - bug reports are not the same thing as customer support tickets - the previous issue was only marked as old because it was not previously attended to - this is SendGrid's fault, not mine).

Original issue text below:

htt

[2017-06-09 00:02] Jehoel commented on #1943
Reopened as https://github.com/sendgrid/docs/issues/2709

[2017-06-09 00:05] Jehoel commented on #1943
This is a very unwise policy. Bug reports are not like customer support tickets where an inactivity deadline results in auto-closure. This bug is only inactive because SendGrid has not even looked at it.

I have re-filed this issue as #2709 as I lack the necessary permissions to re-open this specific issue.

[2017-06-09 15:04] ksigler7 commented on #2709
@Jehoel thanks so much for creating a new issue for this! I've added it to the docs backlog to update.

[2017-06-09 16:12] ksigler7 commented on #2667
Hi @emiel, I added this to our documentation backlog to clarify the different value types. In the meantime, if you haven't figured out your issue already, you can reach out to our support team through https://support.sendgrid.com and they should be able to help you more quickly than we can.

[2017-06-10 11:12] balaoverture opened #2714 "I didn't receive the password reset email"
I havent recieved email for my account overture_email. Please assist.

[2017-06-12 15:41] ksigler7 commented on #2714
Hello @balaoverture,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. Often, this happens because you're trying to reset your password with an incorrect username (the UI doesn't tell you if it's wrong or not, it just says it sends an email). You can start the flow of verifying your username, and resetting your password with this form: https://support

[2017-06-12 15:41] #2714 closed

[2017-06-12 19:22] jacobmovingfwd commented on #1927
looks like this ha been updated at some point, so all good.

[2017-06-12 19:38] jacobmovingfwd commented on #1762
still an issue. https://sendgrid.com/docs/Classroom/Build/Add_Content/substitution_and_section_tags.html

It's just a pseudo-random selection of json & sub tags. no overall "resulting body" examples, no explanation of what the example is showing.

[2017-06-12 19:39] jacobmovingfwd commented on #1360
still an issue.

[2017-06-13 15:55] kbsali commented on #447
I would also like to remove old categories... (api or web-ui)!

[2017-06-14 15:34] ksigler7 commented on #1360
Hey @jacobmovingfwd, thanks for opening this back up! As you may know, right now, we're in the process of migrating our API doc to a new format. It looks like we have this issue fixed in the new format: https://sendgrid.api-docs.io/v3.0/settings-enforced-tls/update-enforced-tls-settings. I'm going to close this issue again because we're not really updating out old v3 doc anymore since we're on the

[2017-06-14 15:34] #1360 closed

[2017-06-14 15:37] ksigler7 commented on #1762
@jacobmovingfwd thanks for opening this back up! I've added it to our internal backlog.

[2017-06-18 17:45] SLaks opened #2729 "Plain text emails converted to HTML"
https://sendgrid.com/docs/Classroom/Build/Format_Content/plain_text_emails_converted_to_html.html

You have unescaped HTML tags in your docs.

[2017-06-20 16:54] thinkingserious commented on #2563
Hello @mrwingate,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-06-20 16:54] #2563 closed

[2017-06-20 20:58] jacobmovingfwd opened #2734 "Bounce Types not explained."
https://sendgrid.com/docs/API_Reference/Webhooks/event.html

Bounces event example shows: "Bounce/Blocked/Expired", but doesn't explain what those differences are. Every where else, these are 3 distinct events, so we need to explain the differences of the 3 Types here.

[2017-06-23 20:45] dwillislc opened #2739 "Universal tag and apple-app-site-association confusion"
In your docs on universal links you list an example of the "apple app site association" file with the path being:
[code]
https://sendgrid.com/docs/Classroom/Build/Add_Content/universal_links.html#-What-are-appleappsiteassociation-and-digital-asset-links-files

However, later down in the docs (Flagging Your Universal Links) you mention how you can remove the universal tag "universal=true" from link

[2017-06-26 00:20] Proxay opened #2740 "Category Comparison"
https://sendgrid.com/docs/User_Guide/Statistics/category_compare.html

Hi,

I'm looking to understand how accurate Category Comparison is vs other SendGrid reporting, including homebrew event logging and then counts.
The reason I ask, is Category Comparison reports really positive performance, but other areas of SendGrid and our own reporting provides far lower performance for our email sends.

Th

[2017-06-26 00:27] Proxay commented on #2740
Also - there are historical emails sent that the Category Comparison would be counting as they're tagged the same. The only reason this is unlikely to explain the spike is that the trend of opens has already dropped off a cliff for the old emails. It's not possible 15k Opens came from a historical send given how long ago they were.

Reference:
![screen shot 2017-06-26 at 10 26 24](https://user-ima

[2017-06-26 15:58] ksigler7 commented on #2734
@jacobmovingfwd thanks for the issue! I've added this to the internal docs backlog.

[2017-06-26 17:44] ksigler7 commented on #2739
@dwillislc thanks so much for the suggestion! I've added it to our internal docs backlog.

[2017-06-26 17:50] thinkingserious commented on #2740
Hello @Proxay,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a docs specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2017-06-26 17:50] #2740 closed

[2017-06-29 15:33] ksigler7 opened #2744 "Rename node.js classroom page, and update link"
https://sendgrid.com/docs/Integrate/Code_Examples/v2_Mail/nodejs.html
Rename this page to "v2 Node.js instead of Node.js"

Then, instead of "We recommend using SendGrid Node.js, our client library, available on Github, with full documentation."
"We recommend using [v3](link to equivalent v3 page) SendGrid Node.js, our client library, available on Github, with full documentation."

[2017-06-29 15:35] ksigler7 opened #2745 "update screenshot"
https://sendgrid.com/docs/Classroom/Track/Bounces/how_to_set_up_bounce_forwarding.html

this screenshot is not up to date

[2017-06-29 15:37] ksigler7 opened #2746 "Define 'Created at' and 'Updated At'"
On this page, we need to define what 'Created at' and 'Updated At' means
within segmentation.

https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/lists.html

[2017-06-29 15:45] ksigler7 opened #2747 "Add a link to the API reference in the subuser doc"
Link to the subuser API in the User Guide->
Settings -> Subuser section. Please use the latest API docs: https://sendgrid.api-docs.io/v3.0/

[2017-06-29 15:50] ksigler7 opened #2748 "Link individual reseller API pages to the Reseller Overview"
These are Reseller Only APIs. For more information, see <link to reseller overview page>.

[2017-06-29 15:51] ksigler7 opened #2749 "Update Clicks Glossary page"
Update with this information:

The “Clicks” percentage is the total number of times your users have clicked on the various links within your emails, divided by the total number of Delivered messages. The “Unique clicks” percentage is the number of unique individuals that have clicked the links in your emails, divided by the total number of Delivered messages. This requires that the Click Tracking

[2017-06-29 15:56] ksigler7 opened #2750 "Update segmentation documentation"
https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/lists.html#-Create-a-Segment

Rewrite with steps instead of a bunch of text. And also needs to be updated to make the functionality of segmentation more clear. What is the order of operations when handling segmentation on lists?

[2017-06-29 15:57] ksigler7 opened #2751 "Create Glossary Page for "Deferral""
A deferral occurs when an ISP is for some reason not ready to accept email from your IP address. Instead of blocking or bouncing the message, the ISP will defer receiving the message and wait for the email to be resent. An ISP may do this because it does not recognize the IP from which a message originates; or it could just be that their system is operating in such a way that they cannot accept th

[2017-07-03 20:13] emiel commented on #2667
Hello @ksigler7. Thanks for responding. Through observation and poking around we were able to decode the various forms of the sg_event_id. Though we understand the implementation the engineering trade-offs are a bit puzzling. :)

It was an interesting exercise and I've gone ahead and documented what we learned in a blog post.

https://emiel.github.io/decoding-the-sendgrid-event-id.html

Feel free

[2017-07-03 20:18] ksigler7 commented on #2667
@emiel wow, very cool. thanks for sharing this with me!

[2017-07-06 11:30] dwahlqvist commented on #447
+1
Our list of categories is full off old, no longer used categories. I'd like to do a full reset i.e. delete all categories. Then the ones actually used will be populated as those emails are sent moving forward.

[2017-07-06 22:51] jacobmovingfwd opened #2759 "Get IPs assigned to Subuser undocumented"
https://api.sendgrid.com/v3/ips?subuser=:subusername is a valid call, per Developer Tools & tested in my own console.

Documented, I can see *all* IPs, which will show which Subusers are assigned which IPs, but that's grouped by IP, not user: https://sendgrid.com/docs/API_Reference/Web_API_v3/IP_Management/ip_addresses.html#-GET

I can also `PUT` to Update the IPs assigned to a subuser: https://se

[2017-07-09 01:58] MaxPleaner commented on #1417
I've encountered this issue in a server-side environment. I'm figuring my HTTP Client (the Ruby gem "mechanize") is sending a preflight request for POST with the auth & json content-type headers, and that's why it's not working. I will see if I can configure the HTTP Client to not send the OPTIONS request.

[2017-07-10 15:36] ksigler7 commented on #2759
@jacobmovingfwd did you try the GET/ips/assigned using the `on-behalf-of-<subuser>` header? Here's more info about the header: https://sendgrid.api-docs.io/v3.0/how-to-use-the-sendgrid-v3-api/on-behalf-of

[2017-07-10 16:35] jacobmovingfwd commented on #2759
Oh, neat, that would do it, yeah.

[2017-07-10 17:00] #2759 closed

[2017-07-12 20:58] ksigler7 commented on #2747
@hmbrown64 closing this, since you fixed this, and it's now in production! https://sendgrid.com/docs/User_Guide/Settings/Subusers/index.html

Thanks again for the fix!

[2017-07-12 20:58] #2747 closed

[2017-07-12 20:59] #2609 closed

[2017-07-14 20:46] thinkingserious commented on #1823
Hello @zygimantas,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-07-14 20:46] thinkingserious commented on #1871
Hello @philwiebe,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-07-14 20:46] thinkingserious commented on #1846
Hello @gorums,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <br

[2017-07-14 20:46] thinkingserious commented on #1860
Hello @jimsander,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-07-14 20:46] thinkingserious commented on #1827
Hello @awwa,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <br /

[2017-07-14 20:46] thinkingserious commented on #1847
Hello @ivrh,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <br /

[2017-07-14 20:46] thinkingserious commented on #1927
Hello @jacobmovingfwd,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-07-14 20:47] thinkingserious commented on #1917
Hello @tmendt,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <br

[2017-07-14 20:47] thinkingserious commented on #1888
Hello @idimensionz,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-07-14 20:47] thinkingserious commented on #1847
Hello @ivrh,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <br /

[2017-07-14 20:47] thinkingserious commented on #1823
Hello @zygimantas,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-07-14 20:47] thinkingserious commented on #1917
Hello @tmendt,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <br

[2017-07-14 20:47] thinkingserious commented on #1927
Hello @jacobmovingfwd,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-07-14 20:47] thinkingserious commented on #1871
Hello @philwiebe,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-07-14 20:47] thinkingserious commented on #1860
Hello @jimsander,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-07-14 20:47] thinkingserious commented on #1846
Hello @gorums,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <br

[2017-07-14 20:48] thinkingserious commented on #1827
Hello @awwa,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <br /

[2017-07-14 20:48] thinkingserious commented on #1888
Hello @idimensionz,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-07-14 21:31] thinkingserious commented on #2682
Hello @lumineida,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2017-07-14 21:31] thinkingserious commented on #2682
Hello @lumineida,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2017-07-14 21:31] thinkingserious commented on #2682
Hello @lumineida,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2017-07-14 21:32] thinkingserious commented on #1871
Hello @philwiebe,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-07-14 21:32] thinkingserious commented on #1927
Hello @jacobmovingfwd,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-07-14 21:32] thinkingserious commented on #1888
Hello @idimensionz,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-07-14 21:32] thinkingserious commented on #1847
Hello @ivrh,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <br /

[2017-07-14 21:32] thinkingserious commented on #1860
Hello @jimsander,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-07-14 21:32] thinkingserious commented on #1917
Hello @tmendt,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <br

[2017-07-14 21:33] thinkingserious commented on #1823
Hello @zygimantas,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-07-14 21:33] thinkingserious commented on #1846
Hello @gorums,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <br

[2017-07-14 21:33] thinkingserious commented on #1827
Hello @awwa,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <br /

[2017-07-14 21:33] thinkingserious commented on #1823
Hello @zygimantas,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-07-14 21:34] thinkingserious commented on #1827
Hello @awwa,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <br /

[2017-07-14 21:34] thinkingserious commented on #1871
Hello @philwiebe,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-07-14 21:34] thinkingserious commented on #1860
Hello @jimsander,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-07-14 21:35] thinkingserious commented on #1847
Hello @ivrh,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <br /

[2017-07-14 21:35] thinkingserious commented on #1927
Hello @jacobmovingfwd,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-07-14 21:35] thinkingserious commented on #1846
Hello @gorums,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <br

[2017-07-14 21:35] thinkingserious commented on #1888
Hello @idimensionz,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.

[2017-07-14 21:35] thinkingserious commented on #1917
Hello @tmendt,<br /><br/>Thanks for your suggestion or question!<br />                                              <br />In an attempt to clear out our backlog,                                              we are closing out issues over 90 days old.                                             If this is still an issue, please feel free to reopen it.                                             <br

[2017-07-16 00:42] anik786 opened #2769 "Can't log in to your account?"
https://sendgrid.com/docs/Classroom/Troubleshooting/Account_Administration/cant_log_in_to_your_account.html

I can't login to my account. Every time I login, I can briefly see my dashboard. I then get logged out and redirected back into the login page. Note this is not a browser issue as I have tried it on both IE and Chrome. And it's clearly not a password issue as I can briefly (for a few second

[2017-07-17 13:11] bryan-kramer opened #2770 "Integrate with SendGrid"
https://sendgrid.com/docs/Integrate/index.html

1. Page suddenly introduces term SMTPAPI without defining it.
2. It is not clear that when using SMTP, all of the features of sendgrid are available (hooks, reporting, click tracking etc.)

[2017-07-17 13:13] bryan-kramer opened #2771 "End-to-end developer mode needed"
It should be able to switch Sendgrid for a particular API key to a developer mode where emails reach sendgrid but are not sent to their to addresses, rather just to the developer's address.

The developer would like to see how changes to emails look without risking accidentally sending email out to real, other users.

[2017-07-17 13:50] anik786 commented on #2769
I can login now, but can we have a feature to contact SendGrid without logging in

[2017-07-17 15:59] ksigler7 commented on #2769
Hi @anik786 - we were having a login issue with our site this past weekend. Here is more information about it: http://status.sendgrid.com/incidents/dv09q5zjqnnh.

If you would like to subscribe to future SendGrid outage status updates, you can at the top of that page.

Since this isn't a docs specific issue, I am going to close this here, but I have let the relevant people know that a feature to c

[2017-07-17 15:59] #2769 closed

[2017-07-17 15:59] thinkingserious commented on #2769
Hello @anik786,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2017-07-17 16:07] ksigler7 commented on #2770
@bryan-kramer thanks for the issue! Check out the SMTP API Overview page for more information about using it, and it's features: https://sendgrid.com/docs/API_Reference/SMTP_API/index.html

[2017-07-17 16:07] #2770 closed

[2017-07-17 16:12] ksigler7 commented on #2771
@bryan-kramer thanks for your feedback! While you're in development, I would suggest updating your `to` parameter with your own email, instead of your customers emails to prevent something from accidentally going out where it shouldn't. If you have any other questions or issues while you're developing, you can contact our support at https://support.sendgrid.com!

[2017-07-17 16:12] #2771 closed

[2017-07-17 16:12] thinkingserious commented on #2771
Hello @bryan-kramer,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2017-07-18 12:41] snoopspecial opened #2776 "Lists and Segmentation"
https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/lists.html

I've added contacts, but do not see the segment updating with the new contacts. How do I force an update manually? I've exported the segment and confirmed that it doesn't appear there.

[2017-07-18 16:19] thinkingserious commented on #2776
Hello @snoopspecial,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2017-07-18 16:19] #2776 closed

[2017-07-27 23:50] jacobmovingfwd opened #2797 "mail.send v3 APi documentation doesn't mention X-Message-ID"
The documentation at https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.html doesn't mention the `X-Message-ID` that's passed back in the returned headers at all. However, SendGrid recommends that users store this data to correlate to their Event Webhook data, and this data is very useful for Support troubleshooting.

[2017-08-02 21:01] thinkingserious commented on #2638
Hello @DarylMcCullough,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2017-08-09 16:14] ksigler7 opened #2828 "Update partner in threads glossary topic"
From @kelseyenglish in https://github.com/sendgrid/docs/pull/2826 - No longer using Threads for triggered messages- we are now partnered with Klaviyo. They are a solution for drip campaigns and triggered series of messages.

So the task is to update the glossary page with this information: https://sendgrid.com/docs/Glossary/triggered_actions.html

[2017-08-09 18:37] alexroussos opened #2829 "add link to next video to MC templates page"
The video on https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/templates.html  mentions that it will go into more detail "in the next video". There is no pointer to the next video on the page and it doesn't show up in the suggested video links at the end of the video. I had to go to SendGrid's Vimeo account then look through all the uploads to find Part 5. It should be linked somewhere.

[2017-08-09 18:48] ksigler7 commented on #2829
Task: link to video part 5 under the top video on the marketing campaigns template page.

Video part 5 link: https://vimeo.com/139274837

[2017-08-09 20:04] alexroussos opened #2831 "IP Addresses"
The docs adding an IP address to a pool state that `ip` is a URI parameter. It's actually POST data, eg the JSON below

[code]

https://sendgrid.com/docs/API_Reference/Web_API_v3/IP_Management/ip_addresses.html#----POST

[2017-08-10 15:01] maland opened #2833 "broken link in Apple Mail Docs"
https://sendgrid.com/docs/Integrate/Mail_Clients/applemail.html

Mail sometimes attaches images in a way that is incompatible with other email readers, but this is **correctable**.

http://micahgilman.com/play/disable-mac-mailapp-inline-image-attachments/ in not available

would be kind to get a replacement

[2017-08-13 03:36] astrohart opened #2839 "add a glossary page for the term "preheader""
https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/design_editor.html

Hi,

What is a 'email preheader'?  The docs mention it, and there is this field "Preheader" on the Design Editor, but I've searched both google and the docs, and I can't find out what this thing called a "Preheader" actually is, or what it's used for.

Mind clearifying?

![pic](https://user-images.githubusercontent.com/82

[2017-08-15 03:40] nad2000 opened #2840 "Go"
https://sendgrid.com/docs/Integrate/Code_Examples/v2_Mail/go.html

the code sample is out-dated. the go wrapper doesn't support API V2 any more...
I wish there were back-ward compatibility though.

[2017-08-15 14:52] jfajardo opened #2841 "BadRequest: CORS-Reason Python"
Hi, i have this error, and no send a message
202

Server: nginx
Date: Tue, 15 Aug 2017 14:50:10 GMT
Content-Type: text/plain; charset=utf-8
Content-Length: 0
Connection: close
X-Message-Id: 5VAXXXX-GHSZROQ
Access-Control-Allow-Origin: https://sendgrid.api-docs.io
Access-Control-Allow-Methods: POST
Access-Control-Allow-Headers: Authorization, Content-Type, On-behalf-of, x-sg-elas-acl
Access-Control

[2017-08-15 19:54] toddmoy opened #2843 ""Click here" is missing a link."
https://github.com/sendgrid/docs/blob/develop/source/Classroom/Troubleshooting/Account_Administration/teammates.md

4th paragraph, last sentence.

[2017-08-20 22:42] hmbrown64 opened #2846 "Capitalize Single in Contact API Docs"
https://sendgrid.com/docs/API_Reference/Web_API_v3/Marketing_Campaigns/contactdb.html

"Add a single Recipient to a List - POST"

[2017-08-24 15:51] matthieunelmes opened #2852 "add in substitution tag limit to SMTP doc page"
https://sendgrid.com/docs/API_Reference/SMTP_API/substitution_tags.html

Character limit is no specified anywhere in documentation. Might be worth mentioning "Substitutions are limited to 10000 bytes per personalization block."

[2017-08-28 06:58] TestTalent opened #2859 "SMTP Ports"
https://sendgrid.com/docs/Classroom/Basics/Email_Infrastructure/smtp_ports.html
Sendgrid send me a error: Connection to smtp.sendgrid.net:587 Timed Out, 404

[2017-08-29 07:11] kiranshashiny opened #2861 "add more troubleshooting info to the postfix file"
https://sendgrid.com/docs/Integrate/Mail_Servers/postfix.html

Please include the folder where the default maillog file is present, so that new users know what to look for in case of other errors.

In my case on a CentOS server, the error was that a lock file was blocking the postfix start. This was reported in the default maillog file.
Documenting this would help in this article.

[2017-08-30 13:22] marcinzaremba opened #2862 "sg_event_id not present for *subscribe* event types"
Event webhook documentation states:
[code]
Reality is `sg_event_id` is sometimes (I also encountered cases where it is available) not available for event types: unsubscribe, group_unsubscribe, group_resubscribe, so this property cannot be used for differentiation.
However it is implicitly described in Parameter details section, where `sg_event_id` is not listed among "all the possible parameters".

[2017-08-30 22:58] reagan83 commented on #1755
Seriously? That's a pretty unfortunate way to handle a backlog. As can be seen from my original thread from the low quality of your docs, and the follow-up you've done here, Sendgrid quality appears to be on the major decline.

[2017-08-31 17:49] mbernier commented on #1755
I have reopened this issue because it is valid.

[2017-09-04 07:54] TestTalent commented on #2859
Now the same mistake comes. After a while at the repeated reference there is a sending

[2017-09-04 07:58] TestTalent commented on #2859
![image](https://user-images.githubusercontent.com/16284873/30016954-ec7e676c-915f-11e7-990b-b6bfb93c584c.png)

[2017-09-05 01:47] AdrianB93 opened #2875 "Laravel Mail Example is Not Correct"
In Laravel, the `Mail::send()` and `Mail::queue()` methods are no longer available, your docs are out of date. Laravel 5.5 is the new LTS release meaning you don't need to document the old mail methods

See https://laravel.com/docs/5.5/mail#sending-mail

https://sendgrid.com/docs/Integrate/Frameworks/laravel.html

[2017-09-05 14:21] thinkingserious commented on #2859
Hello @TestTalent,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2017-09-05 14:21] #2859 closed

[2017-09-06 15:53] hmbrown64 commented on #2749
https://github.com/sendgrid/docs/pull/2889

[2017-09-06 19:13] #2749 closed

[2017-09-12 13:14] emiel opened #2894 "Add "on-behalf-of" header to Mail Send API docs"
The docs for the "Mail Send" API does not include the "on-behalf-of" header. As a result I was under the impression this was not supported. I went ahead and tried it anyway and it seems to work just fine. So I can send mail on behalf of a subuser using the parent account.

See: https://sendgrid.api-docs.io/v3.0/mail-send/v3-mail-send

[2017-09-14 09:06] emiel commented on #2894
Actually I believe my test case was flawed and it does appear sending mail on behalf of a subuser using the "on-behalf-of" header is not supported.

[2017-09-14 09:06] #2894 closed

[2017-09-16 16:18] hackzilla opened #2908 "My Account Has Been Suspended / Banned"
I can't figure out how to "contact support"

This link describes the problem, but the only thing I can think to do is feedback, here, or "contact support", which redirects me back to searching support.

https://sendgrid.com/docs/Classroom/Troubleshooting/Account_Administration/account_under_review_suspended.html

[2017-09-17 20:16] thinkingserious commented on #2908
Hello @hackzilla,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2017-09-17 20:16] #2908 closed

[2017-09-18 21:13] thinkingserious opened #2911 "Testing "Quote Escaping""
Please disregard. I'm testing the docs automator. My apologies for the disturbance.

[2017-09-18 21:24] #2911 closed

[2017-09-18 22:05] ksigler7 commented on #2911
@thinkingserious thanks so much for doing this!!

[2017-09-19 22:40] wetzler opened #2913 "Broken Table of Contents in Keen - SendGrid Integration Tutorial"
https://sendgrid.com/docs/Integrate/Tutorials/analytics_with_keen_io.html

it looks like a single paranthesis is missing.
a big launch is happening tomorrow so if anyone knows how to fix, plz help!

![screen shot 2017-09-19 at 3 36 34 pm](https://user-images.githubusercontent.com/1840448/30618747-9fbe0372-9d50-11e7-8e71-ff3da03d7a22.png)

[2017-09-19 23:06] ksigler7 commented on #2913
@wetzler thanks for the catch! I can push this fix to production before your big launch tomorrow

[2017-09-19 23:50] wetzler commented on #2913
omg thank you. I found another one (less urgent but still would be nice to have). will log separately.

[2017-09-19 23:51] wetzler opened #2917 "Outdated section of Keen/SG docs"
This section on https://sendgrid.com/docs/Integrate/Tutorials/analytics_with_keen_io.html can be removed as it doesn't apply anymore or is redundant with other sections:

[code]

[2017-09-20 01:38] ksigler7 commented on #2913
@wetzler you're welcome! We'll address the other one soon (or someone in our open source community!)

Closing this issue because the links are working correctly now!

[2017-09-20 01:38] #2913 closed

[2017-09-25 16:32] #2846 closed

[2017-09-25 16:38] thinkingserious commented on #2841
Hello @jfajardo,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2017-09-25 16:38] #2841 closed

[2017-09-27 16:36] alexroussos opened #2933 "Event Webhook duplicates"
The docs state that it's _possible_ to receive duplicate events. In reality, it is virtually guaranteed. I receive each event an average of 3 times, and some events I have received as many as *46 times* over a 29 hour period.

A reasonable dev would assume _possible_ means infrequently, and that you might receive an event twice, maybe three times. This has implications when designing an integratio

[2017-09-27 18:31] ksigler7 commented on #2933
Hello @alexroussos,

This is definitely a bug. Please go ahead and contact our support team to report the bug. They also may be able to help you troubleshoot your specific use case. You can access support contact options by logging into https://support.sendgrid.com.

SendGrid Docs Team

[2017-09-27 18:31] #2933 closed

[2017-09-27 18:33] #2829 closed

[2017-09-27 18:37] ksigler7 commented on #2831
Thanks for the suggestion! This is actually correct in our new Stoplight documentation: https://sendgrid.api-docs.io/v3.0/ip-pools/add-an-ip-address-to-a-pool

Even though this is definitely incorrect, I am going to close this issue because we are on the verge of sunsetting our old API docs.

[2017-09-27 18:37] #2831 closed

[2017-09-27 18:58] ksigler7 commented on #2833
The note should be updated to something like: Mail sometimes attaches images in a way that is incompatible with other email readers, but you can correct this by (updating it to send more traditional non-inline attachments)[https://www.lifewire.com/os-x-mail-conventional-attachments-1172730].

Definitely open to this linking out to a different page if a different page is better though. @maland  - d

[2017-09-27 19:10] ksigler7 commented on #2839
@astrohart - thanks for the suggestion! The email preheader is the snippit of text that shows up after the subject line of an email:
![image](https://user-images.githubusercontent.com/28788585/30932552-0ca1b6ca-a385-11e7-8a70-dc1727628660.png)

We should definitely have a glossary entry for this! So the task here is to add a new glossary page in the glossary with an explanation of the preheader, a

[2017-09-27 19:49] astrohart commented on #2839
Hi Kaylyn,

Thanks for the helpful definition.  And just a help for you -- I believe it is spelled "snippet," not "snippit."

Regards,

Brian Hart

[2017-09-27 19:54] ksigler7 commented on #2839
Hi Brian,

Haha, thanks for the typo catch! I updated my comment.

Kaylyn

[2017-09-27 20:03] ksigler7 commented on #2843
thanks @toddmoy!

The todo here is to update:

If you create a teammate in the UI, but find that it lacks sufficient permissions, then you will have to modify those permissions by making an API call. For more information on how to do this, click here.

to

If you create a teammate in the UI, but find that it lacks sufficient permissions, then you will have to modify those permissions by making an

[2017-09-27 20:09] ksigler7 commented on #2852
@matthieunelmes good catch!

The to do here is to add a note similar to this around line 25 of https://sendgrid.com/docs/API_Reference/SMTP_API/substitution_tags.html:

{% info %}
Substitutions are limited to 10000 bytes per personalization block.
{% endinfo %}

[2017-09-27 20:11] ksigler7 commented on #2861
@kiranshashiny thanks for pointing this out! Can you add anymore information about where the default maillog file is present?

[2017-09-27 20:15] ksigler7 commented on #2861
The to do here is update the postfix troubleshooting section with a note about where you can find the default maillog file and the type of information this provides.

[2017-09-27 20:19] ksigler7 commented on #2862
Hello @marcinzaremba,

Thanks so much for your feedback! There are definitely some clarifications that can be made in the doc here. However, to get help with your question, I'd recommend that you file a ticket with our support team so that someone can look at your specific data. You can access support contact options by logging into https://support.sendgrid.com.

SendGrid Docs Team

[2017-09-27 21:16] ksigler7 commented on #2917
thanks @wetzler!

[2017-09-27 21:20] ksigler7 commented on #2875
Thanks @AdrianB93!
To do here is to update the laravel framework page for the latest LTS release. Research and test integrations, or knowledge of an existing integration needed to make these updates.

[2017-09-27 22:12] ksigler7 commented on #2840
thanks for this catch! If you want, you can use older versions of the libraries with the v2 API - for more info on doing this with our Go library, see [Continue Using V2 in GO](https://github.com/sendgrid/sendgrid-go/blob/master/TROUBLESHOOTING.md#continue-using-v2)

It's a good suggestion to update these examples with this information though, so the to do here is to update all of the [V2 code exa

[2017-09-28 07:09] kiranshashiny commented on #2861
@ksigler7  - Thanks for taking this up.
 Appreciate it.

On a Centos - it would be in /var/log/maillog - as default.

[2017-09-28 15:08] ksigler7 commented on #2861
perfect, thanks @kiranshashiny!

[2017-09-28 19:16] hmbrown64 opened #2939 "Marketing Campaigns Contacts API: Search With Conditions"
This post call only allows for 15 conditions and the resulting error is {"errors":[{"message":"A segment can't have more than 15 conditions. Please remove 5 conditions to successfully create this segment."}]}

We need to add something noting this limitation around the call.

https://sendgrid.com/docs/API_Reference/Web_API_v3/Marketing_Campaigns/contactdb.html#-Search-with-conditions-POST

[2017-09-28 19:27] hmbrown64 commented on #2939
Pull request: #2940

[2017-09-29 03:56] Divya063 commented on #2917
@ksigler7 can I work on this?

[2017-09-29 14:59] ksigler7 commented on #2917
@Divya063 sure! Just create a pull request and link it to here when you're ready

[2017-10-01 08:01] Logan1x commented on #2797
I would like to work on this issue @jacobmovingfwd . How can i help?

[2017-10-01 10:37] angelinec commented on #2843
Hi @ksigler7 , I've created a pull request #2945

[2017-10-01 11:21] shovanch commented on #2852
@ksigler7 Can I work on this?

[2017-10-01 13:29] Logan1x commented on #2797
@jacobmovingfwd  you can assign me this issue 😊

[2017-10-01 14:01] Logan1x commented on #2917
@Divya063  are you working on this because no one assigned you?

[2017-10-01 14:03] Logan1x commented on #2840
@ksigler7  can i work on this?

[2017-10-01 14:06] Logan1x commented on #2797
CC : @ksigler7

[2017-10-01 14:16] shovanch commented on #2852
@ksigler7 I have created a pull request #2946

[2017-10-01 14:16] Logan1x commented on #2839
i would like to work on this @ksigler7  😊

[2017-10-01 14:28] Divya063 commented on #2917
@Logan1x I'm working on it

[2017-10-01 14:37] Divya063 commented on #2828
Can I take this up?

[2017-10-01 14:52] Logan1x commented on #2839
@ksigler7 please review it😊

[2017-10-02 11:04] jeyoung opened #2950 "Suppressions"
## Expected content

What is suppression? When should suppression be used?

## Actual content

Suppression versus unsubscribe

**Link to page**:

https://sendgrid.com/docs/User_Guide/Suppressions/index.html

[2017-10-02 15:37] #2917 closed

[2017-10-02 15:55] ksigler7 commented on #2950
Hi @jeyoung,

Thanks for the suggestion! An unsubscribe is a type of suppression. So, if someone unsubscribes from your email list, they are added to your suppression lists. This video will give you more information about it: https://sendgrid.com/docs/Classroom/Deliver/Delivery_Introduction/unsubscribes_explained.html
If you have any specific questions about setting up global unsubscribes, or othe

[2017-10-02 15:55] #2950 closed

[2017-10-02 16:08] ksigler7 commented on #2839
thanks so much @Logan1x!! Reviewed and merged!

[2017-10-02 16:08] #2839 closed

[2017-10-02 16:10] ksigler7 commented on #2852
thanks @shovanch!!! Reviewed and merged

[2017-10-02 16:10] #2852 closed

[2017-10-02 16:20] ksigler7 commented on #2745
thanks @ecodonohoe!!

[2017-10-02 16:20] #2745 closed

[2017-10-02 16:34] ksigler7 commented on #2744
thanks @PyroclasticMayhem!!

[2017-10-02 16:34] #2744 closed

[2017-10-02 16:36] ksigler7 commented on #2843
thanks so much @angelinec

[2017-10-02 16:36] #2843 closed

[2017-10-02 16:52] jacobmovingfwd commented on #2797
@Logan1x it's not assigned to me, and I don't think I have permissions for that (at least I have no idea how)

[2017-10-02 16:56] ksigler7 commented on #2797
@Logan1x sure, go for it!

[2017-10-02 17:58] ksigler7 commented on #1755
I think I am going to hijack this issue for completely redoing this page. So the to do here is to rewrite the [Using Transactional Templates With the SMTP API](https://sendgrid.com/docs/API_Reference/Web_API_v3/Transactional_Templates/smtpapi.html).

Acceptance criteria:
New title: Sending a Transactional Template Email over SMTP
Includes these sections:
    - Before you begin: this links out to o

[2017-10-02 21:23] vrom911 commented on #2833
@ksigler7  There is an archived version of this article at [archive.org](https://archive.org/).
Would you mind if I add the latest archived version of Micah Gilman's blog post to the docs and pr it?

[2017-10-03 14:56] matthieunelmes commented on #1755
@ksigler7  Where would be the best place to submit a feature request for HTML templating?

[2017-10-03 17:22] mbernier commented on #1755
@matthieunelmes send me an email [my github user] @ sendgrid dot com

[2017-10-03 20:38] kylearoberts commented on #1762
I have requested a pull where I made the necessary changes here https://github.com/sendgrid/docs/pull/2959

[2017-10-04 08:06] Logan1x commented on #2797
@ksigler7  can you tell me where to find `X-Message-ID` ?

[2017-10-04 13:17] matthieunelmes commented on #1417
Almost a year later, still hitting this problem...

[2017-10-04 14:20] mbernier commented on #1417
The reason there is a CORS header is not as straightforward as it would seem on the surface. APIs should be callable from everywhere, right!?

This is the result of SendGrid being a compliant and contributing member anti-spam and anti-malware compliance group, [M3AAWG](https://www.m3aawg.org/).

"How the heck does this apply to my problem!?", you might be saying ... please stay with me.

Every tim

[2017-10-04 15:16] jrsteele23 commented on #1417
@mbernier Thanks for the info and update.

I totally understand the concern if an enduser making use of a shared IP plan. I'm guessing most folks wanting this CORS functionality aren't interested in paying much for it. But perhaps SendGrid and your InfoSec and Compliance teams might be amendable to allowing/implementing a plan or add on that would allow for this functionality. I would suggest that

[2017-10-04 15:28] matthieunelmes commented on #1417
Yeah, I kinda get the Compliance thing. Particularly with everyone getting nervous about GDPR.

In the 2 hours since I posted, I've gone and written a NodeJS app to handle sending emails, so it's no massive hardship. I just found it entertaining that I found this thread again!

[2017-10-04 16:22] mbernier commented on #1417
@matthieunelmes I am not sure if this is something you would be willing to share, but we would love to see something like that in the library... If people can do something similar very easily, it would be really awesome.

[2017-10-04 16:37] matthieunelmes commented on #1417
@mbernier
The NodeJs library already exists here:
https://github.com/sendgrid/sendgrid-nodejs

I guess I could take a look at writing an example/tutorial. Although for my particular setup I'm integrating with firebase to pull in different user data to use in template substitutions, So I'm also handling that in the backend which might be a bit overkill for some people.

[2017-10-04 18:42] mbernier commented on #1417
@matthieunelmes If you were willing to write up the basics of how you set up the Mail/send request part in Node, as an issue [in the nodejs repo](https://github.com/sendgrid/sendgrid-nodejs), I would be grateful. Then, if someone wants to add it in or reproduce it on their own, it would be much easier!

[2017-10-05 01:53] zeflex514 opened #2963 "What do I do if I'm blacklisted?"
https://sendgrid.com/docs/Classroom/Deliver/Undeliverable_Email/what_do_i_do_if_im_blacklisted.html

Can you provide the link to submit blacklisted IPs please...

[2017-10-05 16:04] Whatthefoxsays opened #2965 "Change all instances of "Delivery Metrics" to "Statistics""
## To Do:

SendGrid is no longer using the term "Delivery Metrics" and is using "Statistics" instead. Use the following search to replace all instances of 'delivery metrics' in the docs:

https://github.com/sendgrid/docs/search?utf8=%E2%9C%93&q=delivery+metrics&type=

[2017-10-05 16:27] prnvdixit commented on #2965
I would like to take this issue :smile: . Please, assign me the same. Thanks.

[2017-10-05 16:30] ksigler7 commented on #2963
Hello @zeflex514 ,

Thanks so much for your feedback! If you are on a blacklisted IP, please contact our support team. You can access support contact options by logging into https://support.sendgrid.com.

SendGrid Docs Team

[2017-10-05 16:30] #2963 closed

[2017-10-05 16:40] ksigler7 commented on #2965
sure @prnvdixit, go for it! thanks so much!!

[2017-10-05 16:48] prnvdixit commented on #2965
@ksigler7 Thanks for assigning the issue :+1:
A question - Is there any documentation/reference to guide me towards ```Who can ``` and ```How can``` one ```join the organization``` and ```self-assign the issues``` - I looked around but couldn't find one. Thanks. :smile:

[2017-10-05 17:31] Whatthefoxsays opened #2969 "Write a Glossary entry for "Sends" as it relates to Statistics"
## To Do:

Write a Glossary entry for "Sends" as it relates to Delivery Metrics.

For examples of our glossary pages, see:
https://sendgrid.com/docs/Glossary/index.html

[2017-10-05 17:48] Whatthefoxsays opened #2970 "Create Mailbox Provider glossary page."
## Expected content:

Define and link to Email Service Provider page:

https://sendgrid.com/docs/Glossary/email_service_provider.html

[2017-10-05 17:56] ashleyrose1414 opened #2971 "Senders Limit Marketing Campaigns"
Add {% info %} You may create up to 100 unique sender.{% endinfo %} to Senders Documentation (https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/senders.html)

[2017-10-05 18:00] ashleyrose1414 commented on #2971
Completed in Pull Request #2972

[2017-10-05 19:03] ksigler7 commented on #2828
hi @Divya063 - thanks for volunteering for this one! it actually looks like this issue has already been fixed though and is a duplicate

[2017-10-05 19:03] #2828 closed

[2017-10-05 20:08] #2840 closed

[2017-10-05 20:17] Whatthefoxsays opened #2974 "Add header to SMTPAPI Categories page"
## To do:

On the following page:
https://sendgrid.com/docs/API_Reference/SMTP_API/categories.html

Just before the text:
"You can assign up to 10 categories per message:"

Add:
{% anchor h2%}
Limitations
{% endanchor %}

The end.

[2017-10-05 20:26] Whatthefoxsays opened #2975 "Find/remove all double spaces after periods."
## To do:

Search docs for ".  " and replace with ". "

[2017-10-05 20:36] irmattg commented on #2975
@Whatthefoxsays hey - ". " and replace with ". " seem the same. Lmk if I'm missing something here?

[2017-10-05 20:37] Whatthefoxsays commented on #2975
One has two spaces after the period, the other has one. Thanks for checking!

[2017-10-05 20:38] irmattg commented on #2974
@Whatthefoxsays I'll take this issue!

[2017-10-05 21:05] ujjwalagrawal17 commented on #2975
Should we do it in readme or any other doc ?

[2017-10-05 21:11] #2971 closed

[2017-10-05 21:27] Whatthefoxsays opened #2978 "Create a "Getting Started with Parse" page."
## To do:

Create a getting started guide for customers looking to use parse. Include step-by-step instructions and screenshots as necessary (maybe they won't be necessary, but you never know).

Put the page here:
Partners> Tutorials> Parse

[2017-10-05 21:32] Whatthefoxsays opened #2979 "Create a partners landing page for Jelastic"
## To do:

Create a partner landing page for Jelastic. Add a brief overview of the service and include any information customers might find useful.

Include links to the following pages:

http://docs.jelastic.com/sendgrid-php
http://docs.jelastic.com/sendgrid-java

Don't forget to add a cross-reference link to the Partners Index:

https://sendgrid.com/docs/Integrate/Partners/index.html

[2017-10-05 21:37] Whatthefoxsays opened #2980 "Create Marketing Campaigns Glossary Pages"
## To do:

Write brief Glossary entry for each of the following topics on a separate glossary page and link to these topics from the Terminology section of the [Marketing Campaigns Overview Page](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/index.html):

- Campaigns
- Segments
- Lists
- Custom Fields
- Reserved Fields
- System Fields
- Senders

[2017-10-05 21:40] ksigler7 opened #2981 "Combine several existing pages into a new account management page"
Currently, we have many different pages about signing up/deleting / and changing your account plan, and resetting username and password:
- https://sendgrid.com/docs/Classroom/Basics/Account/how_do_i_add_more_emails_to_my_account.html
- https://sendgrid.com/docs/Classroom/Basics/Account/account_sign_up_faq.html
- https://sendgrid.com/docs/Classroom/Basics/Account/how_can_i_cancel_my_account.html
-

[2017-10-05 21:45] Whatthefoxsays opened #2982 "Add a note re: timezone in Sending an Email"
## To do:

Add a note to the [Sending an Email](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/getting_started.html) page informing the customer that they need to make sure their account is set to the correct timezone to ensure that their emails are indeed sending when they want them to. Add simple instructions for navigating to their timezone in their account settings.

[2017-10-05 21:54] ksigler7 opened #2983 "combine several existing pages into a new dedicated IP page"
Currently, we have many different pages about signing up/deleting / and changing your account plan, and resetting username and password:

- https://sendgrid.com/docs/Classroom/Deliver/Delivery_Introduction/IP_reputation_montoring.html
- https://sendgrid.com/docs/Classroom/Basics/Account/what_is_my_sending_originating_ip_address_with_sendgrid.html
- https://sendgrid.com/docs/Classroom/Basics/Accoun

[2017-10-05 21:55] Whatthefoxsays opened #2984 "API key limit"
## Add the following note to all applicable pages:

(% info %) There is a limit of 100 API Keys per account. (% endinfo %)

[2017-10-05 22:03] Whatthefoxsays opened #2985 "How to change out your API Key"
## To do:

Write a how-to section with the following content:

How to change your own code to have new API keys, so that you don't lose the ability to send.

1. Generate new keys - don't invalidate the old ones
2. replace old keys with new keys
3. Test
4. Invalidate your old keys

Keep it short, concise, and put it on this page:

https://sendgrid.com/docs/User_Guide/Settings/api_keys.html#-API-Key

[2017-10-05 23:08] #2751 closed

[2017-10-05 23:13] krista-southworth commented on #2748
I can take this

[2017-10-05 23:14] hmbrown64 commented on #2984
Added to https://sendgrid.com/docs/Classroom/Send/How_Emails_Are_Sent/api_keys.html

Request #2987

[2017-10-05 23:19] hmbrown64 commented on #2984
Added to https://sendgrid.com/docs/User_Guide/Settings/api_keys.html

Request #2988

[2017-10-05 23:25] hmbrown64 commented on #2984
Added to https://sendgrid.com/docs/API_Reference/Web_API_v3/API_Keys/index.html

Request #2990

[2017-10-05 23:33] hmbrown64 commented on #2984
Added to https://sendgrid.com/docs/Classroom/Basics/API/api_key_permissions.html

Request #2992

[2017-10-05 23:38] kylearoberts commented on #2797
@Logan1x

Sorry for the delay in getting back to you. The X-Message-ID is a header in the response to a mail send request. Please let us know if you need further details.

[2017-10-05 23:54] hmbrown64 commented on #2982
Completed in #3010

[2017-10-06 00:11] #2970 closed

[2017-10-06 00:35] irmattg commented on #2974
@Whatthefoxsays nevermind, having issues installing ruby onto my system. apologies.

[2017-10-06 00:38] debri174 commented on #2981
I'm gonna take a stab!

[2017-10-06 00:51] hmbrown64 commented on #2746
Got this one!

[2017-10-06 00:51] davedom11 commented on #2965
I'm gonna take a stab at this!

[2017-10-06 01:10] hmbrown64 commented on #2746
Completed #3017

[2017-10-06 01:14] debri174 commented on #2984
Taking a stab!

[2017-10-06 01:24] hmbrown64 commented on #2981
Got this one!

[2017-10-06 01:50] ksigler7 commented on #702
Reopening this to hijack it for creating a glossary entry for "Expired"

[2017-10-06 06:39] egin10 commented on #2975
may i try to help you ?

[2017-10-06 06:56] BestDanelleEver commented on #2975
Can i try this?

[2017-10-06 14:22] triphius commented on #2983
I'd like to take a stab at this one.

[2017-10-06 14:58] ksigler7 commented on #2983
@triphius, sure, go for it, and thanks!

[2017-10-06 15:02] ksigler7 commented on #2985
@riktimmondal - you can create an API key here https://app.sendgrid.com/settings/api_keys

[2017-10-06 16:11] ksigler7 commented on #1762
thanks Kyle!!

[2017-10-06 16:11] #1762 closed

[2017-10-06 17:09] krista-southworth commented on #2748
I did this at Hacktoberfest, but do not see my PRs anymore...

[2017-10-06 17:13] ksigler7 commented on #2748
hey @krista-southworth, I know, it's because we're merging them in right now! thanks again for doing this :)

[2017-10-06 17:13] #2748 closed

[2017-10-06 17:15] ksigler7 commented on #2975
thanks @BestDanelleEver and @egin10, but it looks like we already have a pull request in for this issue: https://github.com/sendgrid/docs/pull/2977

[2017-10-06 17:15] #2975 closed

[2017-10-06 17:36] alfredlucero commented on #2980
I'd like to take this one :D

[2017-10-06 18:02] ksigler7 commented on #2982
@hmbrown64 and @madhurgupta10 - I'm so sorry, but it looks like multiple people submitted pull requests for this issue last night! I really appreciate your efforts on this, but I am accepting the first one (https://github.com/sendgrid/docs/pull/2986) - please do check back for more open issues though! We are adding new ones often.

[2017-10-06 18:02] #2982 closed

[2017-10-06 18:35] #2984 closed

[2017-10-06 18:46] #2833 closed

[2017-10-06 18:49] #2965 closed

[2017-10-06 18:53] #2729 closed

[2017-10-06 19:16] vkolova commented on #2709
Got this one!

[2017-10-06 19:24] ksigler7 commented on #2980
@alfredlucero go for it! thank you!

[2017-10-06 19:24] ksigler7 commented on #2981
you da best @hmbrown64  :)

[2017-10-06 19:30] ksigler7 commented on #2974
@irmattg you are not the first person to report this, and we think we've figured out the issue, so we are in the process of updating our readme, however, for this one, you don't really need to download our docs locally.

To edit this page using the github editor, [click on the link to the docs page you want to edit](https://sendgrid.com/docs/API_Reference/SMTP_API/categories.html)
Then click the V

[2017-10-06 19:30] #2939 closed

[2017-10-06 19:35] ksigler7 commented on #2746
you rock

[2017-10-06 19:35] #2746 closed

[2017-10-06 19:37] ksigler7 commented on #2709
thanks @vkolova!

[2017-10-06 19:45] ksigler7 commented on #2974
this was closed by @ciceropablo in #3030 thanks!

[2017-10-06 19:45] #2974 closed

[2017-10-06 20:40] madhurgupta10 commented on #2982
@Whatthefoxsays - I would love to contribute to other projects.

[2017-10-06 21:43] alfredlucero commented on #2969
I'd like to try this one out :D.

[2017-10-07 14:03] NexWeb commented on #2985
Dear @Whatthefoxsays,

Are you referring to modifying your own code, using any particular language or SDK?
The reason I ask is because that would vary depending on the SDK used and the text at: https://sendgrid.com/docs/User_Guide/Settings/api_keys.html#-API-Key-Permissions seems pretty clear about methods of creating, editing and deactivating keys.

[2017-10-07 17:54] ksigler7 commented on #2982
@madhurgupta10 awesome! check back here often for issues, because we'll continue to add in new ones often. We also have 7 libraries that you could contribute to as well! https://github.com/sendgrid

[2017-10-07 17:55] ksigler7 commented on #2969
awesome! I saw your pull request, so thank you so much @alfredlucero! We will review your pull request in the next couple of days!

[2017-10-07 18:07] ksigler7 commented on #2985
Hey @NexWeb,
That's a really good point. I think what we're looking for here is actual steps. Right now, that page does include a lot of that information, but it should be reformatted into the steps for creating, editing, replacing, testing and deactivating API keys, rather than the wall of text it is currently. DOes that make more sense?

[2017-10-07 18:15] NexWeb commented on #2985
Thank you @ksigler7, for clearing that up.

[2017-10-07 23:54] Braunson commented on #2875
@thinkingserious @ksigler7 I'll update the docs for this 👍

[2017-10-09 18:32] alfredlucero commented on #2980
Made a PR for it for you all to see :) 👍

[2017-10-09 20:33] ksigler7 commented on #2980
@alfredlucero, you did a really awesome job on this! thanks so much for your help!!

[2017-10-09 20:33] #2980 closed

[2017-10-09 20:37] alfredlucero commented on #2980
no problem glad to help :D.

[2017-10-09 22:25] #2969 closed

[2017-10-09 22:50] Jehoel commented on #2709
I looked at the merged PR and the screenshot was not updated - the current Azure Portal looks very different.

I note that the "Reset password" option is now back in Azure, however clicking it redirects me to SendGrid's page asking me for a username - the Azure portal does not tell me what my username is.

Please reopen this issue.

[2017-10-09 23:01] #2985 closed

[2017-10-09 23:39] #2875 closed

[2017-10-09 23:41] ksigler7 commented on #2734
the to do here is to link Bounce/Blocked/Expired in this page to their glossary pages

[2017-10-09 23:51] ksigler7 opened #3039 "Update screen shots in Azure documentation"
from @jehoel in #2709

The current Azure Portal looks very different from the screen shots in the existing documentation. Here is the current portal:

![image](https://user-images.githubusercontent.com/1693078/31361763-cf14cb38-ad09-11e7-951b-ee128031be05.png)

I note that the "Reset password" option is now back in Azure, however clicking it redirects me to SendGrid's page asking me for a username

[2017-10-09 23:52] ksigler7 commented on #2709
thanks @Jehoel - for clarity, I've gone ahead and opened a new issue #3039

[2017-10-09 23:58] #3039 closed

[2017-10-10 00:09] ksigler7 commented on #2709
thanks for checking out the pull request @Jehoel

@vkolova - do you mind updating with this latest information?

[2017-10-10 00:49] ksigler7 commented on #2709
@Jehoel - your updated screenshot of how Azure takes you through to our general password reset page made me realize that all of these integration reset pages are out of date. This password reset process is something we implemented recently across the board to make our password reset process much more secure, and much less easy to hack. We just missed updating it with the integrations. Given this r

[2017-10-10 00:49] #2709 closed

[2017-10-10 01:00] ksigler7 commented on #2981
After discussion on #2709, I have an additional to do to add onto this item - since we updated password resets to happen through SendGrid instead of letting integrations handle it, these integrations pages also need to redirect to this new page with a note at the bottom of the password reset section, something like:
{% info %}
You can also reset your password here if you're using SendGrid through

[2017-10-10 18:32] vigzmv commented on #2979
I would like to try this.

[2017-10-10 18:42] duncanleung commented on #2734
@ksigler7 can I take this up?

My understanding is to resolve this issue:

Link **Bounce/Blocked/Expired** terms on [Event Webhook Page](https://sendgrid.com/docs/API_Reference/Webhooks/event.html#-Bounce) to their glossary pages

[Blocks](https://sendgrid.com/docs/Glossary/blocks.html)
[Bounces](https://sendgrid.com/docs/Glossary/bounces.html)
Expired does not yet exist on Glossary ([related to I

[2017-10-10 18:45] ksigler7 commented on #2734
@duncanleung sure! and yep, that's correct. We can add in for whoever does #702 to link to it from this page too. Thanks for taking this one on!

[2017-10-10 19:08] mbernier opened #3044 "testing issue"
Testing github functionality. Please do not edit.

[2017-10-10 19:10] #3044 closed

[2017-10-10 21:26] mbernier opened #3050 "Deduping redirects"
From time to time, we add redirects  to the _redirects.htaccess file

One thing that would be really cool is if this plugin could scan this file for redirects that chain. In other words A redirects to B and B redirects to C. This should throw an error, causing Jekyll to fail the build - with the redirects that caused the failure.

The plugin is in our repo here: https://github.com/sendgrid/docs/bl

[2017-10-10 21:31] mbernier opened #3051 "Navigation improvements"
## Currently

- The navigation builder that we have for our jekyll build sorts the individual files in a directory above the nested directories. You can see this in the menu [on the left here](https://sendgrid.com/docs/Integrate/index.html) -
 where "libraries" is above Tutorials.
- In each file's frontmatter, there is a way to add "weight" to the file, which will determine the sort.
- We have a f

[2017-10-10 21:33] mbernier opened #3052 "Image checker"
It would be amazing if there was a way to check the images directory for our Jekyll build against all the linked images in our markdown files to see which images we are not currently using.

If this could run at build time and throw an error and list out all the images not being used (in alpha order) it would make things pretty awesome.

This would be a pretty awesome plugin that could be donated

[2017-10-10 21:44] mbernier opened #3053 "Add spellchecker to build time"
Everyone makes mistakes! I can't spell or type well.

Adding [this utility](https://rubygems.org/gems/spellchecker/versions/0.1.5
) as a check at the beginning of the build (check everything past the frontmatter) would be amazing.

It should fail the build if a spelling error is found.

Questions to answer:

- Can we add ignore words?
- Will it fail on acronyms?
- Can we add words we would like to

[2017-10-11 18:31] duncanleung opened #3058 "Update broken links on the bounces glossary page"
## Expected content
Helpful Knowledge Base articles should link to correct article.

## Actual content
The links currently point to Zendesk, which redirects to the SendGrid docs search page. I have to copy-paste the original article title, and search for it manually.

[code]

**Link to page**:
https://sendgrid.com/docs/Glossary/bounces.html

[2017-10-11 18:41] duncanleung commented on #702
Hi @ksigler7, I can take this too.

**To clarify the steps to resolve this issue:**
- Create a new Glossary Entry for "Expired"
- Link Bounce Event "Expired", to this new Glossary Entry (related to issue #2734)

**Terminology Clarification:**
I wanted to clarify, what is the definition of 'Bounce - Expired'? I don't see any information on the SendGrid docs site after searching around.

I find two

[2017-10-11 20:43] ksigler7 commented on #3058
letting us know about this @duncanleung!

The todo here is to update the links on the bounces glossary page to the latest links. You can add a relative link within our docs like this example: [link text]({{root_url}}/User_Guide/Marketing_Campaigns/design_editor.html#-Using-Custom-HTML)

[2017-10-12 04:48] badanomaly commented on #3058
Raised PR #3066

[2017-10-12 10:21] ansh-ptel commented on #2797
@Logan1x Are you still working on this or not?if not then can I work on this?

[2017-10-12 10:24] Logan1x commented on #2797
@ansh-ptel As of now i am not working on this.so if you want to work on this then go ahead 😊👍

[2017-10-12 10:26] ansh-ptel commented on #2797
@kylearoberts I need to know where to put x-message id in the docs and what's the value of X-message it?

[2017-10-12 10:37] ansh-ptel commented on #2797
@kylearoberts is [this](https://sendgrid.com/docs/Glossary/message_id.html)
 the x-message-id?

[2017-10-12 18:27] #2734 closed

[2017-10-12 18:31] #3058 closed

[2017-10-13 08:22] Logan1x commented on #2797
@ksigler7 @jacobmovingfwd please help him.

[2017-10-13 14:06] ksigler7 commented on #2797
@Logan1x thanks so much for the call out!

I think the todo here is to add in an example response at the bottom of this page that includes the `X-Message-ID` with a note after that says something like this -
{% info %}
If you are using the [Event Webhook](https://sendgrid.com/docs/API_Reference/Webhooks/event.html), it's best practice to store your `X-Message-ID` data help with deduplications in y

[2017-10-13 14:23] duncanleung commented on #702
@mbernier @ksigler7

Just pinging to see if you could provide some comments on my previous question?

I wanted to clarify how SendGrid categorizes **'Bounce - Expired'**.

Two possible definitions that I found online, relating to message sending, are:

1. The message bounced due to an expired, inactive, or disabled recipient address, **5.X.X** error.
2. The message bounced due to not being deliver

[2017-10-13 14:30] kylearoberts commented on #2797
@ansh-ptel Sorry for the delay. The X-Message-ID is a header returned when making a mail send. Here is a v3 mail send [response example](https://www.screencast.com/t/PKiJiBmG).

As for the Message-ID information you linked to you can actually find the X-Message-ID in the [Message ID](https://www.screencast.com/t/hl7wJBd5V76J) of events like delivered events that our Event Webhook posts.

So the X-

[2017-10-13 16:03] jacobmovingfwd commented on #2797
It's also returned in SMTPAPI calls, in the response body. I believe it's returned in the v3 APi call as well? In SMTP & v2, it's not called `X-Message-ID`, but the ID itself is passed.

[2017-10-13 16:06] ansh-ptel commented on #2797
@ksigler7 @kylearoberts @jacobmovingfwd thanks for your responses. and i will complete this thing as soon as possible.

[2017-10-13 16:24] kylearoberts commented on #702
Hello @duncanleung
Sorry for our delay. Bounce - Expired in general means we were unable to deliver the email in the last 72 hours. Now there are some 5.X.X and 4.X.X that can result in an instance where we try for up to 72 hours to deliver email. So I would say that both your examples are correct.  Additional examples I have seen include:
- Domain frequency limited.
- Connection frequency limited

[2017-10-13 20:26] davelee opened #3074 "Add an Intro/stub for Labs team with contact info and links to external labs docs"
## Expected content

@ksigler7 and I discussed the possibility of adding a short description of Labs team, The Lab (labs.sendgrid.com), and links to experiment specific docs that are hosted externally. This could help limit noise to support for Labs experiments and help get customers communicating with our team instead of going to sendgrid support.

## Actual content

Feel free to modify this tick

[2017-10-14 18:50] duncanleung opened #3079 "Incorrect SEO Keywords for 'Bounces' (Glossary)"
## Expected content
"keywords" should relate to bounces.

## Actual content
[code]

**Link to page**:
https://github.com/sendgrid/docs/blob/develop/source/Glossary/bounces.md

[2017-10-15 03:24] tariq1890 opened #3081 "Few missing permission scopes in the admin permissions block"
This is with reference to the following link

https://sendgrid.com/docs/Classroom/Basics/API/api_key_permissions.html#-Admin-Level-API-Key-Scopes

The following permissions need to be added IMO

teammates - create,read,update and delete
user.timezone - update

[2017-10-15 03:36] riktimmondal commented on #3074
I would to work on it.Can you give a brief description on how to get started with it

[2017-10-15 16:08] ksigler7 commented on #3074
@riktimmondal - Thanks so much for the offer! However, this is something that Dave is already working on. Please do check back for other issues though, because we are constantly adding new ones!

[2017-10-16 16:55] thepriefy opened #3084 "Fixing some typos."
As much as I found. :)

[2017-10-16 22:05] #3079 closed

[2017-10-16 22:06] ksigler7 commented on #3081
@tariq1890 - thanks so much for this issue!

[2017-10-16 22:06] #3081 closed

[2017-10-16 22:07] ksigler7 commented on #3079
thanks so much for the catch @duncanleung!

[2017-10-16 22:47] ksigler7 commented on #702
This turned out really well @duncanleung, thanks so much for writing this up!

And thanks again for answering the question @kylearoberts :)

[2017-10-16 22:49] ksigler7 commented on #2979
@vigzmv thanks so much! let us know if you have any questions

[2017-10-16 22:52] duncanleung commented on #702
@ksigler7 awesome! Glad to hear!

Thanks to @kylearoberts for the support!

[2017-10-16 22:54] #702 closed

[2017-10-16 23:06] #3084 closed

[2017-10-16 23:06] ksigler7 commented on #3084
good catches @thepriefy

[2017-10-17 00:14] thepriefy commented on #3084
thanks. > < @ksigler7

[2017-10-17 00:39] seasonguy commented on #2750
Hi! I would like to work on this issue!

[2017-10-17 00:46] seasonguy commented on #2750
Hello! I would like to work on this issue!

[2017-10-17 15:18] ksigler7 commented on #2750
thanks @seasonguy! We're looking at your pull request now!

[2017-10-17 16:15] Whatthefoxsays opened #3088 "Add a table of contents at the top of each User Guide Page"
## To do:

Add a table of contents of each of the H2 and H3 headers to the top of each user guide page. For an example, please see the [Design Editor](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/design_editor.html) page. Pay special attention to our SendGrid-flavored liquid tag formatting please!

## Actual content

**Link to page**:

[2017-10-17 16:22] #3050 closed

[2017-10-17 16:25] ksigler7 opened #3089 "Add a "Additional Resources" section to each User Guide page"
The to do here is to add an "Additional Resources" section to each User Guide page that doesn't already have one. "Additional Resources" is an h2 section that contains three to five bullet points with links out to other closely related pages. These pages could be SendGrid blogs or docs pages with information about next steps, use cases, or other things a user should consider when they are completi

[2017-10-17 16:36] Whatthefoxsays opened #3090 "Delete Settings Overview page and redirect"
## To Do:

Delete the [Settings Overview](https://sendgrid.com/docs/User_Guide/Settings/index.html) page and redirect to the [Account Details ](https://sendgrid.com/docs/User_Guide/Settings/account.html) page.

## Actual content

**Link to page**:

[2017-10-17 16:48] ksigler7 opened #3091 "Rewriting/consolidating 2FA pages"
Currently, we have two pages about setting up 2FA:
- https://sendgrid.com/docs/User_Guide/Settings/two_factor_authentication.html
- https://sendgrid.com/docs/Classroom/Basics/Security/two_factor_authentication_faq.html

There are two to dos here:
1. Rewrite the `User Guide>Settings>Two-Factor Authentication page` to be jobs to be done style, meaning that it should have a table of contents at the b

[2017-10-17 17:04] Aonepathan commented on #3090
I would like to try and take a stab at this issue, could you assign me this issue?

[2017-10-17 17:12] Aonepathan commented on #3089
I would like to try out this issue! Could I be assigned to this issue?

[2017-10-17 17:28] Whatthefoxsays opened #3092 "Update Transactional Templates page into a "jobs to be done" format"
## To do:

Rewrite the [Create and Edit Transactional Templates](https://sendgrid.com/docs/User_Guide/Transactional_Templates/create_edit.html) page in a "jobs to be done" format. This means numbered steps, clear directions and correct UI workflow. Feel free to replace/remove/move screenshots, and remove any unnecessary words.

Bonus:
Change the title to be sentence case and put in gerundive form.

[2017-10-17 17:33] ksigler7 opened #3093 "Update the A/B testing page to have steps"
https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/a_b_testing.html

Currently, this page is just a block of text. It should be broken down into our jobs-to-be-done format titled A/B testing your campaign - each of the current sections could probably be steps, with information included from this FAQ: https://sendgrid.com/docs/Classroom/Build/Choose_Content/a_b_testing.html

There should be a

[2017-10-17 18:16] ksigler7 commented on #3089
@Aonepathan go for it! Thanks so much!

[2017-10-17 21:28] Whatthefoxsays opened #3098 "Add Creating Categories section to Design Editor page"
## To Do:

Add a short section on "Adding Categories" to a Marketing Campaign on the [Design Editor](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/design_editor.html) page. Explain how and why you would want to categorize a campaign.

Don't forget to add a link to the header in the table of contents at the beginning of the page!

## Actual content

**Link to page**:

[2017-10-17 21:30] Whatthefoxsays opened #3099 "Add Categories section to the Code Editor page"
## To do:

Add a short "Adding Categories" section to the [Code Editor](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/code_editor.html) page explaining how and why you add categories to a Marketing Campaign.

Don't forget to add a link to the header in the table of contents at the beginning of the page!

## Actual content

**Link to page**:

[2017-10-17 21:44] Whatthefoxsays opened #3100 "Add "Settings" panel info to Code Editor Page"
## To do:

Add descriptions and appropriate steps for functionality found on the **Settings** tab within the [code editor](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/code_editor.html). Feel free to copy any applicable information and/or steps from the [Design Editor ](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/design_editor.html) page.

Don't forget to update the table

[2017-10-18 14:31] ansh-ptel commented on #2797
@jacobmovingfwd @kylearoberts @ksigler7 I found the x-message id.

- X-Message-Id : XBg2anf2TqCy6WXKQFhieQ

[2017-10-18 14:33] mamat-rahmat commented on #3053
Nice article related on this
https://blog.codeship.com/improve-documentation-by-automating-spelling-and-grammar-checks/

[2017-10-18 15:22] mamat-rahmat opened #3102 "Many npm dependency are deprecated"
In `npm install` (truncated) :

[code]

[2017-10-18 15:46] ksigler7 commented on #3053
@mamat-rahmat I got an email notification that you had added a link to this article (but it looks like you deleted it?): https://blog.codeship.com/improve-documentation-by-automating-spelling-and-grammar-checks/

Adding it back in because I think it's very on point

[2017-10-18 15:49] ksigler7 commented on #3092
sure @tulikavijay, thanks!

[2017-10-18 16:02] mamat-rahmat commented on #3053
@ksigler7 sorry for deleted that. The article talk about node-based tool. I was doubt that it was unrelated.
Btw, is ruby-based package preferred here? or open to others? (like node/python)

[2017-10-18 16:20] mamat-rahmat commented on #3053
Seems like (spellchecker)[https://rubygems.org/gems/spellchecker/versions/0.1.5] is lack of feature unmaintained.
I am researching about alternative tools. Gonna post about the result soon.

[2017-10-18 17:31] ksigler7 commented on #3053
@mamat-rahmat - I don't think it necessarily needs to be ruby based as long as we can still incorporate it into our build

[2017-10-18 17:50] ansh-ptel commented on #2797
where I have to include this X-message-id in Documentation?
@jacobmovingfwd @ksigler7 @kylearoberts

[2017-10-18 18:45] jacobmovingfwd commented on #2797
I would include it first & foremost in the Glossary, then link to it in:
mail.send v3, SMTP send, and Event Webhook.

On Wed, Oct 18, 2017 at 10:50 AM Anshu Patel <notifications@github.com>
wrote:

[2017-10-18 18:55] ksigler7 commented on #2797
I think the todo here is to add in an example response at the bottom of [this page](https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.html) that includes the `X-Message-ID` with a note after that says something like this -
{% info %}
If you are using the Event Webhook, it's best practice to store your X-Message-ID data help with deduplications in your webhook data.
{% endinfo %}

[2017-10-18 18:59] ksigler7 commented on #2797
@jacobmovingfwd - let's not do a glossary entry for this one, for clarities sake, let's just create a new issue for an X-Message-ID glossary entry

[2017-10-18 19:17] ksigler7 opened #3103 "create an `X-Message-ID`glossary entry"
This should be a new glossary entry, and then it should be linked on the glossary index page. For information about the `X-Message-ID`, see https://github.com/sendgrid/docs/issues/2797

[2017-10-18 19:18] ksigler7 commented on #2797
added a new issue for the glossary entry here: https://github.com/sendgrid/docs/issues/3103

[2017-10-18 19:41] #2750 closed

[2017-10-18 21:31] jacobmovingfwd opened #3105 "Clearer warning about subdomain selection."
## Expected content
Provide a warning that:
Parse should be a unique subdomain of  Whitelabeled Domain, not the same subdomain.
_If_ you use the same subdomain as your Whitelabeled Domain, you *must* have Automatic Security disabled on the Domain Whitelabel. Otherwise, those messages will bounce due to an infinite CNAME>MX loop.

## Actual content

**Link to page**: https://github.com/sendgrid/doc

[2017-10-19 00:24] thepriefy commented on #3102
This might not relate to the topic but I wanna ask if you can setup this project locally? Since I try to setup this project and failed.
I followed the 'Local Setup' instruction and got many errors.
Do I have to install anything before setup this project?

[2017-10-19 04:42] Logan1x commented on #3103
I would like to work on this @ksigler7

[2017-10-19 05:12] saideepd commented on #3088
### Where is the link to user guide page for contribution ?

[2017-10-19 15:54] duncanleung commented on #3093
Hi @ksigler7 can I take this up?

My understanding of this issue is:

**Update the [/Marketing_Campaigns/a_b_testing](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/a_b_testing.html) page**

- Update title of the page to "A/B testing your campaign"
- Break down the steps into the "jobs-to-be-done" format
- Each of the current sections could possibly be steps
- Include information from th

[2017-10-19 16:09] duncanleung commented on #3093
@ksigler7 I found a description of jobs-to-be-done format from another issue 3091

Jobs to be done style includes:
- Table of contents at the beginning
- "Additional Resources" section at the end
- Include sections to achieve the goal, with steps for each task (numbered steps, clear directions and correct UI workflow)

Maybe this 'jobs to be done format' should be written down on the main Readme /

[2017-10-19 17:45] DhariniJeeva commented on #3100
Can I try this?

[2017-10-19 19:19] Whatthefoxsays commented on #3100
Absolutely! I'll take the "up for grabs" tag down. Good luck!

[2017-10-19 19:21] #3099 closed

[2017-10-19 20:42] ksigler7 commented on #3103
sounds good @Logan1x! thanks!

[2017-10-19 20:48] ksigler7 opened #3119 "update redirect"
In the redirects.htcaccess file, update https://sendgrid.com/docs/Classroom/Deliver/enabling_custom_dkim.html
 to redirect here: https://sendgrid.com/docs/Classroom/Deliver/Sender_Authentication/internet_standards_spf_and_dkim_and_deliverability.html

[2017-10-19 20:55] dearkathie commented on #3119
grab this one

[2017-10-19 21:44] ksigler7 opened #3121 "Add library to supported libraries list"
Add https://packagist.org/packages/godpod/sendgrid to the community libraries list: https://sendgrid.com/docs/Integrate/libraries.html#-Community-libraries

[2017-10-19 21:45] Whatthefoxsays opened #3122 "Remove Basic Auth from Docs"
## To do:
Remove all instances of "Basic Auth" from the documentation.

**Link to page**:

[2017-10-19 21:47] ksigler7 opened #3123 "Update New Relic page title"
Change the page title from "New Relic" to "SendGrid for New Relic"
https://sendgrid.com/docs/Classroom/Track/Collecting_Data/new_relic.html

[2017-10-19 21:52] renatoselenica commented on #3123
I am doing this one :D

[2017-10-19 21:53] ksigler7 commented on #3123
thanks @renatoselenica!

[2017-10-19 21:56] ksigler7 opened #3124 "Add related links for all glossary pages"
https://sendgrid.com/docs/Glossary/index.html

The to do here is to add an "Additional Resources" section to each Glossary page that doesn't already have one. "Additional Resources" is an h2 section that contains three to five bullet points with links out to other closely related pages. These pages could be SendGrid blogs or docs pages with information about next steps, use cases, or other things

[2017-10-19 22:05] kaysiz commented on #3122
@Whatthefoxsays the To DO is missing link to page.

[2017-10-19 22:05] brittanyrw commented on #3124
I'd like to take on this task @ksigler7

[2017-10-19 22:05] ksigler7 opened #3126 "Add a glossary entry for "unknown user""
Unknown User - A hard bounce error indicating the email address (user) does not exist at the organization or domain.

Link to Delivery Metrics, Link to Bounces, Link to Subscriber List Management
Link to Deliverability Center

[2017-10-19 22:07] kaysiz commented on #3126
@ksigler7 any clue on how to tackle this? link to page?

[2017-10-19 22:09] ksigler7 commented on #3126
@kaysiz good question! Here is an example of another glossary page that was recently added that you could use as a template for what to do here: https://github.com/sendgrid/docs/pull/3083/files

[2017-10-19 22:23] ksigler7 opened #3131 "Update Black Hat Sender glossary entry"
On https://sendgrid.com/docs/Glossary/black_hat_sender.html, change

"A black hat sender is a sender/company who sends email to recipients who either send to recipients who have not given permission to senders to send to them."

to

"A black hat sender is a sender or company who sends email to recipients that didn't specifically requested to get emails from that sender. It is somebody that deliver

[2017-10-19 22:25] thepriefy commented on #3131
I'd like to take this one :)

[2017-10-19 22:27] kaysiz commented on #3131
@thepriefy sorry had my eyes on it already. :)

[2017-10-19 22:51] ksigler7 commented on #3131
@thepriefy can confirm, @kaysiz already has a pull request for this one. We really appreciate you're willingness to contribute though! Please check out our other easy issues here: https://github.com/sendgrid/docs/labels/difficulty%3A%20easy

[2017-10-19 22:52] ksigler7 commented on #3119
thanks @dearkathie!

[2017-10-19 22:53] ksigler7 commented on #3124
thanks @brittanyrw!

[2017-10-19 23:04] ksigler7 commented on #3122
Hey @kaysiz, good question, here's some more detail:

We now want all of our API Users to use an API Key to authenticate to their API instead of using Basic Authentication. There are still some remnants in the docs where we tell people to use Basic Authentication.

For example: In [this page](https://github.com/sendgrid/docs/blob/3fdfe03be5c80723abf14402b7746f049dbf955a/source/API_Reference/Web_AP

[2017-10-19 23:15] ksigler7 opened #3134 "Update the readme.md with more up to date instructions on setting up this repo locally"
Here are the up to date steps:

### Dependencies

**Required:**

- Git
- Xcode
- Java
- Rvm
- Yaml
- Homebrew
- npm
- git-flow
- bundler gem
- bower

### Setup Steps

**Install Git:** [http://git-scm.com/download/mac](http://git-scm.com/download/mac)

**Install a GitGUI **(if you want it) [http://mac.github.com](http://mac.github.com/)

**Install Xcode** (if you don't have it installed. Go the App

[2017-10-19 23:17] ksigler7 commented on #3102
@thepriefy, we have gotten this comment from several people and we've realized that our readme.md is very out of date! I have just opened up another issue here to update it with out latest process - https://github.com/sendgrid/docs/issues/3134 - hopefully the instructions in the issue should solve your problem, and if not, please let us know on the issue!

[2017-10-19 23:19] ksigler7 commented on #3102
@mamat-rahmat - this is a good point, even with the updated instructions, there are several of these deprecations. However, we are in the process of giving our site an overall update, so it's probably not worth it right now for anyone to spend the time upgrading the node dependencies (since they will go away soon anyway). So closing this issue for now, but may reopen it later if circumstances chan

[2017-10-19 23:19] #3102 closed

[2017-10-19 23:22] ksigler7 commented on #3093
@duncanleung thanks for taking this up! The User_Guide/Marketing_Campaigns/getting_started is a perfect example for what to follow.

that is a great idea to add jobs-to-be-done information to the readme! There's another issue open right now to update the readme, I will add this in!

[2017-10-19 23:24] ksigler7 commented on #3134
It would also be good to add a section about jobs-to-be-done format:

Jobs to be done style includes:

- Table of contents at the beginning
- "Additional Resources" section at the end
- Include sections to achieve the goal, with steps for each task (numbered steps, clear directions and correct UI workflow)

For an example, see [Sending a Campaign](https://sendgrid.com/docs/User_Guide/Marketing_Cam

[2017-10-19 23:25] ksigler7 commented on #3090
@Aonepathan sure! thanks for taking this up!

[2017-10-19 23:26] ksigler7 commented on #3088
@saideepd thanks for taking this up!

[2017-10-19 23:27] kaysiz commented on #3122
@ksigler7 thank you for the clarity..let me give it a try.

[2017-10-19 23:33] thepriefy commented on #3134
I'd like to do this one and thank you for updating the step so I can setup this repo locally.

[2017-10-20 01:02] thepriefy commented on #3134
may I ask some more questions @ksigler7
- what do you want to include in 'Additional Resources' section?

[2017-10-20 02:19] thepriefy commented on #3091
I'd like to take this one but I have a question.
- In https://sendgrid.com/docs/User_Guide/Settings/two_factor_authentication.html page, there is no section about 'Regaining access to my account...'. Where can I find the information about this?

[2017-10-20 02:21] jhuang314 commented on #3121
I'd like to work on this :)

[2017-10-20 06:45] hardikjain29 commented on #3121
I can help with this, if no one else is?

[2017-10-20 07:27] Sarthakagarwal22 commented on #3119
Kindly review my pr please [#3137](https://github.com/sendgrid/docs/pull/3137)

[2017-10-20 10:07] hardikjain29 commented on #3121
Sorry for so many display of commits, was trying to change author from work to own. But the PR contains only one commit. 😄

[2017-10-20 12:08] nicolasmdf commented on #3122
Working on it!

[2017-10-20 14:01] sarthak-code commented on #3103
Can I take this one up?

[2017-10-20 15:21] Logan1x commented on #3103
@sarthak-code  I am working on this.

[2017-10-20 16:28] hannahapuan commented on #3053
Looking at this. According to the [article](https://blog.codeship.com/improve-documentation-by-automating-spelling-and-grammar-checks/) @mamat-rahmat first posted, markdown-spellcheck with npm could work? I could just add the check in the build scripts in package.json. Is that what you are looking for in this project? @ksigler7

[2017-10-20 16:54] #3105 closed

[2017-10-20 17:26] vchrombie commented on #3134
Is there anything that I can help you?

[2017-10-20 21:13] #3119 closed

[2017-10-20 21:21] #3121 closed

[2017-10-20 21:25] #3123 closed

[2017-10-20 21:50] #3131 closed

[2017-10-20 21:56] #3092 closed

[2017-10-20 22:25] ksigler7 commented on #3134
@thepriefy good question! I'm taking this question as a suggestion to add something like a `## Styleguide` section with a `### About Jobs-to-be-done` section, and an `### About Additional Resources` section.

For the `### About Additional Resources` section, I would include something like this:

"Additional Resources" is an h2 section that contains three to five bullet points with links out to oth

[2017-10-20 22:26] ksigler7 commented on #3134
@thepriefy, I went ahead and merged in your first pull request on this! thank you so much for this update, it's clear that it was really needed. Did you plan on adding the new styleguide section, or did you want @vchrombie s help?

[2017-10-20 23:16] #3122 closed

[2017-10-20 23:27] #3124 closed

[2017-10-20 23:35] ksigler7 commented on #3091
@thepriefy - thanks for picking this one up!

Great question - that info is in the FAQ, which I apparently gave a broken link in the description. Here's the update link: https://sendgrid.com/docs/Classroom/Basics/Security/two_factor_authentication_faq.html

[2017-10-21 00:30] thepriefy commented on #3134
@ksigler7 @vchrombie can help me for adding Style Guide section. :)

[2017-10-21 00:44] thepriefy commented on #3134
@ksigler7 I've just created a PR for a minor change in the README.markdown file (some missing back-tic and formatting).

@vchrombie can start adding a style guide section to the file. Thanks for help. :)

[2017-10-21 03:00] ksigler7 commented on #3134
thanks @thepriefy!

[2017-10-21 07:54] Logan1x commented on #3103
@ksigler7  https://sendgrid.com/docs/Glossary/message_id.html isn't this same thing?

[2017-10-21 09:02] saideepd commented on #3088
@Whatthefoxsays @ksigler7 Does adding Table of Contents apply to the mentioned files inside all the folders under <a href="https://github.com/sendgrid/docs/tree/develop/source/User_Guide">User_Guide</a> page ?

[2017-10-21 18:32] ksigler7 commented on #3088
@saideepd - yep! We're still missing a few, like https://sendgrid.com/docs/User_Guide/email_activity.html

[2017-10-22 07:18] music-mind commented on #3134
Anything else to help with?

[2017-10-22 18:40] divyam3897 opened #3160 "Update README with badges"
## Expected content
1. The sendgrid logo at the top of the list
 2. Add License like so
 3. Missing other badges.

## Actual content
Editing the README.md like https://github.com/sendgrid/sendgrid-nodejs/pull/486

[2017-10-22 18:40] divyam3897 commented on #3160
I found this content missing in README, can I add them?

[2017-10-23 13:53] ng29 commented on #3126
@ksigler7 .. could you please lemme know what all contents should be added in the glossary entry ?..

[2017-10-23 18:28] archonadmin opened #3174 "Broken link"
https://sendgrid.com/docs/Glossary/blacklists.html

The links for AOL and AT&T are reversed (AOL links to AT&T and vice versa).  Also, the AT&T URL is not active.

[2017-10-23 18:55] Aonepathan commented on #3174
I can fix this issue.

[2017-10-23 21:17] #3098 closed

[2017-10-23 22:29] mbernier opened #3180 "Change these example email addresses"
Here is a list of email addresses we would like changed to `example@example.com`:

[code]

## Expected content
All these emails should be removed and replaced with `example@example.com`

## Actual content

This is pretty pervasive throughout the docs content.

[2017-10-23 22:34] andyvh commented on #3180
I can do it!

[2017-10-23 23:16] #2797 closed

[2017-10-23 23:18] ksigler7 commented on #3090
@Aonepathan and @thepriefy - thanks for working together on this!

[2017-10-23 23:18] #3090 closed

[2017-10-23 23:38] #3088 closed

[2017-10-23 23:45] #3160 closed

[2017-10-23 23:50] #3103 closed

[2017-10-24 00:21] andyvh commented on #3180
Really? I claimed that...

[2017-10-24 00:31] Freda46 commented on #3180
is it done? I can do it

[2017-10-24 01:07] Sidsharik commented on #3100
@Whatthefoxsays can I work on it?

[2017-10-24 07:27] thepriefy commented on #2983
Are you still working on this? @triphius

[2017-10-24 07:28] thepriefy commented on #2981
I would like to do this. Is this available?

[2017-10-24 08:48] Sarthakagarwal22 commented on #3103
@ksigler7 thanks a lot for merging, I wanted to ask, why is my score on leader board 0.

[2017-10-24 09:38] nalinbhardwaj commented on #3126
@ng29 Ah, I'm sorry I didn't claim this issue before, I just started work yesterday and forgot to make a comment here. Hopefully, you hadn't replicated the work yet.

[2017-10-24 12:15] triphius commented on #2983
@thepriefy Got a little sidetracked, but I am still working on it.

[2017-10-24 12:25] thepriefy commented on #2983
@triphius If you need any help, let me know. :)

[2017-10-24 12:42] triphius commented on #2983
@ksigler7 I created a PR into a separate branch for now.  It looks like there are some conflicts since my fork.  I'll take a look at them a bit later.

[2017-10-24 13:42] thepriefy commented on #3089
Are you working on this? May I help you? @Aonepathan

[2017-10-24 13:46] Aonepathan commented on #3089
@thepriefy Sure! A lot of the User Guides don't have Additional Resources, so it's been taking a little longer than I thought to link to corresponding guides. I started from the top of User Guides, you can start from the bottom up if you want or pick whichever, I've done the Email Activity, About the User Guide, and finishing up SendGrid for Mobile

[2017-10-24 13:56] thepriefy commented on #3089
So I'll update what I've done here too. :) @Aonepathan

[2017-10-24 15:06] thepriefy commented on #3089
What I've done so far
- Transactional Email
- Transactional Templates

I'll continue the rest tomorrow. :) @Aonepathan

[2017-10-24 15:11] sayak119 commented on #2862
@ksigler7 can I work on this . Make required changes in event webhook doc

[2017-10-24 15:33] Whatthefoxsays commented on #3100
@DhariniJeeva Are you still interested, or can @Sidsharik work on this issue?

[2017-10-24 16:06] SimonSickle commented on #3180
It is completed pending merge & review

[2017-10-24 16:12] ksigler7 commented on #3089
@Aonepathan and @thepriefy thanks so much for all the work you have done on this so far!

[2017-10-24 16:13] #3053 closed

[2017-10-24 16:14] ksigler7 commented on #2981
@hmbrown64 are you still planning to work on this?

[2017-10-24 16:15] ksigler7 commented on #2862
@sayak119 - sure, thanks!

[2017-10-24 16:17] hmbrown64 commented on #2981
@ksigler7 Yes I am!

[2017-10-24 16:36] #3174 closed

[2017-10-24 16:40] #3126 closed

[2017-10-24 18:39] PAPERPANKS commented on #3134
@ksigler7 open this issue there are some fixes to correct

[2017-10-24 18:43] PAPERPANKS commented on #3134
@ksigler7 thanks i will surely fix some

[2017-10-24 19:26] ksigler7 commented on #3091
@thepriefy - thanks for the pull requests! I think the only thing left to be done to close this issue is to delete https://sendgrid.com/docs/Classroom/Basics/Security/two_factor_authentication_faq.html

[2017-10-24 19:37] mbernier opened #3192 "In-page links may not be correct on 'design editor' page"
The in-page link for `Drag and Drop Code Examples` is not correct when linked within this page.

It should be: `#-Drag--Drop-Code-Examples` Not `#-Drag-&-Drop-Code-Examples`

Please fix this link and check the other in-page links from the web to make sure they are working properly.

**Link to page**:
https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/design_editor.html

[2017-10-24 19:49] joshuafbarker commented on #3192
I will take a look at this.

[2017-10-24 20:02] ng29 commented on #3192
The Drag and Drop Code Examples hyperlink was correct but the Drag & Drop Module Descriptions and Styles was not working. Kindly review my pr. Thank you.

[2017-10-24 20:40] dracowane0 commented on #3100
@Whatthefoxsays  ,kindly review the pr and lemme know if more content needs to be added as i have kept the content as concise as possible.
Thanks.

[2017-10-24 21:07] Whatthefoxsays commented on #3100
Hey @dracowane0, I appreciate your effort, but your PR describes the incorrect Settings panel. I was looking for the Settings panel located inside the Marketing Campaigns Code editor as shown in the attachment.
Sorry for any confusion!

![codeeditorsettings](https://user-images.githubusercontent.com/13628723/31968015-fec10102-b8cc-11e7-9f5c-9973275f6a13.png)

[2017-10-24 21:46] #2983 closed

[2017-10-24 21:55] #3192 closed

[2017-10-24 21:58] Aonepathan commented on #3089
Thanks @thepriefy , I'll add what I've done so far as well

[2017-10-24 22:38] #3093 closed

[2017-10-24 22:38] DhariniJeeva commented on #3100
Hi! I'm sorry I'm caught up with other things. He can work on this. Thanks

[2017-10-24 22:50] #3091 closed

[2017-10-25 07:45] ansh-ptel commented on #2797
`{% info %}
If you are using the Event Webhook, it's best practice to store your X-Message-ID data help with deduplications in your webhook data.
{% endinfo %}`

@ksigler7  it is already present there and there is also another x-message-id ` X-Message-Id →kA5kcHA8SVGtVh5S9rAUew`

x-message-id and this info is already present on that page.so what is the task?

[2017-10-25 12:35] dhruvmalik007 commented on #3134
Is there any Fixes still left??

[2017-10-25 13:11] thepriefy commented on #3134
let's wait for @paperpanks and @ksigler7 :)

[2017-10-25 14:16] triphius commented on #3089
@Aonepathan and @thepriefy, just so you know, one of my merges changed a page that you had already added this content to -- so I circled back and made sure your additions got added to the updated page.  :)

[2017-10-25 14:17] triphius commented on #3089
Oh... and if you guys need any additional help on this one, let me know.  :)

[2017-10-25 14:17] thepriefy commented on #3089
oh, thanks so much. :) @triphius

[2017-10-25 14:22] Aonepathan commented on #3089
Thanks @triphius , feel free to help out! There are a lot of pages that still need Additional Resources added, call dibs if you can so we can avoid conflicts!

[2017-10-25 14:31] triphius commented on #3089
@thepriefy @Aonepathan Okay, I'll call dibs on the Settings section.  :)

[2017-10-25 14:54] PAPERPANKS commented on #3134
@dhruvmalik007 Yes, you can verify the correctness of code snippets or git commands to ensure

[2017-10-25 15:38] Whatthefoxsays opened #3207 "Update Code Editor page to match UI changes"
## To do:

Looks like there have been some UI changes to the Marketing Campaigns Code Editor that we missed! Your mission is to go through [this page](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/code_editor.html) and update any steps or images that don't match the current UI. For example, there is no longer an "Image" tab. It has been updated to be an icon, but the steps do not reflec

[2017-10-25 15:57] Whatthefoxsays opened #3208 "Fix typos in transactional template documentation"
## To do:

Fix typos and broken markdown on [this page](https://sendgrid.com/docs/User_Guide/Transactional_Templates/create_edit.html).

[2017-10-25 16:04] ksigler7 opened #3209 "Delete two pages and redirect them"
delete https://sendgrid.com/docs/User_Guide/dashboard.html and redirect it to https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/getting_started.html

delete https://sendgrid.com/docs/User_Guide/about.html and redirect to https://sendgrid.com/docs/index.html

[2017-10-25 16:09] Whatthefoxsays opened #3210 "Update Apple Mail Integration Instructions with current iOS"
## To do:

Update the Apple Mail integration page with updated iOS information, steps, and screen shots.

**Link to page**: https://sendgrid.com/docs/Integrate/Mail_Clients/applemail.html

[2017-10-25 16:10] ksigler7 commented on #2978
some good info about this: http://blog.parse.com/learn/engineering/guest-post-create-an-ios-app-with-parse-and-sendgrid/

[2017-10-25 16:25] juanluischaurant commented on #3209
I got this one!

[2017-10-25 16:25] darshansharma commented on #3209
I will do it.

[2017-10-25 16:26] juanluischaurant commented on #3208
I got this one!

[2017-10-25 16:27] ksigler7 opened #3211 "Add some more content to the email suppressions page"
On this page: https://sendgrid.com/docs/User_Guide/Suppressions/invalid_emails.html

Add the following to the end of the first paragraph:

Before you send, SendGrid does a check against the format of the email address to attempt to verify its validity. If the recipient server checks the address and doesn't find it, they will send back a 550 bounce to say that this is an invalid email address.

[2017-10-25 16:29] harishnandan commented on #3209
I can help.

[2017-10-25 16:33] juanluischaurant commented on #3207
I got this one!

[2017-10-25 16:35] akoliyot commented on #3208
Hello @Whatthefoxsays Can I work on this?

[2017-10-25 16:36] yeshijinsel commented on #3211
so just paste the paragraph

[2017-10-25 16:36] Whatthefoxsays commented on #3208
@akoliyot Yup! I'll put an 'in progress' tag on it!

[2017-10-25 16:37] ksigler7 commented on #3211
@yeshijinsel yep, at the end of the first paragraph

[2017-10-25 16:43] Whatthefoxsays opened #3213 "Create Invalid Email glossary page"
## To do:

Write an "Invalid Email" glossary page.

Feel free to edit this for content/grammar:

An invalid email occurs when you attempt to send email to an address that is formatted in a manner that does not meet internet email format standards. Examples include addresses without the “@” sign or addresses that include certain special characters and/or spaces. This response comes from our own ser